/*=======================================                 haqto_feedback_wrap                           =========================================*/

.haqto_feedback_wrap {
    background: #fdf9f8;
    padding: 90px 0;
    .sec_title {
        margin-bottom: 55px;
    }
}

.haqto_review_slider_wrap {}

.haqto_review_slider {
    margin-bottom: -70px;
    .slick-arrow {
        width: 50px;
        height: 50px;
        border: 1px solid rgba(242, 56, 146, 0.5);
        border-radius: 50%;
        box-sizing: border-box;
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
        // background-image: linear-gradient( 90deg, #fdf9f8 0%, #fdf9f8 100%), linear-gradient( 50deg, rgba(242, 56, 146, 1) 0%, rgba(154, 17, 218, 1) 100%);
        transition: all 0.5s;
        z-index: 1;
        top: calc(50% - 50px);
        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 50%;
            border: 1px solid transparent;
            background-image: linear-gradient( 50deg, rgb(242, 56, 145) 0%, rgb(154, 17, 218) 100%);
            transition: all 0.5s;
            opacity: 0;
            z-index: -1;
        }
        &:hover {
            //background-image: linear-gradient( 50deg, rgb(242, 56, 145) 0%, rgb(154, 17, 218) 100%);
            box-shadow: 0px 20px 30px 0px rgba(172, 21, 170, 0.3);
            border: none;
            &::before {
                color: #fff;
            }
            &::after {
                opacity: 1;
            }
        }
        &::before {
            font-family: 'eleganticons';
            color: #f23891;
            font-weight: 700;
        }
        &.slick-prev {
            &::before {
                content: "\23";
            }
        }
        &.slick-next {
            &::before {
                content: "\24";
            }
        }
    }
}

.slider_inner {
    max-width: 770px;
    width: 100%;
    margin: 0 auto 100px;
    box-shadow: 0px 30px 60px 0px rgba(172, 21, 170, 0.1);
    border: 5px solid transparent;
    box-sizing: border-box;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient( 90deg, #fff 0%, #fff 100%), linear-gradient( 50deg, rgba(242, 56, 146, 0.3) 0%, rgba(154, 17, 218, 0.3) 100%);
    border-radius: 10px;
    padding: 35px 50px 50px;
    position: relative;
    &:before {
        position: absolute;
        content: "";
        width: 22px;
        height: 22px;
        box-shadow: 0px 30px 60px 0px rgba(172, 21, 170, 0.1);
        border: 5px solid transparent;
        box-sizing: border-box;
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
        background-image: linear-gradient(90deg, #fff 0%, #fff 100%), linear-gradient(50deg, rgb(242, 190, 230) 0%, rgb(240, 190, 231) 100%);
        bottom: -11px;
        left: 0;
        right: 0;
        margin: 0 auto;
        transform: rotate(45deg);
        border-left-color: #0000;
        border-top-color: #0000;
    }
    &:after {
        position: absolute;
        content: "";
        width: 46px;
        height: 22px;
        background: #ffffff;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 0;
    }
    .img {
        margin-bottom: 30px;
        img {
            display: inline-block;
        }
    }
    p {
        color: #707b8e;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        font-family: $pop;
        margin-bottom: 25px;
    }
    .rating_star {
        .icon_star {
            color: #bdc6d5;
            font-size: 14px;
            &.full {
                color: #ffba00;
            }
        }
    }
}

.haqto_review_text_slider {
    display: flex;
    justify-content: center;
    margin-top: -60px;
    max-width: 330px;
    width: 100%;
    margin: 0 auto;
    .slick-slide.slick-current.slick-active.slick-center {
        .haqto_review_thumb_slider_item {
            .slider_text_content {
                opacity: 1;
                visibility: visible;
            }
            .haqto_text_slider_img {
                transform: scale(1.6);
            }
        }
    }
}

.haqto_review_thumb_slider_item {
    position: relative;
    padding: 0 10px;
    cursor: pointer;
    .slider_text_content {
        opacity: 0;
        visibility: hidden;
        transition: all 1s;
        position: absolute;
        width: max-content;
        bottom: -65px;
        left: 50%;
        transform: translateX(-50%);
    }
    .name {
        color: #4d446b;
        font-family: $pop;
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
    }
    .catagory {
        color: #707b8e;
        font-family: $pop;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
    }
}

.haqto_text_slider_img {
    margin-bottom: 20px;
    transition: all 1s;
    img {
        max-width: 44px;
        width: 100%;
        display: inline-block;
    }
}

.haqto_review_thumb_slider_item {
    margin-bottom: 70px;
    margin-top: 40px;
}

.haqto_lifestyle_feedback_wrap {
    padding: 200px 0 50px;
    position: relative;

    .bg_shape {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.haqto_lifestyle_feedback_slider {
    .slick-arrow {
        border: 1px solid #5268f2;
        color: #5268f2;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        z-index: 1;
        transition: all 0.5s;
        top: 50%;
        transform: translateY(-50%);
        box-shadow: none;
        outline: none;
        position: absolute;
        &::before {
            font-family: 'eleganticons';
            color: #5268f2;
            font-weight: 600;
            transition: all 0.5s;
        }
        &.slick-prev {
            &::before {
                content: "\23";
            }
        }
        &.slick-next {
            &::before {
                content: "\24";
            }
        }
        &:hover {
            background-color: #5268f2;
            box-shadow: 0px 20px 30px 0px rgba(63, 80, 186, 0.3);
            &::before {
                color: #fff;
            }
        }
    }
    .slick-prev, .slick-next {

    }
}

.haqto_lifestyle_feedback_slider_item {
    .haqto_lifestyle_feedback_item_inner {
        box-shadow: 0px 20px 30px 0px rgba(3, 11, 61, 0.04);
        background: #fff;
        max-width: 770px;
        width: 100%;
        margin: 60px auto 100px;
        border-radius: 10px;
        padding: 0px 50px 60px;
        .member_img {
            margin-bottom: 25px;
            img {
                width: 90px;
                height: 90px;
                border-radius: 50%;
                margin: -50px auto 0;
                border: 5px solid #fff;
                box-shadow: 0px 30px 40px 0px rgba(3, 11, 61, 0.16);
                display: inline-block;
            }
        }
        .member_name {
            color: #4d446b;
            font-size: 20px;
            line-height: 26px;
            font-weight: 600;
        }
        .member_catagory {
            color: #707b8e;
            font-size: 16px;
            line-height: 26px;
            font-weight: 400;
            margin-bottom: 33px;

        }
        .details {
            color: #707b8e;
            font-size: 20px;
            line-height: 34px;
            font-weight: 400;
            margin-bottom: 33px;

        }
    }
}


/*=======================================                 haqto_feedback_wrap                           =========================================*/