/*=====================================              haqto_call_to_action_wrap                   =======================================*/

.haqto_call_to_action_wrap {
    background-image: -moz-linear-gradient( 0deg, rgb(82, 104, 242) 0%, rgb(20, 176, 209) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(82, 104, 242) 0%, rgb(20, 176, 209) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(82, 104, 242) 0%, rgb(20, 176, 209) 100%);
    padding: 33px 0;
    position: relative;
    overflow: hidden;
    .shape_1 {
        position: absolute;
        top: -225px;
        left: -300px;
    }
    .shape_2 {
        position: absolute;
        bottom: -440px;
        right: -450px;
    }
}

.haqto_call_to_action_content {
    .call_title {
        color: #fff;
        font-size: 50px;
        line-height: 60px;
        font-weight: 600;
        font-family: $pop;
        margin-bottom: 10px;
    }
    .call_para {
        color: #fff;
        font-weight: 400;
        font-family: $pop;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 42px;
    }
    .haqto_dbtn {
        color: $tcolor;
        background: #fff;
        box-shadow: 0px 20px 30px 0px rgba(9, 78, 130, 0.2);
        &:hover {
            box-shadow: none;
        }
    }
}

.haqto_call_to_action_img {
    img {}
}

.business_call_img_group {
    position: relative;
    margin-bottom: 55px;
    padding-top: 10px;
    .man_with_laptop {
        position: relative;
        z-index: 1;
    }
    .arrow {
        position: absolute;
        bottom: -65px;
        left: -40px;
    }
    .chart {
        position: absolute;
        left: 42px;
        bottom: 40px;
        z-index: 1;
    }
    .gear_icon {
        position: absolute;
        top: 60px;
        left: 70px;
        img {
            animation: round_circle 15s linear infinite;
        }
    }
    .man_1 {
        position: absolute;
        bottom: 6px;
        left: 127px;
        z-index: 1;
    }
    .man_2 {
        position: absolute;
        bottom: 6px;
        left: 0;
        z-index: 1;
    }
}

.haqto_call_to_action_two_wrap {
    background: linear-gradient( -120deg, rgb(238, 109, 149) 0%, rgb(235, 223, 180) 100%);
    position: relative;
    min-height: 700px;
    display: flex;
    align-items: center;
    overflow: hidden;
    .haqto_call_to_action_content {
        max-width: 475px;
        width: 100%;
        .sec_title2 {
            margin-bottom: 20px;
            color: #fff;
        }
        .call_para {
            margin-bottom: 50px;
        }
        .haqto_btn_group {
            .btn_solid {
                background: #ee6d95;
                border-radius: 28px;
                color: #fff;
                padding: 10px 34px;
                margin-bottom: 7px;
                box-shadow: 0px 20px 30px 0px rgba(185, 62, 100, 0.24);
                &:hover {
                    color: #ee6d95;
                    background: #fff;
                    box-shadow: none;
                }
                .btn_inner {
                    display: flex;
                    align-items: center;
                    .icon {
                        margin-right: 15px;
                        .iconify {
                            font-size: 26px;
                        }
                    }
                    .text {
                        font-size: 18px;
                        line-height: 16px;
                        font-weight: 500;
                        small {
                            font-size: 14px;
                            line-height: 16px;
                            font-weight: 400;
                        }
                    }
                }
                &+.btn_solid {
                    color: #ee6d95;
                    background: #fff;
                    margin-left: 15px;
                    box-shadow: none;
                    padding: 10px 26px;
                    &:hover {
                        color: #fff;
                        background: #ee6d95;
                        border-color: #ee6d95;
                        box-shadow: 0px 20px 30px 0px rgba(185, 62, 100, 0.24);
                    }
                    .btn_inner {
                        .icon {
                            .iconify {
                                font-size: 34px;
                            }
                        }
                        .text {
                            small {}
                        }
                    }
                }
            }
        }
    }
}

.pos_static {
    position: static;
}

.haqto_call_to_action_img_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .call_img_1 {
        position: absolute;
        top: -450px;
        left: -330px;
    }
    .call_img_2 {
        position: absolute;
        top: 170px;
        left: -190px;
    }
    .call_img_3 {
        position: absolute;
        bottom: -785px;
        left: 325px;
    }
}

.haqto_call_to_action_three {
    background: #4f29dd;
    padding: 155px 0;
    .shape_3 {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .haqto_call_to_action_img {
        .call_to_action_three_img {
            position: relative;
            margin-left: 60px;
            .pos_abs {
                position: absolute;
            }
            .call_man_img {
                top: -75px;
                left: 85px;
                z-index: 1;
            }
            .call_img_2 {
                bottom: -195px;
                left: -64px;
            }
            .cloud_1 {
                left: -115px;
                top: 10px;
                img {
                    animation: cloud 5s linear infinite alternate;
                }
            }
            .cloud_2 {
                left: 312px;
                top: 35px;
                img {
                    animation: cloud 9s linear infinite alternate;
                }
            }
            .cloud_3 {
                bottom: -80px;
                left: 345px;
            }
            .dots {
                left: -155px;
                top: 130px;
                img {
                    animation: cloud 8s linear infinite alternate;
                }
            }
            .dot_s {
                top: -85px;
                left: 35px;
                img {
                    animation: cloud 7s linear infinite alternate;
                }
            }
            .pen {
                bottom: -100px;
                left: -65px;
                img {
                    animation: upDown 5s linear infinite alternate;
                }
            }
            .line {
                top: 180px;
                left: 420px;
                img {
                    animation: cloud 5s linear infinite alternate;
                }
            }
        }
    }
    .haqto_call_to_action_content {
        .sec_title {
            color: #fff;
            margin-bottom: 22px;
        }
        .para {
            color: #ffffff;
            font-size: 16px;
            line-height: 28px;
            font-weight: 400;
            font-family: $pop;
            margin-bottom: 28px;
        }
        .haqto_dbtn {
            border: 2px solid #fff;
            background: transparent;
            color: #fff;
            margin-top: 12px;
            &:hover {
                background: #fff;
                color: $tcolor;
            }
        }
    }
}

.haqto_call_to_action_four {
    background-image: -moz-linear-gradient( 180deg, rgb(242, 56, 145) 0%, rgb(154, 17, 218) 100%);
    background-image: -webkit-linear-gradient( 180deg, rgb(242, 56, 145) 0%, rgb(154, 17, 218) 100%);
    background-image: -ms-linear-gradient( 180deg, rgb(242, 56, 145) 0%, rgb(154, 17, 218) 100%);
    position: relative;
    overflow: hidden;
    padding: 105px 0 110px;
    .shape_1 {
        position: absolute;
        top: 0;
        left: 0;
    }
    .shape_2 {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .haqto_call_to_action_content {}
    .call_title {}
    .call_para {
        margin-bottom: 0;
    }
    .haqto_call_btn_group {
        .haqto_dbtn {
            padding: 20px 42px;
            border-radius: 30px;
            
            color: #fff;
            border: 2px solid #fff;
            background: transparent;
            box-shadow: none;

            &:hover {
                color: #f23891;
                background: #fff;
                box-shadow: 0px 20px 30px 0px rgba(44, 35, 77, 0.16);
            }
        }
    }
}

.haqto_call_to_action_four.haqto_call_to_action_five {
    background-image: none;
    background-color: #3197ff;
    .haqto_call_btn_group {
        .haqto_dbtn {
            color: #3197ff;
            background: #fff;
            border: none;
            box-shadow: 0px 20px 30px 0px rgba(3, 38, 74, 0.16);
            &:hover {
                box-shadow: none;
            }
        }
    }
}

.haqto_lifestyle_call_to_action_wrap {
    position: relative;
    padding: 110px 0 116px;
    overflow: hidden;
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #5268f2;
        opacity: 0.96;
    }
}

.haqto_lifestyle_call_to_action_inner {
    .sec_title {
        color: #fff;
        margin-bottom: 15px;
    }
    .sec_para {
        color: #fff;
        margin-bottom: 43px;
    }
    .haqto_btn_group {
        .haqto_dbtn {
            color: #5268f2;
            background: #fff;
            border: 1px solid #fff;
            padding: 20px 50px;
            border-radius: 30px;
            box-shadow: 0px 20px 30px 0px rgba(74, 3, 25, 0.16);
            &:hover {
                box-shadow: none;
            }
        }
    }
}

.haqto_travel_call_to_action {
    background: #fcfdfe;
    padding: 130px 0 136px;
}
.haqto_travel_call_to_action_content {
    .sec_title {
        color: #273c63;
        margin-bottom: 10px;
    }
    .sec_para {
        color: #707b8e;
        margin-bottom: 40px;
    }
    .haqto_btn_group {
        .haqto_dbtn {
            border-color: #ff5e00;
            background: #ff5e00;
            color: #fff;
            box-shadow: 0px 20px 30px 0px rgba(199, 82, 14, 0.2);
            &:hover {
                box-shadow: none;
            }
        }
    }
    .haqto_dbtn {

    }
}


/*=====================================              haqto_call_to_action_wrap                   =======================================*/