/*=====================================           haqto_analytics_wrap               =================================================*/

.haqto_analytics_wrap {
    position: relative;
    overflow: hidden;
    padding: 140px 0 180px;
    .haqto_analytics_bg_shape {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.haqto_analytics_img_content {
    .analytics_img_inner {
        display: inline-grid;
        position: relative;
        z-index: 1;
        .analytics_mockup {
            box-shadow: 0px 60px 100px 0px rgba(74, 3, 25, 0.2);
        }
        .analytics_member_1 {
            position: absolute;
            right: -50px;
            top: 45px;
            border-style: solid;
            border-width: 4px;
            border-color: rgb(255, 255, 255);
            border-radius: 50%;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 40px 50px 0px rgba(185, 62, 100, 0.12);
        }
        .analytics_member_2 {
            position: absolute;
            left: -70px;
            top: 330px;
            border-style: solid;
            border-width: 4px;
            border-color: rgb(255, 255, 255);
            border-radius: 50%;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 40px 50px 0px rgba(185, 62, 100, 0.12);
        }
        .analytics_shape {
            position: absolute;
            left: -50px;
            bottom: 0px;
            z-index: -1;
        }
        .analytics_icon_1 {
            position: absolute;
            left: -115px;
            bottom: 152px;
            border-radius: 50%;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 20px 30px 0px rgba(185, 62, 100, 0.14);
        }
        .analytics_icon_2 {
            position: absolute;
            right: -80px;
            bottom: 50px;
            border-radius: 50%;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 20px 30px 0px rgba(185, 62, 100, 0.14);
        }
        .analytics_icon_3 {
            position: absolute;
            left: -150px;
            top: 0;
            border-style: solid;
            border-width: 4px;
            border-color: rgb(255, 255, 255);
            border-radius: 50%;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 20px 30px 0px rgba(185, 62, 100, 0.12);
        }
    }
}

.haqto_analytics_content {
    .sec_title2 {
        margin-bottom: 30px;
    }
    .analytics_para {
        color: #707b8e;
        margin-bottom: 50px;
    }
    .analytics_devices {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            color: #ee6d95;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            font-family: $pop;
            display: flex;
            margin-bottom: 27px;
            i {
                margin-right: 22px;
            }
        }
    }
}


/*=====================================           haqto_analytics_wrap               =================================================*/