/*=================================            haqto_height_rated_security_wrap                           ===================================*/
.haqto_height_rated_security_wrap {
padding: 30px 0 0;
margin-bottom: -130px;
overflow: hidden;
}
.haqto_height_rated_security_contant {
    padding-top: 110px;
    .sec_title {
        margin-bottom: 20px;
        color: #4d446b;
    }
    .sec_para {
        color: #707b8e;
        line-height: 32px;
        margin-bottom: 40px;
    }
    .haqto_btn_group {
        .haqto_dbtn {
            background: #3197ff;
            border-color: #3197ff;
            color: #fff;
            &:hover {
                // color: #3197ff;
                // background: transparent;
                box-shadow: 0px 20px 30px 0px rgba(6, 78, 150, 0.2);
            }
        }
    }
}
.haqto_height_rated_security_img {
    .img_inner {
        position: relative;
        z-index: 1;
        .circle_img {
            position: absolute;
            right: -140px;
            top: 110px;
            z-index: -1;
            .circle {
                border-radius: 50%;
                background-image: linear-gradient( -110deg, rgb(49,151,255) 0%, rgb(116,3,255) 100%);
                width: 370px;
                height: 370px;
            }
        }
        .shape_mockup_mobile {
            position: relative;
            .shape_tab {
                margin-left: -98px;
                img {
                    animation: slideInnew3 .9s both 1s;
                }
            }
            .shape_mobile {
                position: absolute;
                bottom: 20px;
                right: -242px;
                img {
                    animation: slideInnew5 .9s both 1.4s;
                }
            }
        }
        .Vector_color {
            position: absolute;
            left: 0;
            bottom: 270px;
            z-index: -1;
        }
    }
}
/*=================================            haqto_height_rated_security_wrap                           ===================================*/