/*===========================================         haqto_download_app_wrap             ===============================================*/

.haqto_download_app_wrap {
    padding: 140px 0 0;
    background: #fafbfc;
    overflow: hidden;
}

.haqto_mockup_img {
    padding-left: 0;
    .mockup_inner {
        position: relative;
        z-index: 1;
        .download_1 {}
        .download_2 {
            position: absolute;
            left: 140px;
            bottom: 0;
        }
        .circle_1 {
            border-radius: 50%;
            background-image: -moz-linear-gradient( 50deg, rgb(82, 104, 242) 0%, rgb(20, 176, 209) 100%);
            background-image: -webkit-linear-gradient( 50deg, rgb(82, 104, 242) 0%, rgb(20, 176, 209) 100%);
            background-image: -ms-linear-gradient( 50deg, rgb(82, 104, 242) 0%, rgb(20, 176, 209) 100%);
            opacity: 0.078;
            position: absolute;
            left: -70px;
            bottom: -50px;
            width: 500px;
            height: 500px;
            border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
            will-change: border-radius, transform, opacity;
            animation: circle_animation 5s linear infinite;
            z-index: -1;
        }
        .circle_2 {
            border-radius: 50%;
            background-image: -moz-linear-gradient( 50deg, rgb(82, 104, 242) 0%, rgb(20, 176, 209) 100%);
            background-image: -webkit-linear-gradient( 50deg, rgb(82, 104, 242) 0%, rgb(20, 176, 209) 100%);
            background-image: -ms-linear-gradient( 50deg, rgb(82, 104, 242) 0%, rgb(20, 176, 209) 100%);
            opacity: 0.078;
            position: absolute;
            left: -119px;
            bottom: -107px;
            width: 420px;
            height: 420px;
            border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
            will-change: border-radius, transform, opacity;
            animation: circle_animation 7s linear infinite;
            z-index: -1;
        }
    }
}

.haqto_download_app_content {
    padding-top: 22px;
    .sec_title {
        margin-bottom: 20px;
    }
    .download_para {
        margin-bottom: 40px;
    }
    .haqto_btn_group {
        display: flex;
        align-items: center;
        .haqto_dbtn {
            font-size: 18px;
            &.btn_solid_color {
                box-shadow: 0px 20px 30px 0px rgba(9, 25, 130, 0.2);
                padding: 11px 27px;
                margin-right: 20px;
                .iconify {
                    font-size: 26px;
                    margin-right: 6px;
                }
                &:hover {
                    box-shadow: none;
                }
            }
            &.btn_border {
                box-shadow: none;
                padding: 7px 27px 7px 20px;
                display: inline-flex;
                align-items: center;
                .iconify {
                    font-size: 34px;
                    margin-right: 8px;
                }
                &:hover {
                    box-shadow: 0px 20px 30px 0px rgba(9, 25, 130, 0.2);
                }
            }
        }
    }
}

.haqto_download_app_two_wrap {
    padding: 65px 0 150px;
}

.haqto_download_two_content {
    max-width: 470px;
    width: 100%;
    .sec_title2 {
        margin-bottom: 30px;
    }
    .language {
        color: #4d446b;
        font-size: 24px;
        font-weight: 500;
        font-family: $pop;
        line-height: 28px;
        margin-bottom: 20px;
    }
    .language_list {
        margin: 0 0 40px;
        padding: 0 0 40px;
        list-style: none;
        border-bottom: 1px solid #f0eaed;
        li {
            display: inline-block;
            color: #707b8e;
            font-size: 16px;
            font-weight: 400;
            line-height: 32px;
            font-family: $pop;
            margin-right: 38px;
        }
    }
}

.haqto_download_count {
    display: flex;
    .count_item {
        margin-right: 60px;
        &:last-child {
            margin-right: 0;
        }
        .count {
            border-radius: 50%;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 4px 6px 0px rgba(185, 62, 100, 0.08);
            width: 90px;
            height: 90px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 8px;
            .count_inner {
                span {
                    display: block;
                    text-align: center;
                }
                .count_number {
                    color: #ee6d95;
                    font-size: 30px;
                    line-height: 28px;
                    font-weight: 600;
                    font-family: $pop;
                }
                .count_name {
                    color: #ee6d95;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: 400;
                    font-family: $pop;
                }
            }
        }
        .count_title {
            color: #707b8e;
            font-size: 16px;
            line-height: 30px;
            font-weight: 400;
            font-family: $pop;
        }
    }
}

.haqto_download_two_img_content {
    text-align: center;
    .img_inner {
        display: inline-block;
        position: relative;
        z-index: 1;
        .download_two_mockup2 {
            box-shadow: 0px 60px 100px 0px rgba(74, 3, 25, 0.2);
            border-radius: 20px;
        }
        .download_two_shape {
            position: absolute;
            bottom: -100px;
            right: -50px;
            z-index: -1;
        }
    }
}

.haqto_download_app_three_wrap {
    background: #fdf9f8;
    padding-top: 65px;
    margin-bottom: 168px;
    .haqto_download_app_content {}
    .sec_title {
        color: #4d446b;
    }
    .download_para {
        color: #707b8e;
        font-size: 16px;
        line-height: 28px;
        max-width: 530px;
        width: 100%;
        margin: 0 auto 60px;
    }
    .haqto_btn_group {
        justify-content: center;
        margin-bottom: 80px;
        .haqto_dbtn {
            color: #f23891;
            border: none;
            position: relative;
            background: transparent;
            z-index: 1;
            &.haqto_dbtn {
                margin-left: 20px;
            }
            &::before {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 28px;
                content: "";
                box-sizing: border-box;
                background-clip: padding-box, border-box;
                background-origin: padding-box, border-box;
                background-image: linear-gradient( 90deg, #f23891 0%, #9a11da 100%);
                transition: all 0.5s;
                z-index: -1;
                opacity: 0;
            }
            &::after {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 28px;
                content: "";
                border: 2px solid transparent;
                box-sizing: border-box;
                background-clip: padding-box, border-box;
                background-origin: padding-box, border-box;
                background-image: linear-gradient( 90deg, #fdf9f8 0%, #fdf9f8 100%), linear-gradient( 90deg, #f23891 0%, #9a11da 100%);
                transition: all 0.5s;
                z-index: -1;
            }
            &:hover {
                color: #fff;
                box-shadow: 0px 20px 30px 0px rgba(172, 21, 170, 0.2);
                &::before {
                    opacity: 1;
                }
                &::after {
                    opacity: 0;
                }
            }
            &.btn_google_play {
                padding: 12px 31px;
                color: #fff;
                box-shadow: 0px 20px 30px 0px rgba(172, 21, 170, 0.2);
                .icon {
                    font-size: 26px;
                }
                &::before {
                    opacity: 1;
                }
                &::after {
                    opacity: 0;
                }
                &:hover {
                    box-shadow: none;
                }
            }
            &.btn_apple {
                padding: 8px 32px;
                .icon {
                    font-size: 34px;
                }
            }
            &.btn_windows {
                padding: 13px 31px;
                background: transparent;
                border: 2px solid #f23891;
                &::before,
                &::after {
                    display: none;
                }
                .icon {
                    font-size: 20px;
                    margin-right: 8px;
                }
                &:hover {
                    background: #f23891;
                }
            }
        }
    }
    .download_mockup_device {
        margin-bottom: -168px;
        margin-left: -50px;
        img {}
    }
}


/*===========================================         haqto_download_app_wrap             ===============================================*/