/*=======================           global style           ============================*/
.sec_sub_title_2 {
    font-size: 36px;
    line-height: 44px;
    color: #273c63;
    font-weight: 300;
}

.sec_title_2 {
    font-size: 36px;
    line-height: 44px;
    color: #273c63;
    font-weight: 600;
}

/*=======================           global style           ============================*/


/*=======================           haqto_health_banner style           ============================*/

/*=======================           haqto_health_header style           ============================*/
.haqto_health_header.haqto_header {
    .header_nav {
        .haqto_header_menu {
            .haqto_try_for_free {
                box-shadow: none;
                color: #fff;
                background: transparent;
                border-color: rgba(255, 255, 255, 0.5);

                &:hover {
                    color: #fff;
                    background: #6bc33c;
                    border: 2px solid #6bc33c;
                }
            }
        }
    }

    &.fixedMenu {
        .header_nav {
            .haqto_header_menu {
                .haqto_try_for_free {
                    border-color: #6bc33c;
                    color: #6bc33c;

                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }
}

/*=======================           haqto_health_header style           ============================*/

.haqto_health_banner {
    background-image: url(../images/home_health/banner/banner_bg_1.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: scroll;
    background-size: cover;
    position: relative;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(10, 22, 46, 0.6);
    }

    .haqto_banner_content {
        padding: 305px 0 171px;

        .banner_title {
            margin-bottom: 15px;
        }

        .banner_para {
            margin-bottom: 42px;
        }

        .already_have {
            a {
                color: #6bc33c;
                position: relative;

                &::before {
                    position: absolute;
                    content: "";
                    ;
                    bottom: 0;
                    right: 0;
                    width: 0;
                    height: 1px;
                    background: #6bc33c;
                    transition: all 0.5s;
                }

                &:hover {
                    &::before {
                        right: auto;
                        left: 0;
                        width: 100%;
                    }
                }
            }
        }

        .haqto_btn_group {
            margin-bottom: 33px;

            .haqto_dbtn {
                color: #fff;
                background: #6bc33c;
                border: 2px solid #6bc33c;

                &:hover {
                    // box-shadow: 0px 20px 30px 0px rgba(14, 199, 171, 0.2);
                    border-color: rgba(255, 255, 255, 0.5);
                    background: transparent;
                }
            }
        }
    }
}

.haqto_health_banner_img {
    text-align: right;
    position: relative;
    padding-top: 362px;
    margin-bottom: -100px;
    z-index: 1;

    .img_mobile {
        img {}
    }

    .img_watch {
        position: absolute;
        bottom: -45px;
        right: 210px;

        img {}
    }
}

/*=======================           haqto_health_banner style           ============================*/

/*=======================           haqto_fitness_wrap style           ============================*/
.haqto_fitness_wrap {
    padding: 120px 0;
}

.haqto_fitness_content {
    padding-top: 42px;
    max-width: 400px;
    width: 100%;

    .sec_sub_title_2 {}

    .sec_title_2 {
        margin-bottom: 25px;
    }

    .f_sec_para {
        color: #707b8e;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 52px;
    }

    .haqto_dbtn {
        border: 2px solid #6bc33c;
        color: #6bc33c;

        &:hover {
            background: #6bc33c;
            color: #fff;
            box-shadow: 0px 20px 30px 0px rgba(51, 130, 9, 0.2);
        }
    }
}

.haqto_fitness_img_content {
    position: relative;

    .fitness_r_img {
        border-radius: 8px;

        img {}
    }

    .fitness_mockup_img {
        position: absolute;
        right: 370px;
        bottom: -60px;
        z-index: 1;

        img {}
    }
}

/*=======================           haqto_fitness_wrap style           ============================*/

/*=======================           haqto_h_service_wrap style           ============================*/
.haqto_h_service_wrap {
    padding: 135px 0 140px;
}

.haqto_h_service_item {
    margin-bottom: 185px;

    &:last-child {
        margin-bottom: 0;
    }
}

.haqto_h_service_item_img {
    .item_img_inner {
        img {}
    }
}

.haqto_h_service_item_content {
    max-width: 440px;
    width: 100%;
    padding-top: 15px;

    .ser_title {
        color: #273c63;
        font-size: 24px;
        line-height: 36px;
        font-weight: 600;
        margin-bottom: 25px;
    }

    .ser_para {
        color: #707b8e;
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
        margin-bottom: 32px;
    }
}

.h_ser_item {
    display: flex;
    max-width: 330px;
    width: 100%;
    margin-bottom: 32px;

    .icon {
        margin-right: 20px;

        i {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid rgba(0, 186, 158, 0.5);
            color: #00ba9f;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;

            &.l_green {}

            &.l_red {
                border-color: rgba(255, 65, 62, 0.5);
                color: #ff403e;
            }
        }
    }

    .h_ser_con {
        h5 {
            color: #273c63;
            font-size: 18px;
            font-weight: 500;
            line-height: 28px;
            margin-bottom: 10px;
        }

        p {
            color: #707b8e;
            font-size: 16px;
            line-height: 26px;
            font-weight: 400;
        }
    }
}

/*=======================           haqto_h_service_wrap style           ============================*/

/*=======================           haqto_health_call_to_action_wrap style           ============================*/
.haqto_health_call_to_action_wrap {
    background: #fafbfc;
    overflow: hidden;
    padding: 130px 0 0;
    height: 600px;

}

.haqto_health_call_to_img {
    .img_1 {
        margin-top: 55px;

        img {}
    }

    .img_2 {
        img {}
    }
}

.haqto_health_call_to_contant {
    padding-top: 26px;
    max-width: 500px;
    width: 100%;

    .sec_sub_title_2 {}

    .sec_title_2 {
        margin-bottom: 15px;
    }

    .c_sec_para {
        color: #707b8e;
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
        margin-bottom: 40px;
    }

    .haqto_btn_group {
        display: flex;

        .haqto_dbtn {
            color: #fff;
            background: #273c63;
            border-color: #273c63;
            padding: 5px 25px 14px;
            border-radius: 30px;
            margin-right: 20px;

            .btn_inner {
                display: flex;
                align-items: center;

                .g_play {
                    display: inline-block;
                    margin-top: 4px;
                }

                .icon {
                    margin-right: 10px;

                    &.apple {
                        font-size: 38px;
                    }
                }

                .text {
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 18px;

                    small {
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 20px;
                    }
                }
            }

            &:hover {
                background: transparent;
                color: #273c63;
            }

            & + .haqto_dbtn {
                background: transparent;
                color: #273c63;

                &:hover {
                    background: #273c63;
                    color: #fff;
                }
            }
        }
    }
}

/*======================= haqto_health_call_to_action_wrap style ============================*/

/*======================= haqto_health_featured style ============================*/
.haqto_health_featured {
    padding: 132px 0 87px;

    .sec_sub_title_2 {}

    .sec_title_2 {
        margin-bottom: 75px;
    }
}

.ml_40 {
    margin-left: 40px;
}

.ml_80 {
    margin-left: 80px;
}

.h_featured_item {
    margin-bottom: 50px;
    max-width: 280px;
    width: 100%;

    .f_img {
        margin-bottom: 32px;

        img {}
    }

    .f_title {
        color: #273c63;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 17px;
    }

    .f_para {
        color: #707b8e;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;

    }
}


/*======================= haqto_health_featured style ============================*/



/*======================= haqto_h_about_slider_wrap style ============================*/
.haqto_h_about_slider_wrap {
    background: #fafbfc;
    padding: 90px 0 0px;

    .sec_sub_title_2 {}

    .sec_title_2 {
        margin-bottom: 70px;
    }
}

.haqto_health_about_slider {
    .slider_item {
        animation: fadeOutLeft 1s both;

        .slider_img {
            img {}
        }
    }

    .slider_details {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 900px;
        margin: -119px auto 110px;

        .sd_img {
            animation: fadeOutDown 1s both;

            img {
                box-shadow: 0px 40px 80px 0px rgba(39, 60, 99, 0.16);
                border: 4px solid #fff;
                border-radius: 6px;
            }
        }

        .sd_text {
            margin-left: 60px;
            padding-top: 70px;

            .sd_title {
                color: #273c63;
                font-size: 24px;
                line-height: 30px;
                font-weight: 600;
                margin-bottom: 15px;
                animation: fadeOutDown 1.2s both;
            }

            .sd_para {
                color: #707b8e;
                font-size: 16px;
                line-height: 26px;
                font-weight: 400;
                margin-bottom: 23px;
                animation: fadeOutDown 1.4s both;

            }

            .sd_link {
                animation: fadeOutDown 1.6s both;

                .know_more {
                    color: #2c234d;
                    font-size: 16px;
                    line-height: 30px;
                    font-weight: 500;
                    font-family: $pop;
                    display: inline-flex;
                    transition: all 0.5s;

                    i {
                        margin-left: 10px;
                        color: #2c234d;
                        transition: all 0.5s;
                        font-weight: 700;

                        &::before {
                            line-height: 30px;
                        }
                    }

                    &:hover {
                        color: #6bc33c;

                        i {
                            color: #6bc33c;
                            margin-left: 15px;
                        }
                    }
                }
            }
        }
    }

    .slick-slide.slick-active {
        .slider_item {
            animation: fadeInRight 1s both;
        }

        .sd_img {
            animation: fadeInDown 1s both;
        }

        .sd_text {
            .sd_title {
                animation: fadeInDown 1.2s both 1s;
            }

            .sd_para {
                animation: fadeInDown 1.4s both 1s;

            }

            .sd_link {
                animation: fadeInDown 1.6s both 1s;
            }
        }
    }

    .slick-arrow {
        border: 1px solid #6bc33c;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        z-index: 1;
        transition: all 0.5s;
        top: 275px;
        box-shadow: none;
        outline: none;
        position: absolute;

        &::before {
            font-family: 'eleganticons';
            font-size: 20px;
            opacity: 1;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #6bc33c;
            transition: all 0.5s;
        }

        &.slick-prev {
            left: -130px;

            &::before {
                content: "\34";
            }
        }

        &.slick-next {
            right: -130px;

            &::before {
                content: "\35";
            }
        }

        &:hover {
            background-color: #6bc33c;
            box-shadow: 0px 20px 30px 0px rgba(138, 242, 82, 0.3);

            &::before {
                color: #fff;
            }
        }
    }
}

/*======================= haqto_h_about_slider_wrap style ============================*/
/*======================= haqto_h_about_slider_wrap style ============================*/
.haqto_discover_health {
    padding: 100px 0px;
}

.discover_info {
    display: flex;
    max-width: 970px;
    margin: 0 auto;
    align-items: center;

    .item {
        width: calc(100% / 5);

        & + .item {
            margin-left: -28px;
            z-index: 1;
            position: relative;
        }
    }
}

/*======================= haqto_h_about_slider_wrap style ============================*/

/*======================= haqto_health_footer_call_to_action style ============================*/
.haqto_call_to_action_four.haqto_health_footer_call_to_action {
    background-color: #6bc33c;

    .haqto_call_btn_group {
        .haqto_dbtn {
            color: #6bc33c;
        }
    }
}

.haqto_clients_health_area {
    padding: 30px 0px 120px;
}

.haqto_clients_inner {
    max-width: 770px;
    margin: 0 auto;
    padding-top: 10px;
    position: relative;
    text-align: center;

    .round_circle {
        width: 650px;
        height: 650px;
        border-radius: 50%;
        background-image: -moz-linear-gradient(90deg, rgba(226, 231, 241, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
        background-image: -webkit-linear-gradient(90deg, rgba(226, 231, 241, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
        background-image: -ms-linear-gradient(90deg, rgba(226, 231, 241, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
        margin: 0 auto;
        position: absolute;
        bottom: 0;
        transform: translateX(-50%);
        left: 50%;
        z-index: -1;

        &.r_two,
        &.r_three {
            height: calc(100% - 180px);
            width: calc(100% - 180px);
            border-radius: 50%;
            bottom: 90px;
        }
    }

    .c_logo {
        position: absolute;
    }

    .haqto_clients_logo {
        height: 380px;
        position: relative;
        margin-bottom: 120px;

        .two {
            left: 20px;
            top: 15px;
        }

        .three {
            left: 56px;
            top: 170px;
        }

        .four {
            left: 168px;
            bottom: 10px;
        }

        .five {
            left: 46%;
            bottom: -45px;
        }

        .six {
            right: 168px;
            bottom: 10px;
        }

        .seven {
            right: 56px;
            top: 170px;
        }

        .eight {
            right: 20px;
            top: 15px;
        }
    }
}

.haqto_dbtn.g_btn {
    border-color: #6bc33c;
    color: #6bc33c;
    background: #f9fdf7;

    &:hover {
        background: #6bc33c;
        color: #fff;
        box-shadow: 0px 20px 30px 0px rgba(51, 130, 9, 0.2);
    }
}

/*======================= haqto_health_footer_call_to_action style ============================*/

/*======================= haqto_health_footer style ============================*/
.haqto_health_footer {
    &.haqto_footer_wrap {
        .haqto_footer_top {
            .haqto_footer_top_inner {
                .haqto_footer_social {
                    .social_item {
                        li {
                            a {
                                &:hover {
                                    background-color: #6bc33c;
                                    border-color: #6bc33c;
                                    ;
                                    box-shadow: 0px 20px 30px 0px rgba(73, 171, 21, 0.24);
                                }
                            }
                        }
                    }
                }
            }
        }

        .haqto_footer_bottom {
            .haqto_footer_bottom_inner {
                .haqto_footer_download_menu {
                    .haqto_footer_menu {
                        li {
                            a {
                                &:hover {
                                    color: #6bc33c;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*======================= haqto_health_footer style ============================*/