@media (max-width: 1550px) {
    .haqto_banner_img_content .banner_img .banner_img_macbook {
        max-width: 750px;
    }
    .haqto_banner.haqto_banner_three .haqto_banner_img_content .banner_img {
        margin-left: -185px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img {
        margin-left: -70px;
    }
    .haqto_mockup_img .mockup_inner .circle_1 {
        left: -40px;
    }
    .haqto_mockup_img .mockup_inner .circle_2 {
        left: -60px;
    }
    .haqto_how_it_tab_content_wrap .tab_custom_arrow.prevtab {
        left: 80px;
    }
    .haqto_how_it_tab_content_wrap .tab_custom_arrow.nexttab {
        right: 80px;
    }
}


/*============== end @media (max-width: 1550px) =================*/

@media (max-width: 1366px) {
    .haqto_banner_img_content .banner_img .banner_img_macbook {
        max-width: 700px;
    }
    .haqto_call_to_action_img_content .call_img_1 {
        left: -380px;
    }
    .haqto_call_to_action_img_content .call_img_2 {
        left: -240px;
    }
    .haqto_call_to_action_img_content .call_img_3 {
        left: 265px;
    }
    .haqto_grafe_img_content {
        padding-left: 150px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img {
        margin-left: -100px;
    }
    .haqto_download_app_three_wrap .download_mockup_device img {
        max-width: 1100px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img .education_banner_img {
        max-width: 600px;
    }
    .haqto_signup_wrap .right_img {
        right: 190px;
    }
    .haqto_signup_wrap .left_img {
        left: 110px;
    }
    .haqto_height_rated_security_img .img_inner .circle_img {
        right: 80px;
        top: 100px;
    }
    .haqto_height_rated_security_wrap  {
        margin-bottom: -90px;
    }
    .haqto_feedback_two_wrap .comma img {
        max-width: 200px;
    }
    .haqto_height_rated_security_img .img_inner .circle_img .circle {
        width: 200px;
        height: 200px;
    }
    .haqto_height_rated_security_img .img_inner .mockup_shape_devices {
        margin-left: 0;
    }
    .haqto_height_rated_security_img  {
        text-align: center;
    }
    .haqto_height_rated_security_img .img_inner {
        display: inline-block;
    }
    .haqto_height_rated_security_img .img_inner .Vector_color {
        left: 75px;
        bottom: 130px;
    }
    .haqto_feedback_two_wrap .comma {
        left: 60px;
    }
    .haqto_feedback_two_slider_item .haqto_feedback_item_inner {
        padding: 20px;
    }
    .haqto_feedback_two_content_wrap {
        padding: 0 50px;
    }
    .haqto_feedback_two_wrap {
        padding-bottom: 50px;
    }
    .haqto_utility_banner_wrap .haqto_banner_img_content .banner_img {
        width: 100%;
    }
    .haqto_banner_img_content {
        text-align: center !important;
    }
    .haqto_utility_banner_wrap .haqto_banner_img_content .banner_img .bg_shape.bg_shape_1 {
        left: 0;
        top: 54px;
    }
    .haqto_utility_banner_wrap .haqto_banner_img_content .banner_img .bg_shape.bg_shape_1 img {
        max-width: 100%;
        height: auto;
    }
    .haqto_utility_banner_wrap .haqto_banner_img_content .banner_img .bg_shape.bg_shape_2 img {
        max-width: 100%;
        height: auto;
    }
    .haqto_utility_banner_wrap .haqto_banner_img_content .banner_img .bg_shape.bg_shape_3 img {
        max-width: 100%;
        height: auto;
    }
    .haqto_utility_banner_wrap .haqto_banner_img_content .banner_img .bg_shape.bg_shape_2 {
        top: 50px;
        left: 0;
    }
    .haqto_utility_banner_wrap .haqto_banner_img_content .banner_img .bg_shape.bg_shape_3 {
        top: 135px;
        right: 0;
    }
    .haqto_height_rated_security_img .img_inner .mockup_shape_devices {
        max-width: 100%;
        height: auto;
    }
    .haqto_height_rated_security_contant {
        padding-top: 80px;
    }
    .haqto_utility_banner_wrap .shape_top img {
        top: -545px;
        right: -315px;
    }
    .shape_left_circle .circle {
        width: 600px;
        height: 600px;
    }
    .haqto_lifestyle_about_us_wrap .bg_shape img {
        height: 1180px;
    }
    .haqto_lifestyle_feedback_wrap .bg_shape img {
        height: 900px;
    }
    .haqto_banner_utility .circle_shape {
        right: 70px;
        bottom: 160px;
    }
    .haqto_banner_utility .circle_shape .circle {
        max-width: 350px;
        height: 350px;
    }
    .haqto_travel_banner_img .map_pin_3 {
        bottom: 93px;
        right: 354px;
    }
    .haqto_travel_banner_img .map_pin_3 img {
        max-width: 60px;
    }
    .haqto_travel_banner_img .aeroplane {
        top: calc(50% - 0px);
        left: 70px;
    }
    .haqto_travel_banner_img .aeroplane img {
        max-width: 530px;
    }
    .haqto_travel_banner_img .travel_map_img img {
        max-width: 850px;
    }
    .haqto_travel_banner_img .map_pin_1 {
        bottom: 220px;
        right: 265px;
    }
    .haqto_travel_banner_img .map_pin_1 img {
        max-width: 30px;
    }
    .haqto_travel_banner_img .map_pin_2 {
        bottom: 170px;
        right: 15px;
    }
    .haqto_travel_banner_img .map_pin_2 img {
        max-width: 20px;
    }
    .haqto_travel_banner .haqto_banner_content {
        padding-top: 190px;
        position: relative;
        z-index: 1;
    }
    .haqto_height_rated_security_wrap {
        margin-bottom: -130px;
    }
    .haqto_height_rated_security_img .img_inner .circle_img {
        right: -45px;
        top: 230px;
    }
    .haqto_height_rated_security_img .img_inner .shape_mockup_mobile .shape_tab {
        margin-left: -275px;
    }
    .haqto_height_rated_security_img .img_inner .shape_mockup_mobile .shape_mobile {
        right: -180px;
    }
    .haqto_height_rated_security_img .img_inner .Vector_color {
        left: -185px;
        bottom: 245px;
    }
}


/*============== end @media (max-width: 1366px) =================*/

@media (max-width: 1024px) {
    .full_width_1024 {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .haqto_banner_one .haqto_banner_img_content .banner_img {
        margin-left: 0;
    }
    .haqto_banner_one .haqto_banner_img_content .banner_img .img_4 img {
        max-width: 80px;
    }
    .haqto_banner_one .haqto_banner_img_content .banner_img .img_5 img {
        max-width: 210px;
    }
    .haqto_banner.haqto_banner_three .shape_1 {
        right: -400px;
    }
    .haqto_banner.haqto_banner_three .shape_2 {
        right: -400px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(1) {
        left: 100px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(2) {
        left: 220px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(3) {
        left: 280px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(4) {
        left: 430px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(5) {
        left: 525px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(6) {
        left: 685px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(7) {
        left: 840px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(8) {
        left: 50px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(9) {
        left: 430px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(10) {
        left: 660px;
        top: 165px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(11) {
        top: 110px;
        left: 790px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(12) {
        top: 120px;
        left: 90%;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(13) {
        left: 30px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(14) {
        bottom: 90px;
        left: 160px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(15) {
        left: 270px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(16) {
        bottom: -10px;
        left: 440px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(17) {
        bottom: 35px;
        left: 620px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(18) {
        bottom: -35px;
        left: 740px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(19) {
        bottom: 75px;
        left: 815px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(20) {
        right: 30px;
    }
    .haqto_support_img .img_inner {
        margin-left: 0;
    }
    .haqto_support_img .img_inner img {
        margin-left: -50px;
    }
    .haqto_support_img .img_inner .shape_2 .shape_2_inner {
        right: 20px;
    }
    .haqto_support_content {
        padding-top: 0;
        padding-right: 40px;
    }
    .haqto_service_img_content.img_left .service_img_1 {
        margin-right: -120px;
    }
    .haqto_service_img_content.img_left .service_img_2 {
        left: -25px;
    }
    .haqto_our_service_wrap .shape_2 {
        left: -740px;
    }
    .haqto_our_service_wrap .shape_1 {
        right: -570px;
    }
    .haqto_service_img_content.img_right .service_img_1 {
        margin-left: -70px;
    }
    .haqto_service_img_content.img_right .service_img_2 {
        right: -20px;
        top: 0;
    }
    .haqto_banner.haqto_banner_one {
        padding: 150px 0 100px;
    }
    .haqto_banner_content .banner_title {
        font-size: 48px;
        line-height: 70px;
        margin-bottom: 10px;
    }
    .haqto_banner.haqto_banner_one .haqto_banner_content {
        padding-top: 0;
    }
    .haqto_banner_img_content {
        padding-top: 55px;
    }
    .haqto_how_it_tab_content_wrap .tab_custom_arrow.prevtab {
        left: 15px;
    }
    .haqto_how_it_tab_content_wrap .tab_custom_arrow.nexttab {
        right: 15px;
    }
    .haqto_service_img_content.img_left .service_img_2 {
        top: 0;
    }
    .haqto_mockup_content {
        padding: 0 35px;
    }
    .haqto_call_to_action_content .call_title {
        font-size: 40px;
    }
    .haqto_feature_wrap {
        padding: 55px 0;
    }
    .haqto_how_it_works_wrap {
        padding: 50px 0 55px;
    }
    .haqto_how_it_works_wrap .sec_title {
        margin-bottom: 35px;
    }
    .sec_title {
        font-size: 36px;
        line-height: 44px;
    }
    .haqto_our_service_wrap {
        padding: 80px 0 50px;
    }
    .haqto_service_item.haqto_service_img_right {
        margin-bottom: 80px;
    }
    .haqto_support_wrap {
        padding: 110px 0 0;
    }
    .haqto_download_app_wrap {
        padding: 50px 0 0;
    }
    .haqto_download_app_content {
        padding-top: 80px;
    }
    .business_call_img_group {
        margin-left: -85px;
    }
    .haqto_footer_widget.pl_100 {
        padding-left: 0;
    }
    .haqto_review_slider .slick-arrow.slick-prev {
        left: 15px;
    }
    .haqto_review_slider .slick-arrow.slick-next {
        right: 15px;
    }
    .haqto_download_app_three_wrap .download_mockup_device img {
        max-width: 900px;
    }
    .haqto_download_app_three_wrap .download_mockup_device {
        margin-left: 0;
        margin-bottom: -115px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img {
        margin-left: -150px;
        margin-top: 0;
    }
    .haqto_banner.haqto_banner_three .haqto_banner_content .banner_title {
        color: #4d446b;
        line-height: 50px;
        font-size: 36px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_content {
        max-width: 470px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img .education_banner_img {
        max-width: 430px;
    }
    .haqto_feature_style_three .sec_title {
        margin-bottom: 15px;
    }
    .haqto_about_content.m_w_475 {
        max-width: 370px;
    }
    .haqto_pricing_plan_wrap {
        padding: 55px 0 70px;
    }
    .haqto_pricing_plan_wrap .sec_title {
        margin-bottom: 40px;
    }
    .haqto_download_app_three_wrap {
        padding-top: 0;
    }
    .haqto_download_app_three_wrap .haqto_download_app_content {
        padding-top: 40px;
    }
    .haqto_download_app_three_wrap .download_para {
        margin-bottom: 25px;
    }
    .haqto_download_app_three_wrap .haqto_btn_group {
        margin-bottom: 35px;
    }
    .haqto_f_mockup_sing_item.mockup_right .mockup_details {
        right: 0;
    }
    .haqto_f_mockup_sing_item .m_img .right_dot_line {
        right: 150px;
    }
    .haqto_f_mockup_sing_item.mockup_right .dot {
        right: 445px;
    }
    .haqto_call_to_action_three .haqto_call_to_action_img .call_to_action_three_img {
        margin-left: 100px;
    }
    .haqto_call_to_action_three .haqto_call_to_action_img .call_to_action_three_img .cloud_1 {
        left: -50px;
    }
    .haqto_call_to_action_three .haqto_call_to_action_img .call_to_action_three_img .dots {
        left: -75px;
    }
    .haqto_call_to_action_three .haqto_call_to_action_img .call_to_action_three_img .call_img_2 {
        bottom: -180px;
    }
    .haqto_f_mockup_sing_item .m_img .right_mockup_img {
        max-width: 300px;
    }
    .haqto_f_mockup_sing_item .m_img .Left_mockup_img {
        max-width: 300px;
    }
    .haqto_f_mockup_sing_item .m_img .left_shadow {
        display: none;
    }
    .haqto_feature_mockup_wrap .bg_shape {
        max-width: 600px;
        height: 75px;
    }
    .haqto_f_mockup_sing_item .m_img .left_dot_line {
        max-width: 200px;
    }
    .haqto_f_mockup_sing_item .m_img .right_dot_line {
        top: 80px;
    }
    .haqto_f_mockup_sing_item.mockup_right .dot {
        top: 320px;
    }
    .haqto_f_mockup_sing_item.mockup_right .mockup_details {
        top: 55px;
    }
    .haqto_f_mockup_sing_item .m_img .left_dot_line {
        top: 130px;
        right: 150px;
    }
    .haqto_f_mockup_sing_item.mockup_left .mockup_details {
        right: 315px;
    }
    .haqto_f_mockup_sing_item.mockup_left .dot {
        top: 125px;
        right: 160px;
    }
    .haqto_download_app_three_wrap {
        margin-bottom: 90px;
    }
    .haqto_faq_wrap {
        padding-bottom: 40px;
    }
    .haqto_call_to_action_four {
        padding: 55px 0 60px;
    }
    .haqto_footer_wrap {
        padding: 55px 0 15px;
    }
    .haqto_footer_widget {
        margin-bottom: 60px;
    }
    .haqto_download_app_three_wrap .download_mockup_device img {
        max-width: 100%;
    }
    .haqto_grafe_img_content {
        padding-left: 20px;
    }
    .haqto_grafe_img_content .img_inner .grafe_man_2 {
        right: -172px;
        bottom: 40px;
    }
    .haqto_grafe_img_content .img_inner .grafe_man_2 img {
        max-width: 140px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img .social_banner_img .social_banner_img_1 {
        margin-left: -60px;
    }
    .haqto_analytics_img_content .analytics_img_inner .analytics_icon_3 {
        left: -100px;
    }
    .haqto_analytics_img_content .analytics_img_inner .analytics_icon_1 {
        left: -105px;
    }
    .haqto_call_to_action_img_content .call_img_1 {
        left: -393px;
        max-width: 735px;
        top: -335px;
    }
    .haqto_call_to_action_img_content .call_img_2 {
        left: -240px;
        max-width: 740px;
    }
    .haqto_call_to_action_img_content .call_img_3 {
        left: 120px;
        max-width: 735px;
        bottom: -525px;
    }
    .p_r_45 {
        padding-right: 15px;
    }
    .p_l_45 {
        padding-left: 15px;
    }
    .haqto_blog_single_banner {
        padding: 95px 0 75px;
    }
    .haqto_inner_banner .haqto_banner_content .banner_title {
        font-size: 36px;
        line-height: 50px;
    }
    .blog_wrap {
        padding: 60px 0;
    }
    .blog_single_item {
        margin-bottom: 20px;
    }
    .haqto_author {
        margin-bottom: 50px;
    }
    .comment_reply {
        margin-bottom: 50px;
    }
    .blog_wrap.blog_single_wrap {
        padding-bottom: 40px;
    }
    .haqto_contact_form_group {
        padding: 30px;
    }
    .haqto_price_two .haqto_price_item {
        padding: 30px 15px;
    }
    .haqto_price_item {
        padding: 35px 50px 50px;
    }
    .haqto_signup_wrap .left_img {
        left: 60px;
    }
    .haqto_signup_wrap .right_img {
        right: 60px;
    }
    .haqto_support_popular_wrap {
        padding: 70px 0 50px;
    }
    .haqto_support_videos_wrap {
        padding: 40px 0 50px;
    }
    .haqto_get_help_wrap {
        padding: 40px 0 20px;
    }
    .haqto_utility_banner_wrap {
        padding-top: 90px;
    }
    .haqto_utility_banner_wrap .haqto_banner_content {
        padding-top: 200px;
    }
    .haqto_utility_banner_wrap .shape_top img {
        right: -395px;
    }
    .haqto_height_rated_security_wrap {
        margin-bottom: 0;
    }
    .haqto_feedback_two_content_wrap {
        padding: 0 10px;
    }
    .haqto_feedback_two_slider {
        margin: 0 -15px;
    }
    .haqto_feedback_two_slider_item {
        margin-bottom: 30px;
        padding: 0 15px;
    }
    .haqto_feedback_two_wrap {
        padding-top: 70px;
    }
    .haqto_feedback_two_wrap .haqto_feedback_two_contant .sec_title {
        margin-bottom: 30px;
    }
    .haqto_feedback_two_tab_wrap {
        margin-bottom: 50px;
    }
    .haqto_lifestyle_featurded_graphcontent .graph_inner .grapg_details {
        padding: 20px;
        max-width: 200px;
    }
    .haqto_lifestyle_featurded_graphcontent .graph_inner .grapg_details.graph_comments {
        left: 95px;
    }
    .haqto_lifestyle_featurded_graphcontent .graph_inner .grapg_details.graph_viewers {
        left: 160px;
        top: 115px;
    }
    .haqto_lifestyle_featurded_graphcontent .graph_inner .grapg_details .content h3 {
        font-size: 30px;
        margin-bottom: 0;
    }
    .haqto_lifestyle_featurded_graphcontent .graph_inner .graph_user {
        right: 15px;
    }
    .haqto_lifestyle_feedback_slider .slick-prev {
        left: 30px;
    }
    .haqto_lifestyle_feedback_slider .slick-next {
        right: 30px;
    }
    .haqto_banner_utility {
        padding-top: 100px;
    }
    .haqto_banner_utility .haqto_banner_content {
        padding-bottom: 70px;
    }
    .haqto_lifestyle_about_us_wrap {
        padding-top: 270px;
    }
    .haqto_lifestyle_about_us_wrap .bg_shape img {
        height: 1050px;
    }
    .haqto_lifestyle_feature_wrap {
        padding-top: 70px;
    }
    .haqto_lifestyle_featurded_content {
        padding-top: 60px;
    }
    .haqto_lifestyle_featurded_graphcontent {
        padding: 100px 0;
    }
    .haqto_lifestyle_feedback_wrap  {
        padding-top: 50px;
    }
    .haqto_lifestyle_feedback_wrap .bg_shape img {
        height: 800px;
    }
    .haqto_travel_banner_img .aeroplane {
        left: -40px;
    }
    .haqto_travel_banner_img .shape_1 {
        left: -315px;
    }
    .haqto_travel_banner_img .shape_2 {
        left: -220px;
    }
    .haqto_travel_banner_img .travel_map_img img {
        margin-left: -265px;
    }
    .haqto_travel_featured_wrap {
        padding-top: 70px;
    }
    .haqto_travel_call_to_action {
        padding: 80px 0 86px;
    }
    .haqto_travel_service_wrap {
        padding: 60px 0 70px;
    }
    .haqto_travel_video_slider_item .haqto_travel_video_content {
        margin-bottom: 80px;
    }
    .haqto_travel_video_slider .slick-dots {
        bottom: 40px;
    }
    .haqto_get_appy_tab_slider_item {
        padding-bottom: 70px;
    }
    .haqto_utility_about_us_wrap .haqto_about_mobile_shape::before, 
    .haqto_utility_about_us_wrap .haqto_about_mobile_shape::after {
        height: 300px;
    }
    .haqto_utility_about_us_wrap .haqto_about_mobile_shape::before {
        top: -280px;
    }
    .haqto_utility_about_us_wrap .haqto_about_mobile_shape::after {
        bottom: -300px;
    }
    .haqto_get_appy_wrap {
        z-index: 5;
    }
    .haqto_height_rated_security_wrap {
        position: relative;
        z-index: 5;
    }
    .haqto_utility_about_us_wrap .haqto_about_details_inner_bg:before {
        top: -500px;
        height: 500px;
    }
    .haqto_utility_about_us_wrap .haqto_about_details_inner_bg:after {
        height: 500px;
    }
    .haqto_height_rated_security_img .img_inner .shape_mockup_mobile .shape_tab img {
        max-width: 680px;
    }
    .haqto_height_rated_security_img .img_inner .shape_mockup_mobile .shape_mobile {
        right: -100px;
        bottom: 0px;
    }
    .haqto_height_rated_security_img .img_inner .shape_mockup_mobile .shape_mobile img {
        max-width: 380px;
    }
    .haqto_height_rated_security_img .img_inner .Vector_color {
        bottom: 170px;
    }
}


/*============== end @media (max-width: 1024px) =================*/

@media (max-width: 992px) {
    .haqto_mockup_content {
        padding-right: 50px;
    }
}


/*============== end @media (max-width: 992px) =================*/

@media (max-width: 991px) {
    .md_none {
        display: none;
    }
    .rev_tab_col {
        flex-direction: column-reverse;
    }
    .haqto_header .header_nav .haqto_header_menu ul.navbar-nav {
        margin-bottom: 15px;
        display: block;
    }
    .haqto_header .header_nav .haqto_header_menu ul li.nav-item {
        margin-left: 0;
        margin-bottom: 5px;
    }
    .haqto_header .header_nav .haqto_header_menu .haqto_try_for_free {
        text-align: center;
        margin-left: 0;
        margin-bottom: 15px;
    }
    .haqto_header_menu {
        background: #fff;
        padding: 0px 30px 0px 30px;
    }
    .haqto_header .header_nav .haqto_header_menu ul li.nav-item a.nav-link.dropdown-toggle::after {
        right: 0;
    }
    .haqto_header .header_nav .haqto_header_menu ul li.nav-item .dropdown-menu {
        padding: 18px 40px 20px 0;
        margin: 0 0 22px;
        border-bottom: 1px solid #e1e5ec;
        border-radius: 0;
        transition: unset;
    }
    
    .haqto_header .header_nav .haqto_header_menu ul li.nav-item .dropdown-menu li {
        padding-left: 40px;
    }
    .haqto_header .header_nav .haqto_header_menu ul {
        padding: 20px 0 15px
    }
    .haqto_header .header_nav .haqto_header_menu ul li.nav-item a.nav-link {
        color: #2c234d;
    }
    .haqto_header .header_nav .haqto_header_menu .haqto_try_for_free {
        border-color: #5268f2;
        box-shadow: none;
        display: inline-block;
    }
    .haqto_header.fixedMenu .header_nav .haqto_header_menu .haqto_try_for_free {
        margin-bottom: 10px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img {
        margin-left: -80px;
    }
    .haqto_banner.haqto_banner_three .haqto_banner_content .banner_title {
        line-height: 40px;
        font-size: 30px;
    }
    .haqto_header.haqto_header_style_three .header_nav .haqto_hamburger .bar_icon .bar {
        background: #5268f2;
    }
    .haqto_header.haqto_header_style_three .header_nav .haqto_header_menu .haqto_try_for_free::after {
        background-image: linear-gradient(90deg, #fff 0%, #fff 100%), linear-gradient(90deg, #9a11da 0%, #f23891 100%);
    }
    .haqto_f_mockup_sing_item .m_img .right_dot_line {
        max-width: 210px;
        right: 88px;
    }
    .haqto_f_mockup_sing_item.mockup_right .mockup_details {
        right: -65px;
    }
    .haqto_f_mockup_sing_item.mockup_right .dot {
        top: 245px;
        right: 295px;
    }
    .haqto_f_mockup_sing_item.mockup_left .mockup_details {
        right: auto;
        left: -40px;
    }
    .haqto_call_to_action_three .haqto_call_to_action_content .sec_title {
        font-size: 28px;
        line-height: 36px;
    }
    .haqto_call_to_action_three .haqto_call_to_action_img .call_to_action_three_img {
        margin-left: 0;
    }
    .haqto_call_to_action_three .haqto_call_to_action_img .call_to_action_three_img .call_img_2 {
        bottom: -160px;
        left: -52px;
    }
    .haqto_feature_wrap {
        padding-bottom: 65px;
    }
    .haqto_call_to_action_three .haqto_call_to_action_img .call_to_action_three_img .cloud_2 {
        left: 240px;
        top: 0;
    }
    .haqto_call_to_action_three {
        padding: 130px 0 85px;
    }
    .haqto_about_three.haqto_social_about_wrap {
        padding-bottom: 65px;
        padding-top: 50px;
    }
    .haqto_call_to_action_four .haqto_call_btn_group .haqto_dbtn {
        padding: 14px 42px;
    }
    .haqto_about_dot img {
        display: none;
    }
    .haqto_about_content .haqto_abs_num {
        display: none;
    }
    .haqto_social_about_wrap .pl_100 {
        padding-left: 15px;
    }
    .haqto_about_three .sec_title {
        margin-bottom: 60px;
    }
    .haqto_about_content_item_1 {
        margin-bottom: 60px;
    }
    .haqto_price_item {
        margin-bottom: 50px;
    }
    .haqto_pricing_plan_wrap {
        padding-bottom: 30px;
    }
    .haqto_feedback_wrap {
        padding: 55px 0;
    }
    .haqto_call_to_action_content .call_title {
        font-size: 30px;
    }
    .haqto_call_to_action_content .call_para {
        font-size: 16px;
    }
    .haqto_header.haqto_menu_center .header_nav .logo {
        position: static;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_content {
        max-width: 100%;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_content {
        padding-bottom: 70px;
        padding-top: 60px;
    }
    .haqto_banner.haqto_banner_three .haqto_banner_content {
        padding-top: 0px;
    }
    .haqto_download_app_three_wrap {
        margin-bottom: 40px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_content .banner_title {
        font-size: 30px;
        line-height: 40px;
    }
    .haqto_banner_img_content {
        padding-top: 55px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img {
        margin-left: 0;
        margin-top: 0;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img .social_banner_img {
        margin-top: 0;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img .social_banner_img .social_banner_img_1 {
        margin-left: -20px;
        max-width: 440px;
        margin-bottom: -230px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img .social_banner_img .soci_banner_img.img_2 {
        bottom: -48px;
        left: -60px;
        max-width: 180px;
    }
    .haqto_banner_img_content .banner_img .social_banner_img .soci_banner_img.img_3 {
        bottom: 140px;
        right: -15px;
        max-width: 80px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img .social_banner_img .soci_banner_img.img_4 {
        top: 0;
        left: 75px;
        max-width: 70px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img .social_banner_img .soci_banner_img.img_3 {
        bottom: 130px;
        right: -25px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img .social_banner_img .wev_1 {
        bottom: 40px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img .social_banner_img .wev_3 {
        bottom: 230px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img .social_banner_img .wev_4 {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .haqto_grafe_img_content {
        padding-left: 0;
        display: flex;
        justify-content: center;
    }
    .haqto_social_about_content {
        padding-top: 0;
        padding-bottom: 50px;
    }
    .haqto_header.fixedMenu,
    .haqto_header.haqto_menu_center.fixedMenu {
        padding: 5px 0;
    }
    .haqto_header.haqto_menu_center {
        padding: 15px 0;
    }
    .haqto_watching_wrap {
        padding: 110px 0 60px;
    }
    .haqto_analytics_img_content.pl_100 {
        padding-left: 0;
        padding-right: 30px;
    }
    .sec_title2 {
        font-size: 30px;
        line-height: 40px;
    }
    .haqto_analytics_img_content .analytics_img_inner .analytics_icon_2 {
        right: -50px;
    }
    .haqto_call_to_action_two_wrap .haqto_call_to_action_content .haqto_btn_group .btn_solid {
        margin-bottom: 20px;
    }
    .haqto_call_to_action_two_wrap .haqto_call_to_action_content .haqto_btn_group .btn_solid+.btn_solid {
        margin-left: 0;
    }
    .haqto_header.social_header .header_nav .haqto_header_menu .haqto_btn_right {
        position: static;
        display: block;
    }
    .haqto_header.haqto_header_inner_menu .header_nav .haqto_header_menu ul li.nav-item a.nav-link {
        color: #4d446b;
    }
    .haqto_header.haqto_header_inner_menu .header_nav .haqto_header_menu .haqto_try_for_free {
        color: #5268f2;
        border-color: #5268f2;
    }
    .pagination_content {
        margin-bottom: 40px;
    }
    .haqto_price_two .haqto_price_item {
        margin-bottom: 30px;
    }
    .haqto_price_two {
        padding-top: 70px;
        margin-bottom: 0;
        padding-bottom: 30px;
    }
    .haqto_price_language {
        margin-bottom: 40px;
        padding-bottom: 40px;
    }
    .haqto_price_lan_title {
        max-width: 100%;
    }
    .haqto_select_language {
        margin-bottom: 40px;
    }
    .haqto_banner_one .haqto_banner_img_content .banner_img img {
        max-width: 100%;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(1) {
        left: 30px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(2) {
        top: 0;
        left: 170px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(8) {
        top: 45%;
        left: 25px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(13) {
        left: 30px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(3) {
        top: 100px;
        left: 135px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(4) {
        left: 290px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(5) {
        top: 130px;
        left: 280px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(9) {
        top: 125px;
        left: 435px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(6) {
        top: -30px;
        left: 620px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(7) {
        left: 455px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(10) {
        left: 545px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(17) {
        left: 605px;
        bottom: 75px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(18) {
        bottom: -30px;
        left: 390px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(12) {
        top: 50px;
        left: 78%;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(19) {
        bottom: 0;
        left: 515px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(20) {
        bottom: 50px;
        right: 195px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(11) {
        top: 90px;
        left: 610px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(16) {
        bottom: 95px;
        left: 370px;
    }
    .haqto_mobile_mockup .mockup_2 {
        display: none;
    }
    .title {
        font-size: 24px;
        line-height: 30px;
    }
    .haqto_mockup_content {
        padding: 0;
    }
    .haqto_service_img_content.img_right .service_img_1 {
        margin-left: 0;
    }
    .haqto_service_img_content.img_right .service_img_2,
    .haqto_service_img_content.img_left .service_img_2 {
        display: none;
    }
    .haqto_service_img_content.img_left .service_img_1 {
        margin-right: 0;
    }
    .haqto_call_to_action_content .call_title {
        font-size: 30px;
        line-height: 40px;
    }
    .haqto_support_img {
        padding-top: 60px;
        text-align: center;
    }
    .haqto_support_img .img_inner .shape_2 .shape_2_inner {
        right: 0;
    }
    .haqto_mockup_img .mockup_inner .download_2 {
        display: none;
    }
    .haqto_download_app_content .haqto_btn_group .haqto_dbtn.btn_solid_color {
        padding: 11px 12px;
        margin-right: 10px;
    }
    .haqto_download_app_content .haqto_btn_group .haqto_dbtn {
        font-size: 15px;
    }
    .haqto_download_app_content .haqto_btn_group .haqto_dbtn.btn_solid_color .iconify {
        font-size: 15px;
        margin-right: 6px;
    }
    .haqto_download_app_content .haqto_btn_group .haqto_dbtn.btn_border .iconify {
        font-size: 26px;
        margin-right: 8px;
    }
    .haqto_download_app_content .haqto_btn_group .haqto_dbtn.btn_border {
        padding: 7px 20px 7px 10px;
    }
    .haqto_mockup_img .mockup_inner {
        padding-left: 50px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img .education_banner_img {
        max-width: 400px;
    }
    .haqto_f_mockup_sing_item .m_img .Left_mockup_img {
        max-width: 250px;
    }
    .haqto_f_mockup_sing_item .m_img .right_mockup_img {
        max-width: 250px;
    }
    .haqto_f_mockup_sing_item.mockup_left .mockup_details {
        left: 0;
    }
    .haqto_f_mockup_sing_item .m_img .left_dot_line {
        top: 155px;
        right: 140px;
        max-width: 170px;
    }
    .haqto_f_mockup_sing_item.mockup_left .dot {
        top: 145px;
        right: 145px;
    }
    .haqto_f_mockup_sing_item.mockup_left {
        padding-top: 45px;
    }
    .haqto_feature_mockup_wrap .bg_shape {
        max-width: 460px;
        height: 60px;
        top: 200px;
    }
    .haqto_f_mockup_sing_item.mockup_right .mockup_details {
        right: 0;
    }
    .haqto_f_mockup_sing_item.mockup_left .mockup_details {
        bottom: 0;
    }
    .haqto_download_app_three_wrap .download_mockup_device img {
        max-width: 550px;
    }
    .haqto_download_app_three_wrap .download_mockup_device {
        margin-bottom: -80px;
    }
    .w_items_wrap {
        margin: 0 -15px 20px;
    }
    .w_items {
        padding: 0 15px;
    }
    .w_items {
        padding: 0 15px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img .social_banner_img .social_banner_img_1 {
        margin-left: 0;
        max-width: 100%;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img .social_banner_img .soci_banner_img.img_2 {
        bottom: -110px;
        max-width: 125px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img .social_banner_img .soci_banner_img.img_4 {
        left: 45px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img .social_banner_img .soci_banner_img.img_3 {
        bottom: 40px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img .social_banner_img .wev_1 {
        bottom: -35px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img .social_banner_img .wev_3 {
        bottom: 150px;
    }
    .haqto_download_two_img_content .img_inner .download_two_shape {
        right: -15px;
    }
    .haqto_analytics_img_content.pl_100 {
        padding-left: 75px
    }
    .haqto_social_feature .sec_title2 {
        margin-bottom: 45px;
    }
    .haqto_social_feature .haqto_feature_item {
        margin-bottom: 50px;
    }
    .haqto_watching_wrap {
        padding: 70px 0 60px;
    }
    .haqto_grafe_img_content .img_inner .grafe_man_1 {
        bottom: -15px;
        left: -188px;
    }
    .haqto_grafe_img_content .img_inner .grafe_man_1 img {
        max-width: 155px;
    }
    .haqto_analytics_wrap {
        padding: 70px 0 60px;
    }
    .haqto_analytics_img_content .analytics_img_inner .analytics_shape {
        bottom: 40px;
    }
    .haqto_download_app_two_wrap {
        padding-bottom: 65px;
    }
    .haqto_call_to_action_img_content .call_img_1 {
        left: -410px;
        max-width: 575px;
        top: -270px;
    }
    .haqto_call_to_action_img_content .call_img_2 {
        left: -350px;
        max-width: 690px;
        top: 120px;
    }
    .haqto_call_to_action_img_content .call_img_3 {
        left: 0;
        max-width: 655px;
        bottom: -370px;
    }
    .haqto_contact_form_content .title {
        font-size: 36px;
        line-height: 50px;
    }
    .haqto_contactUs_wrap {
        padding-top: 60px;
    }
    .haqto_contact_item {
        margin-bottom: 50px;
    }
    .haqto_contact_form_group {
        margin-top: -150px;
    }
    .haqto_contact_form_wrap {
        padding-bottom: 30px;
    }
    .haqto_how_it_tab_content_wrap .tab_custom_arrow.prevtab,
    .haqto_how_it_tab_content_wrap .tab_custom_arrow.nexttab {
        display: none;
    }
    .haqto_banner.haqto_banner_two {
        padding-bottom: 80px;
    }
    .haqto_integrations_wrap {
        padding: 60px 0;
    }
    .haqto_header.haqto_download_header {
        background: transparent;
    }
    .haqto_header.haqto_download_header .header_nav .haqto_hamburger .bar_icon .bar {
        background: #5268f2;
    }
    .mt_99 {
        margin-top: 0;
    }
    .haqto_header.haqto_download_header.fixedMenu {
        background: #fff;
    }
    .haqto_footer_wrap.haqto_download_footer .haqto_footer_bottom .haqto_footer_bottom_inner .haqto_footer_download_menu .haqto_footer_menu li {
        margin-right: 15px;
    }
    .haqto_footer_wrap.haqto_download_footer .haqto_footer_bottom {
        padding: 40px 0 0;
    }
    .haqto_support_wrap {
        padding: 80px 0 0;
    }
    .utility_header.haqto_header .header_nav .haqto_hamburger .bar_icon .bar {
        background: #5268f2;
    }
    .haqto_header.haqto_menu_center .header_nav .haqto_header_menu .haqto_btn_right {
        position: static;
        border-color: #6bc33c;
        color: #6bc33c;
    }
    .haqto_lifestyle_feature_tab li.nav-item a.nav-link {
        padding: 9px 20px;
    }
    .haqto_lifestyle_feedback_wrap .bg_shape {
        display: none;
    }
    .haqto_lifestyle_feedback_slider_item .haqto_lifestyle_feedback_item_inner {
        margin-bottom: 40px;
    }
    .haqto_lifestyle_main_img_wrap .lifestyle_img {
        margin: 0 -26px 0 0;
    }
    .haqto_lifestyle_img_content {
        padding-top: 40px;
    }
    .haqto_lifestyle_call_to_action_wrap {
        padding: 60px 0 66px;
    }
    .haqto_lifestyle_main_img_wrap {
        margin: -70px 0;
    }
    .haqto_lifestyle_img_content {
        padding-top: 0;
        max-width: 100%;
    }
    .haqto_lifestyle_about_us_wrap .haqto_lifestyle_about_content {
        padding-top: 0;
    }
    .haqto_banner_content .banner_title {
        font-size: 36px;
        line-height: 40px;
    }
    .haqto_travel_banner_img .travel_map_img img {
        max-width: 710px;
    }
    .haqto_travel_banner_img .shape_2 {
        left: -300px;
    }
    .haqto_travel_banner_img .shape_1 {
        left: -380px;
    }
    .haqto_travel_banner_img .map_pin_3 {
        bottom: 82px;
        right: 263px;
    }
    .haqto_travel_banner_img .map_pin_2 {
        bottom: 143px;
        right: -17px;
    }
    .haqto_travel_banner_img .map_pin_1 {
        bottom: 185px;
        right: 190px;
    }
    .haqto_travel_banner_img .aeroplane img {
        max-width: 400px;
    }
    .haqto_travel_banner .haqto_banner_content {
        padding-top: 160px;
    }
    .haqto_header.haqto_travel_header .header_nav .haqto_header_menu .haqto_try_for_free {
        border-color: #ff5e00;
        box-shadow: none;
        margin-bottom: 20px;
    }
    .haqto_travel_featured_item.haqto_travel_featured_left_img .travel_featured_line {
        display: none;
    }
    .travel_featured_item_img {
        text-align: center !important;
        margin-bottom: 10px;
    }
    .haqto_travel_featured_item .travel_featured_item_content .travel_featured_item {
        max-width: 100%;;
    }
    .haqto_travel_featured_item  .pl_100 {
        padding-left: 15px;
    }
    .haqto_travel_featured_item.haqto_travel_featured_right_img .travel_featured_line {
        display: none;
    }
    .haqto_travel_featured_item .travel_featured_item_content .sec_title br {
        display: none;
    }
    .haqto_travel_featured_item.haqto_travel_featured_left_img {
        margin-bottom: 50px;
    }
    .haqto_travel_banner .haqto_banner_content .banner_title br {
        display: none;
    }
    .haqto_utility_banner_wrap .haqto_banner_content {
        padding-top: 75px;
    }
    .haqto_utility_featured_wrap {
        padding-bottom: 70px;
    }
    .haqto_get_appy_wrap {
        padding: 60px 0 20px;
    }
    .haqto_height_rated_security_img .img_inner .shape_mockup_mobile .shape_tab {
        margin-left: -150px;
    }
    .haqto_height_rated_security_img .img_inner .Vector_color {
        left: -70px;
    }
    .single_item .single_item_content .sec_title {
        font-size: 36px;
        line-height: 44px;
    }
    .haqto_Case_Study_single_content_wrap .pl_100 {
        padding-left: 15px;
    }
    .haqto_Case_Study_single_site_info:before {
        left: -15px;
    }
    .single_item .single_item_content .sec_para {
        margin-bottom: 20px;
    }
    .haqto_Case_Study_single_content {
        margin-bottom: 70px;
    }
    .haqto_Case_Study_single {
        min-height: 250px;
    }
    .haqto_Case_Study_single_content_img {
        margin-top: -110px;
    }
    .haqto_Case_Study_single_content_wrap .pagination {
        margin-bottom: 70px;
    }
    .haqto_header.haqto_travel_header .header_nav .haqto_hamburger .bar_icon .bar {
        background: #ffffff;
    }
    
}


/*============== end @media (max-width: 991px) =================*/

@media (max-width: 768px) {
    .haqto_banner.haqto_banner_three .shape_1 {
        right: -550px;
    }
    .haqto_banner.haqto_banner_three .shape_2 {
        right: -550px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img {
        margin-left: -110px;
    }
    .haqto_banner.haqto_banner_two {
        padding-bottom: 0px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img .social_banner_img .soci_banner_img.img_2 {
        bottom: -60px;
    }
    .haqto_signup_wrap .left_img,
    .haqto_signup_wrap .right_img {
        display: none;
    }
}


/*============== end @media (max-width: 768px) =================*/

@media (max-width: 767px) {
    

    .rev_col {
        flex-direction: column-reverse;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(1) {
        left: 30px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(2) {
        left: 120px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(3) {
        left: 95px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(4) {
        left: 205px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(5) {
        left: 205px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(6) {
        left: 425px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(7) {
        left: 325px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(8) {
        left: 25px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(9) {
        top: 110px;
        left: 365px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(10) {
        left: 400px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(11) {
        left: 390px;
        top: 40px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(12) {
        left: 53%;
        top: 20%;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(13) {
        left: 30px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(14) {
        left: 90px;
        bottom: 90px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(15) {
        left: 215px;
        bottom: 0;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(16) {
        left: 280px;
        bottom: 140px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(17) {
        left: 300px;
        bottom: 65px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(18) {
        left: 345px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(19) {
        left: 400px;
        bottom: 65px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(20) {
        right: 280px;
        bottom: 60px;
    }
    .haqto_banner.haqto_banner_one {
        padding: 115px 0 100px;
    }
    .haqto_banner_content .banner_title {
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 20px;
    }
    .haqto_banner_content .banner_para {
        margin-bottom: 20px;
    }
    .haqto_banner_content .email_box {
        margin-bottom: 25px;
    }
    .haqto_banner_img_content {
        padding-top: 20px;
        display: flex;
        justify-content: center;
    }
    .sec_title {
        font-size: 30px;
        line-height: 36px;
    }
    .haqto_feature_wrap .sec_title {
        margin-bottom: 50px;
    }
    .haqto_feature_item {
        margin-bottom: 70px;
    }
    .haqto_feature_wrap {
        padding-bottom: 10px;
    }
    .haqto_feature_wrap.haqto_social_feature {
        padding-bottom: 50px;
    }
    .haqto_social_about_wrap {
        padding: 0px 0 110px;
    }
    .haqto_support_wrap {
        padding-top: 50px;
    }
    .haqto_support_content {
        padding-right: 0;
    }
    .haqto_support_img .img_inner .shape_2 {
        display: none;
    }
    .haqto_support_img .img_inner img {
        margin: 0;
    }
    .haqto_our_client_wrap {
        padding: 50px 0 90px;
    }
    .haqto_mobile_mockup {
        padding-left: 0;
        text-align: center;
        margin-bottom: 30px;
    }
    .haqto_mobile_mockup img {
        display: inline-block;
    }
    .business_call_img_group {
        margin-left: 0;
    }
    .haqto_call_to_action_img {
        display: flex;
        justify-content: center;
    }
    .haqto_service_content {
        padding-top: 0;
        max-width: 100%;
    }
    .haqto_service_img_content {
        text-align: center;
    }
    .col_reverse {
        flex-direction: column-reverse;
    }
    .haqto_service_item.haqto_service_img_right {
        margin-bottom: 40px;
    }
    .haqto_service_img_content.img_left {
        text-align: center;
    }
    .haqto_download_app_content .haqto_btn_group {
        justify-content: center;
    }
    .haqto_service_item.haqto_service_img_right {
        flex-direction: column-reverse;
    }
    .haqto_footer_widget {
        margin-bottom: 50px;
    }
    .haqto_download_app_content {
        padding-top: 0;
        margin-bottom: 50px;
    }
    .haqto_copy_right .copy_right_text {
        text-align: center;
    }
    .haqto_footer_social .social_item {
        justify-content: center;
        margin-bottom: 20px;
    }
    .haqto_footer_wrap {
        padding: 50px 0 20px;
    }
    .haqto_mockup_img .mockup_inner {
        padding-left: 0;
        text-align: center;
    }
    .haqto_banner_img_content .banner_img .banner_img_iphoneX {
        display: none;
    }
    .haqto_call_to_action_wrap {
        padding: 45px 0;
    }
    .haqto_download_app_three_wrap .download_mockup_device img {
        max-width: 400px;
    }
    .haqto_download_app_three_wrap .download_mockup_device {
        margin-bottom: -80px;
    }
    .haqto_banner.haqto_banner_three .shape_1,
    .haqto_banner.haqto_banner_three .shape_2 {
        display: none;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img {
        margin: 130px 0 0 0;
    }
    .haqto_feature_wrap .sec_title br {
        display: none;
    }
    .haqto_feature_mockup_wrap .bg_shape {
        display: none;
    }
    .haqto_f_mockup_sing_item.mockup_left {
        padding-top: 0;
        // margin-right: 0;
    }
    .haqto_f_mockup_sing_item.mockup_left .mockup_details {
        display: none;
    }
    .haqto_f_mockup_sing_item.mockup_right {
        // margin-left: 0;
        margin-top: 80px;
    }
    .haqto_f_mockup_sing_item .m_img .right_dot_line {
        max-width: 230px;
        right: 125px;
        display: none;
    }
    .haqto_f_mockup_sing_item.mockup_right .mockup_details,
    .haqto_f_mockup_sing_item .m_img .left_dot_line,
    .haqto_f_mockup_sing_item.mockup_right .dot,
    .haqto_f_mockup_sing_item.mockup_left .dot {
        display: none;
    }
    .haqto_f_mockup_sing_item.mockup_right .dot {
        top: 270px;
        right: 355px;
    }
    .haqto_call_to_action_three .haqto_call_to_action_img .call_to_action_three_img .call_img_2 {
        bottom: -180px;
        left: -65px;
    }
    .haqto_about_content.m_w_475 {
        max-width: 100%;
    }
    .haqto_about_content_item_1,
    .haqto_about_content_item_3 {
        flex-direction: column-reverse;
    }
    .haqto_about_img_wrap img {
        margin-bottom: 30px;
    }
    .slider_inner {
        padding: 15px 15px 25px;
    }
    .haqto_download_app_three_wrap .haqto_btn_group .haqto_dbtn.btn_google_play {
        margin-left: 0;
    }
    .haqto_download_app_three_wrap .haqto_btn_group .haqto_dbtn.btn_google_play {
        padding: 11px 20px;
    }
    .haqto_download_app_three_wrap .haqto_btn_group .haqto_dbtn.btn_google_play .icon {
        font-size: 16px;
    }
    .haqto_download_app_three_wrap .haqto_btn_group .haqto_dbtn.btn_apple {
        padding: 8px 25px;
    }
    .haqto_download_app_three_wrap .haqto_btn_group .haqto_dbtn.btn_apple .icon {
        font-size: 24px;
    }
    .haqto_download_app_three_wrap .haqto_btn_group .haqto_dbtn.btn_windows {
        padding: 9px 20px;
    }
    .haqto_download_app_three_wrap .haqto_btn_group .haqto_dbtn.btn_windows .icon {
        font-size: 16px;
    }
    .haqto_download_app_three_wrap {
        margin-bottom: 0;
    }
    .haqto_faq_wrap .sec_title {
        margin-bottom: 30px;
    }
    .haqto_faq_item {
        padding: 10px 20px;
    }
    .haqto_faq_item .haqto_faq_para {
        padding-top: 10px;
    }
    .haqto_call_to_action_four .shape_1,
    .haqto_call_to_action_four .shape_2 {
        display: none;
    }
    .haqto_call_btn_group {
        text-align: left !important;
        padding-top: 30px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_content {
        max-width: 100%;
    }
    .haqto_call_to_action_three .haqto_call_to_action_img .call_to_action_three_img {
        margin-bottom: 270px;
    }
    .haqto_grafe_img_content .img_inner .grafe_man_1 {
        left: -173px;
    }
    .haqto_grafe_img_content .img_inner .grafe_man_1 img {
        max-width: 140px;
    }
    .haqto_analytics_img_content .analytics_img_inner {
        margin-bottom: 60px;
    }
    .haqto_download_two_content {
        max-width: 100%;
        margin-bottom: 40px;
    }
    .haqto_analytics_wrap {
        padding-bottom: 0;
    }
    .haqto_call_to_action_img_content .call_img_1 {
        left: -380px;
        max-width: 535px;
        top: -135px;
    }
    .haqto_call_to_action_img_content .call_img_2 {
        left: -285px;
        max-width: 580px;
        top: 230px;
    }
    .haqto_call_to_action_img_content .call_img_3 {
        left: 0;
        max-width: 580px;
        bottom: -370px;
    }
    .md_none {
        display: none;
    }
    .haqto_grafe_img_content .img_inner .grafe_img {
        max-width: 300px;
    }
    .haqto_grafe_img_content .img_inner .grafe_man_1 {
        left: -163px;
    }
    .haqto_grafe_img_content .img_inner .grafe_man_1 img {
        max-width: 140px;
    }
    .haqto_grafe_img_content .img_inner .grafe_man_2 {
        right: -143px;
    }
    .haqto_grafe_img_content .img_inner .grafe_man_2 img {
        max-width: 120px;
    }
    .haqto_grafe_img_content .img_inner .grafe_item {
        left: -25px;
    }
    .haqto_grafe_img_content .img_inner .grafe_item .grafe_item_img {
        max-width: 350px;
    }
    .haqto_inner_banner {
        padding: 70px 0 65px;
    }
    .blog_single_item .blog_post .post_content .post_title {
        font-size: 26px;
        line-height: 36px;
    }
    .code_post .blog_post .post_content {
        padding: 30px;
    }
    .haqto_inner_banner {
        padding: 60px 0 45px;
    }
    .haqto_inner_banner.haqto_blog_single_banner .haqto_banner_content .banner_title {
        font-size: 26px;
        line-height: 36px;
    }
    .haqto_contactUs_wrap {
        padding-bottom: 0;
    }
    .haqto_contact_form_content {
        max-width: 100%;
    }
    .haqto_contact_form_content .title {
        font-size: 30px;
        line-height: 44px;
        margin-bottom: 35px;
    }
    .haqto_contact_form_wrap {
        padding-top: 40px;
    }
    .haqto_contact_form_group {
        margin-top: 40px;
    }
    .haqto_select_language .select {
        margin: 0 15px;
    }
    .haqto_price_two .container {
        max-width: 100%;
    }
    .haqto_pricing_plan_wrap .container {
        max-width: 100%;
    }
    .haqto_price_lan_title {
        margin-bottom: 15px;
        text-align: center;
    }
    .haqto_price_language {
        text-align: center;
    }
    .portfolio_filter {
        margin: 50px 0;
    }
    .portfolio_filter .work_portfolio_item {
        padding: 5px 15px;
        margin: 0 3px;
    }
    .haqto_price_item .p_list li {
        text-align: center;
    }
    .haqto_price_item.popular {
        background-size: contain;
    }
    .haqto_download_wrap {
        padding: 85px 0 60px;
        overflow: hidden;
    }
    .haqto_download_title {
        font-size: 36px;
    }
    .haqto_download_para {
        margin-bottom: 40px;
    }
    .haqto_footer_wrap.haqto_download_footer .haqto_footer_top .haqto_footer_top_inner .haqto_download_footer_para {
        text-align: center;
        margin-bottom: 20px;
    }
    .haqto_footer_wrap.haqto_download_footer .haqto_footer_bottom .haqto_footer_bottom_inner .haqto_footer_download_menu .haqto_footer_menu {
        text-align: center;
    }
    .haqto_footer_wrap.haqto_download_footer .haqto_footer_bottom .haqto_footer_bottom_inner .haqto_footer_widget {
        margin-bottom: 15px;
        text-align: center;
    }
    .haqto_footer_wrap.haqto_download_footer .haqto_footer_bottom .haqto_footer_bottom_inner .haqto_footer_select_language {
        text-align: center !important;
    }
    .haqto_footer_wrap.haqto_download_footer .haqto_footer_bottom .haqto_footer_bottom_inner .haqto_footer_select_language::after {
        position: static;
    }
    .haqto_footer_wrap.haqto_download_footer .haqto_footer_bottom {
        padding: 40px 0 0;
    }
    .haqto_footer_wrap.haqto_download_footer .haqto_footer_bottom .haqto_footer_bottom_inner .haqto_footer_download_menu .haqto_footer_menu li {
        margin-right: 15px;
    }
    .haqto_signup_wrap {
        padding-bottom: 40px;
    }
    .haqto_support_videos_wrap {
        padding-bottom: 0;
    }
    .haqto_faq_wrap.haqto_support_faq {
        padding-bottom: 50px;
        padding-top: 20px;
    }
    .haqto_video_slider_item .support_video_img .video_thumb {
        width: 100%;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_content {
        padding-bottom: 0;
    }
    .haqto_banner_utility .haqto_banner_content .banner_title {
        font-size: 36px;
        line-height: 40px;
    }
    .haqto_banner_utility {
        padding-top: 60px;
    }
    .haqto_lifestyle_about_us_wrap {
        padding-top: 230px;
    }
    .haqto_lifestyle_feature_tab {
        height: auto;
        background: #0000;
    }
    .haqto_lifestyle_feature_tab li.nav-item {
        margin: 0 10px 10px 0;
    }
    .haqto_lifestyle_feature_tab li.nav-item a.nav-link {
        padding: 5px 15px;
    }
    .haqto_lifestyle_feature_wrap .sec_title {
        margin-bottom: 30px;
    }
    .haqto_lifestyle_featurded_content {
        padding-top: 15px;
    }
    .haqto_lifestyle_main_img_wrap .lifestyle_img {
        margin: 0;
    }
    .haqto_lifestyle_feature_wrap {
        margin-bottom: 70px;
    }
    .haqto_lifestyle_feedback_slider_item .haqto_lifestyle_feedback_item_inner {
        padding: 0px 20px 30px;
    }
    .haqto_lifestyle_feedback_slider_item .haqto_lifestyle_feedback_item_inner .member_catagory {
        margin-bottom: 15px;
    }
    .haqto_lifestyle_feedback_slider_item .haqto_lifestyle_feedback_item_inner .details {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 15px;
    }
    .haqto_banner_utility .circle_shape .circle {
        max-width: 200px;
        height: 200px;
    }
    .haqto_lifestyle_about_us_wrap .haqto_lifestyle_about_content .about_item {
        max-width: 100%;
    }
    .haqto_travel_banner_img .travel_map_img img {
        margin-left: -85px;
    }
    .haqto_travel_banner .haqto_banner_content {
        padding-top: 140px;
        margin-bottom: 50px;
    }
    .haqto_travel_call_to_action {
        padding: 60px 0 66px;
    }

    .haqto_travel_banner .sun_img {
        top: -25px;
        right: 10px;
    }
    .haqto_travel_banner .sun_img img {
        max-width: 70px;
    }
    .sec_para {
        font-size: 16px;
        line-height: 26px;
    }
    .haqto_utility_banner_wrap .haqto_banner_content {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .haqto_utility_banner_wrap .haqto_banner_content .banner_title {
        font-size: 36px;
        line-height: 40px
    }
    .haqto_utility_banner_wrap {
        padding-bottom: 150px;
    }
    .haqto_utility_about_us_wrap .haqto_about_details_inner_bg {
        display: none;
    }
    .haqto_utility_about_us_wrap .haqto_about_mobile_shape::before, 
    .haqto_utility_about_us_wrap .haqto_about_mobile_shape::after {
        display: none;
    }
    .haqto_utility_about_us_wrap {
        padding: 60px 0 0;
    }
    .haqto_height_rated_security_contant {
        padding-top: 30px;
    }
    .haqto_utility_about_us_wrap .haqto_about_details_content .about_item {
        max-width: 100%;
        margin-bottom: 30px;
    }
    .haqto_Case_Study_single_site_info:before {
        display: none;
    }
    .single_item_img {
        margin-bottom: 30px;
    }
    .single_item .single_item_content .sec_title {
        font-size: 30px;
        line-height: 36px;
    }
    .single_item {
        margin-bottom: 60px;
    }
    .single_item_bottom {
        padding-top: 0;
        padding-bottom: 10px;
    }
    .haqto_Case_Study_single_content_wrap .pagination {
        margin-bottom: 40px;
    }
    .haqto_header.haqto_travel_header .header_nav .haqto_hamburger .bar_icon .bar {
        background: #ff5e00;
    }
    
}


/*============== end @media (max-width: 767px) =================*/

@media (max-width: 680px) {
    .haqto_banner_content .banner_title {
        font-size: 30px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(1) {
        left: 30px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(2) {
        left: 130px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(3) {
        left: 50px;
        top: 80px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(4) {
        left: 205px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(5) {
        left: 140px;
        top: 120px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(6) {
        left: 305px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(7) {
        left: 410px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(8) {
        left: 25px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(9) {
        top: 110px;
        left: 365px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(10) {
        left: 455px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(11) {
        left: 455px;
        top: 50px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(12) {
        left: 60%;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(13) {
        left: 30px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(14) {
        left: 140px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(15) {
        left: 295px;
        bottom: 0;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(16) {
        left: 245px;
        bottom: 175px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(17) {
        left: 325px;
        bottom: 125px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(18) {
        left: 430px;
        bottom: 0;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(19) {
        left: 395px;
        bottom: 65px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(20) {
        right: 215px;
    }
    .haqto_download_wrap {
        padding-top: 60px;
    }
    .haqto_banner_utility {
        padding-top: 45px;
    }
    .haqto_banner_utility .haqto_banner_content .banner_title {
        font-size: 30px;
        line-height: 36px;
    }
    .haqto_travel_banner .haqto_banner_content {
        padding-top: 120px;
    }
    .haqto_get_appy_tab_wrap .haqto_get_appy_tab li {
        margin: 0 5px;
    }
    .haqto_get_appy_tab_wrap .haqto_get_appy_tab li a {
        padding: 15px 30px 5px;
    }
    .haqto_get_appy_tab_wrap .haqto_get_appy_tab li a .tab_link .icon i {
        font-size: 34px;
    }
    .haqto_height_rated_security_img .img_inner .shape_mockup_mobile .shape_tab img {
        max-width: 450px;
    }
    .haqto_height_rated_security_img .img_inner .shape_mockup_mobile .shape_mobile img {
        max-width: 280px;
    }
    .haqto_feedback_two_slider_item {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


/*============== end @media (max-width: 680px) =================*/

@media (max-width:480px) {
    .haqto_header {
        padding: 15px 0;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(1) {
        left: 30px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(2) {
        left: 111px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(3) {
        left: 45px;
        top: 65px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(4) {
        left: 205px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(5) {
        left: 195px;
        top: 115px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(7) {
        left: 188px;
        top: -25px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(8) {
        left: 300px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(9) {
        top: 70px;
        left: 290px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(10) {
        left: 25px;
        top: 150px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(11) {
        left: 235px;
        top: 195px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(12) {
        left: 35%;
        top: 90px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(13) {
        left: 22px;
        bottom: 70px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(14) {
        left: 100px;
        bottom: 135px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(15) {
        left: 160px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(16) {
        left: 185px;
        bottom: 110px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(17) {
        left: 110px;
        bottom: 50px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(18) {
        left: 255px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(19) {
        left: 290px;
        bottom: 75px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(20) {
        right: 265px;
        bottom: 0;
    }
    .haqto_mobile_mockup_slider .haqto_mobile_mockup_slider_item {
        padding-top: 10px;
    }
    .haqto_our_service_wrap {
        padding: 40px 0 30px;
    }
    .business_call_img_group {
        margin-left: 0;
    }
    .haqto_call_to_action_content .call_title {
        font-size: 28px;
    }
    .haqto_client_content .haqto_btn_group .haqto_dbtn.btn_solid {
        margin-bottom: 30px;
    }
    .haqto_client_content .haqto_btn_group .haqto_dbtn.btn_icon {
        margin-left: 0;
    }
    .haqto_f_mockup_sing_item.mockup_left .mockup_details,
    .haqto_f_mockup_sing_item .m_img .left_dot_line,
    .haqto_f_mockup_sing_item.mockup_right .mockup_details,
    .haqto_f_mockup_sing_item .m_img .right_dot_line {
        display: none;
    }
    .haqto_f_mockup_sing_item.mockup_left,
    .haqto_f_mockup_sing_item.mockup_right {
        display: flex;
        justify-content: center;
    }
    .haqto_f_mockup_sing_item.mockup_right .dot {
        right: 125px;
    }
    .haqto_download_app_three_wrap .download_mockup_device img {
        max-width: 360px;
        transform: inherit !important;
    }
    .sec_title {
        font-size: 24px;
        line-height: 30px;
    }
    .haqto_download_app_three_wrap .haqto_btn_group {
        display: block;
    }
    .haqto_download_app_three_wrap .haqto_btn_group .haqto_dbtn.haqto_dbtn {
        margin-left: 0;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .haqto_faq_item .haqto_faq_title {
        font-size: 18px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img .education_banner_img {
        max-width: 100%;
    }
    .haqto_banner_one .haqto_banner_img_content .banner_img .img_5 img {
        max-width: 150px;
    }
    .haqto_banner.haqto_banner_three .haqto_banner_img_content .banner_img .img_4 {
        top: -65px;
        left: 100px;
    }
    .haqto_banner_one .haqto_banner_img_content .banner_img .img_4 img {
        max-width: 60px;
    }
    .haqto_grafe_img_content .img_inner .grafe_img {
        max-width: 200px;
    }
    .haqto_grafe_img_content .img_inner .grafe_man_1 {
        left: -99px;
        bottom: 0;
    }
    .haqto_grafe_img_content .img_inner .grafe_man_1 img {
        max-width: 95px;
    }
    .haqto_grafe_img_content .img_inner .grafe_man_2 {
        right: -80px;
    }
    .haqto_grafe_img_content .img_inner .grafe_man_2 img {
        max-width: 80px;
    }
    .haqto_grafe_img_content .img_inner .grafe_item {
        left: -5px;
    }
    .haqto_grafe_img_content .img_inner .grafe_item .grafe_item_img {
        max-width: 210px;
    }
    .haqto_analytics_img_content.pl_100 {
        padding-left: 70px;
    }
    .haqto_analytics_img_content .analytics_img_inner .analytics_member_1 {
        right: -35px;
        max-width: 50px;
    }
    .haqto_analytics_img_content .analytics_img_inner .analytics_member_2 {
        left: -75px;
        max-width: 90px;
    }
    .haqto_analytics_img_content .analytics_img_inner .analytics_icon_1 {
        left: -80px;
        max-width: 40px;
        bottom: 270px;
    }
    .haqto_analytics_img_content .analytics_img_inner .analytics_icon_2 {
        right: -35px;
    }
    .haqto_analytics_img_content .analytics_img_inner .analytics_icon_3 {
        left: -75px;
        max-width: 55px;
    }
    .sec_title2 {
        font-size: 26px;
        line-height: 36px;
    }
    .haqto_call_to_action_two_wrap {
        min-height: auto;
        padding-bottom: 470px;
        padding-top: 30px;
    }
    .haqto_call_to_action_img_content .call_img_1 {
        left: -235px;
        max-width: 420px;
        top: 260px;
    }
    .haqto_call_to_action_img_content .call_img_2 {
        left: -190px;
        max-width: 490px;
        top: 545px;
    }
    .haqto_call_to_action_img_content .call_img_3 {
        left: 55px;
        max-width: 470px;
        bottom: -375px;
    }
    .haqto_author {
        padding: 30px;
    }
    .blog_single_content .comment_reply_form {
        padding: 30px;
    }
    .comment-list li .media {
        display: block;
    }
    .comment-list li .media .media-left {
        margin: 0 0 20px;
    }
    .comment-list li .media .media-body .comment-list {
        padding-left: 30px;
    }
    .blog_single_content .blog_single_item blockquote {
        padding: 30px;
    }
    .tags_group {
        display: block;
    }
    .tags_group a {
        display: inline-block;
        margin-bottom: 10px;
    }
    .blog_single_content .blog_single_item {
        padding-bottom: 0;
    }
    .haqto_author .media {
        display: block;
    }
    .haqto_author .media-left {
        margin-bottom: 20px;
    }
    .haqto_inner_banner .haqto_banner_content .banner_title {
        font-size: 30px;
        line-height: 40px;
    }
    .haqto_contact_item {
        max-width: 100%;
    }
    .haqto_contact_form_wrap {
        padding-bottom: 0;
    }
    .apz_price_tab {
        padding: 10px;
        border-radius: 5px;
    }
    .apz_price_tab .nav-item {
        width: 100%;
    }
    .apz_price_tab .nav-item .nav-link {
        text-align: center;
        width: 100%;
    }
    .apz_price_tab .nav-item .nav-link.active {
        border-radius: 5px;
        background: #5268f2;
    }
    .haqto_select_language span {
        display: block;
        margin-bottom: 15px;
    }
    .haqto_select_language .select select {
        margin-bottom: 15px;
    }
    .portfolio_filter {
        display: block;
    }
    .portfolio_filter .work_portfolio_item {
        margin: 0 5px 5px 0;
    }
    .haqto_portfolio_area {
        padding-bottom: 10px;
    }
    .haqto_call_to_action_three .haqto_call_to_action_img .call_to_action_three_img {
        margin-bottom: 220px;
    }
    .haqto_call_to_action_wrap  {
        padding-top: 100px;
        padding-bottom: 60px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img {
        margin-top: 50px;
    }
    .haqto_lifestyle_featurded_graphcontent .graph_inner .graph_user {
        display: none;
    }
    .haqto_lifestyle_main_img_wrap {
        margin-bottom: 0;
    }
    .haqto_lifestyle_featurded_graphcontent .graph_inner .grapg_details.graph_viewers {
        left: 120px;
    }
    .haqto_travel_banner_img .travel_map_img img {
        margin-left: -200px;
        max-width: 650px;
    }
    .haqto_travel_banner_img .map_pin_3 {
        bottom: 80px;
        right: 277px;
    }
    .haqto_travel_banner_img .map_pin_2 {
        bottom: 134px;
        right: 25px;
    }
    .haqto_travel_banner_img .map_pin_1 {
        bottom: 170px;
        right: 213px;
    }
    .haqto_travel_faq .haqto_faq_content .haqto_accordion .haqto_faq_item {
        padding: 19px 20px 18px 20px;
    }
    .haqto_faq_item .haqto_faq_title::before {
        top: 0;
        transform: translateY(-0%);
    }
    .haqto_faq_item .haqto_faq_para {
        padding-right: 0;
    }
    .haqto_travel_faq .haqto_faq_content .haqto_accordion .haqto_faq_item .haqto_faq_title {
        padding-right: 20px;
    }
    .haqto_travel_banner_img .aeroplane {
        left: 0;
    }
    .haqto_travel_banner_img .aeroplane img {
        width: 100%;
    }
    .haqto_get_appy_tab_wrap .haqto_get_appy_tab li a {
        padding: 10px 10px 5px;
    }
    .haqto_get_appy_tab_wrap .haqto_get_appy_tab li a .tab_link .icon {
        margin-bottom: 0;
    }
    .haqto_get_appy_tab_wrap .haqto_get_appy_tab li a .tab_link .icon i {
        font-size: 20px;
    }
    .haqto_feedback_two_tab_wrap .haqto_feedback_two_tab li a {
        margin: 0;
    }
    .haqto_utility_about_us_wrap .haqto_about_mobile_shape .shape_mobile_bg {
        display: none;
    }
    .haqto_Case_Study_single_content_wrap .pagination a span {
        display: none;
    }
}



/* ================================        wp          ===================================  */
@media (max-width: 480px) {
    .haqto_grafe_img_content .img_inner .grafe_item .grafe_item_img {
        max-width: 210px;
    }
    .haqto_lifestyle_featurded_content .title {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 30px;
    }
    .haqto_lifestyle_featurded_graphcontent{
        padding: 100px 0 50px;
    }
    .haqto_lifestyle_feature_wrap{
        padding-top: 100px;
    }
    .haqto_lifestyle_about_us_wrap .haqto_lifestyle_about_content p{
        margin-bottom: 24px;
    }
    .about_img_content_inner .about_mockup{
        margin-bottom: 10px;
    }
    .haqto_lifestyle_style_wrap{
        padding-top: 70px;
    }
    .haqto_lifestyle_feedback_wrap{
        padding-top: 100px;
    }
    .haqto_feature_wrap{
        padding-top: 60px;
    }
    .haqto_mobile_mockup{
        margin-bottom: 40px;
    }
    .haqto_service_img_content{
        margin-bottom: 20px;
    }
    .haqto_service_item.haqto_service_img_right{
        margin-bottom: 50px;
    }
    .haqto_our_service_wrap{
        padding-bottom: 80px;
    }
    .haqto_support_wrap{
        padding-top: 50px;
    }
    .haqto_support_content {
        margin-top: 60px;
    }
    .haqto_our_client_wrap {
        padding-top: 60px;
        border-top: 1px solid #e0e2ec;
        margin-top: 60px;
    }
    .haqto_mockup_img .mockup_inner .download_2{
        display: block;
    }
    .download_1, .download_2{
        padding-right: 32px;
    }
    .banner_img .img_4{
        display: none;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img {
        margin-top: 30px;
    }
    .haqto_call_to_action_content,
    .haqto_call_to_action_img {
        padding-bottom: 20px;
    }
    .haqto_about_three.haqto_social_about_wrap{
        padding-top: 70px;
    }
    .haqto_about_content .about_title{
        font-size: 20px;
        line-height: 30px;
    }
    .haqto_about_content_item_1,
    .haqto_about_content_item_2{
        margin-bottom: 70px;
    }
    .haqto_about_img_wrap img {
        margin-bottom: 20px;
    }
    .haqto_download_app_three_wrap .download_mockup_device img {
        max-width: 360px;
    }
    .haqto_header .header_nav .logo img{
        max-width: 70px
    }
    .haqto_feature_wrap.haqto_social_feature{
        padding-bottom: 70px;
    }
    .haqto_social_about_content{
        margin-top: 50px;
    }
    .haqto_social_about_wrap{
        padding-top: 40px;
    }
    .sec_title2{
        font-size: 24px;
        line-height: 32px;
    }
    .haqto_social_about_content .sec_title2{
        margin-bottom: 20px;
    }
    .haqto_social_about_content .haqto_soci_para{
        margin-bottom: 40px;
    }
    .haqto_social_about_wrap{
        padding-bottom: 20px;
    }
    .haqto_download_two_content .language{
        font-size: 20px;
    }
    .haqto_download_app_two_wrap{
        padding-bottom: 100px;
    }
    .haqto_faq_wrap{
        padding-top: 80px;
    }
    .haqto_download_two_content .language_list{
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    .haqto_analytics_content .sec_title2 {
        margin-bottom: 20px;
    }
    .haqto_analytics_content .analytics_para {
        margin-bottom: 40px;
    }
    .haqto_download_two_content .sec_title2 {
        margin-bottom: 20px;
        margin-top: 50px;
    }
    .haqto_download_app_two_wrap {
        padding-bottom: 30px;
    }
    .haqto_call_to_action_img_content{
        display: none;
    }
    .haqto_call_to_action_two_wrap{
        padding-bottom: 0;
    }
    .haqto_call_to_action_two_wrap .haqto_call_to_action_content .call_para{
        margin-bottom: 40px;
    }
    .haqto_call_to_action_two_wrap {
        padding-bottom: 20px;
        padding-top: 50px;
    }
    .haqto_call_to_action_two_wrap .haqto_call_to_action_content .haqto_btn_group .btn_solid + .btn_solid{
        margin-left: 14px;
    }
    .haqto_call_to_action_two_wrap .haqto_call_to_action_content .haqto_btn_group .btn_solid,
    .haqto_call_to_action_two_wrap .haqto_call_to_action_content .haqto_btn_group .btn_solid + .btn_solid{
        padding: 5px 20px;
    }
    .haqto_call_to_action_two_wrap .haqto_call_to_action_content .haqto_btn_group .btn_solid .btn_inner .text{
        font-size: 15px;
        line-height: 15px;
    }
    .haqto_call_to_action_two_wrap .haqto_call_to_action_content .haqto_btn_group .btn_solid .btn_inner .text small{
        font-size: 12px;
    }
    .haqto_call_to_action_two_wrap .haqto_call_to_action_content .haqto_btn_group .btn_solid .btn_inner .icon .iconify{
        font-size: 22px;
    }
    .haqto_call_to_action_two_wrap .haqto_call_to_action_content .haqto_btn_group .btn_solid .btn_inner .icon{
        margin-right: 9px;
    }
    .haqto_call_to_action_two_wrap .haqto_call_to_action_content .haqto_btn_group .btn_solid + .btn_solid .btn_inner .icon .iconify{
        font-size: 32px;
    }

}


/* ================================        wp          ===================================  */


/*============== end @media (max-width: 480px) =================*/

@media (max-width: 375px) {
    .haqto_cleint_logo_content .client_logo_list li:nth-child(6) {
        left: 260px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(9) {
        left: 265px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(8) {
        left: 260px;
        top: 38%;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(11) {
        left: 270px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(19) {
        left: 240px;
        bottom: 55px;
    }
    .haqto_call_to_action_three .haqto_call_to_action_img .call_to_action_three_img .cloud_1 {
        left: 195px;
    }
    .haqto_call_to_action_three .haqto_call_to_action_img .call_to_action_three_img .call_img_2 {
        bottom: -120px;
        left: -38px;
    }
    .haqto_call_to_action_three .haqto_call_to_action_img .call_to_action_three_img .pen img {
        max-width: 190px;
    }
    .haqto_call_to_action_three .haqto_call_to_action_img .call_to_action_three_img .pen {
        left: -20px;
    }
    .haqto_call_to_action_three .haqto_call_to_action_img .call_to_action_three_img .cloud_2,
    .haqto_call_to_action_three .haqto_call_to_action_img .call_to_action_three_img .dots {
        display: none;
    }
    .business_call_img_group .gear_icon img {
        max-width: 100px;
    }
    .business_call_img_group .chart {
        bottom: 65px;
        max-width: 50px;
    }
    .haqto_download_app_three_wrap .haqto_btn_group .haqto_dbtn.haqto_dbtn {
        margin-right: 15px;
    }
    .haqto_travel_banner_img .travel_map_img img {
        margin-left: -190px;
        max-width: 570px;
    }
    .haqto_travel_banner_img .map_pin_3 {
        bottom: 74px;
        right: 262px;
    }
    .haqto_travel_banner_img .map_pin_2 {
        bottom: 117px;
        right: 42px;
    }
    .haqto_travel_banner_img .map_pin_1 {
        bottom: 150px;
        right: 205px;
    }
    
}


/*============== end @media (max-width: 375px) =================*/

@media (max-height: 420px) and (max-width: 991px) {
    .haqto_header_menu {
        overflow-y: scroll;
        max-height: 200px;
    }
}

@media (max-width: 420px) {
    .haqto_header_menu {
        overflow-y: scroll;
        max-height: 400px;
    }
}