/* =====================================                 haqto_signup_wrap               ======================================== */

.haqto_signup_wrap {
    padding: 95px 0 90px;
    position: relative;
    .right_img {
        position: absolute;
        bottom: 280px;
        right: 265px;
        img {
            animation: jump 3s linear infinite;
        }
    }
    .left_img {
        position: absolute;
        bottom: 90px;
        left: 225px;
        img {
            animation: jump 4s linear infinite;
        }
    }
}

.haqto_signin_wrap {
    .right_img {
        bottom: 220px;
        right: 250px;
    }
    .left_img {
        bottom: 80px;
        left: 335px;
    }
}

.haqto_signup_body {
    max-width: 570px;
    width: 100%;
    margin: 0 auto;
}

.sign_up_titlle {
    color: #2c234d;
    font-size: 30px;
    font-weight: 600;
    font-family: $pop;
    margin-bottom: 45px;
}

.sign_up_form {
    .form-group {
        margin-bottom: 30px;
        p {
            color: #707b8e;
            font-size: 16px;
            font-weight: 400;
            font-family: $pop;
            line-height: 30px;
            margin-bottom: 10px;
        }
        .form-control {
            color: #2c234d;
            font-size: 16px;
            font-weight: 400;
            font-family: $pop;
            line-height: 30px;
            box-shadow: none;
            outline: none;
            background: #fbfbfd;
            border-radius: 6px;
            border: 1px solid #e8ebf8;
            height: 60px;
            padding: 15px 30px;
            &::placeholder {
                color: #a8aeba;
            }
            &:focus {
                background-color: rgb(255, 255, 255);
                box-shadow: 0px 20px 40px 0px rgba(8, 22, 113, 0.06);
            }
        }
        .sign_up_btn {
            color: #5268f2;
            font-size: 16px;
            font-weight: 500;
            font-family: $pop;
            line-height: 30px;
            width: 100%;
            padding: 8px 10px;
            border: 2px solid #a5b1f9;
            border-radius: 25px;
            &:hover {
                background: #5268f2;
                border-color: #5268f2;
                color: #fff;
                box-shadow: 0px 20px 30px 0px rgba(9, 25, 130, 0.2);
            }
        }
        &.sign_up_btn_group {
            margin-bottom: 20px;
        }
    }
    .sign_up_para {
        color: #707b8e;
        font-size: 14px;
        font-weight: 400;
        font-family: $pop;
        line-height: 30px;
    }
    .haqto_sign_note {
        margin-bottom: 40px;
        a {
            color: #5268f2
        }
        .stay_here {
            input {
                margin: 0 5px 0 0;
                cursor: pointer;
            }
            label {
                margin: 0;
                cursor: pointer;
            }
        }
    }
    .sign_with_social {
        margin-bottom: 10px;
    }
    .social_sign_link {
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #e1e3ed;
        padding-bottom: 30px;
        margin-bottom: 30px;
        a {
            display: inline-block;
            width: 60px;
            height: 30px;
            font-size: 16px;
            line-height: 30px;
            text-align: center;
            border-radius: 4px;
            color: #fff;
            margin: 0 5px;
            transition: all 0.5s;
            &.social_googleplus {
                background: #ea4335;
                &:hover {
                    background: #da7068;
                }
            }
            &.social_facebook {
                background: #3f6dcc;
                &:hover {
                    background: #5f8ae4;
                }
            }
        }
    }
    .have_an_account {
        color: #707b8e;
        font-size: 16px;
        font-weight: 400;
        font-family: $pop;
        line-height: 30px;
        a {
            color: #5268f2;
            position: relative;
            &::before {
                position: absolute;
                content: "";
                bottom: 0;
                right: 0;
                width: 0%;
                height: 1px;
                background: #5268f2;
                transition: all 0.5s;
                opacity: 0;
            }
            &:hover {
                &::before {
                    opacity: 1;
                    width: 100%;
                    right: auto;
                    left: 0;
                }
            }
        }
    }
}


/* =====================================                 haqto_signup_wrap               ======================================== */