@charset "utf-8";
//-----Color class style

body {
    font-family: "Poppins", sans-serif !important;
}

.tcolor {
    color: $tcolor;
}

.dark {
    color: $dark;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.pop {
    font-family: $pop;
}

p {
    font-family: $p-font-family;
    font-size: $p-font-size;
    line-height: $p-line-height;
    font-weight: $p-font-weight;
    color: $p-font-color;
}

a {
    text-decoration: $a-text-decuration;
    color: $a-color;
    transition: all 0.3s;
}

.underline {
    text-decoration: underline !important;
}

.hover-color:hover {
    color: $tcolor;
}

a:hover {
    color: $tcolor;
    text-decoration: $a-text-decuration;
}

a:focus {
    outline: none !important;
}

a.link {
    color: $tcolor;
}

a.link:hover {
    color: $tcolor !important;
}


/* ======================================          Global style                 ==================================== */

@media (min-width: 1250px) {
    .container {
        max-width: 1200px;
    }
}

.sec_title {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    color: $dark;
    font-family: $pop;
}

.sec_para {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #707b8e;
    font-family: $pop;
}

.sec_title2 {
    color: #4d446b;
    font-size: 36px;
    line-height: 50px;
    font-weight: 600;
    font-family: $pop;
}

.title {
    font-size: 30px;
    line-height: 44px;
    font-weight: 600;
    color: $dark;
    font-family: $pop;
}

.pl_100 {
    padding-left: 100px;
}

.mt_99 {
    margin-top: 99px;
}

.haqto_btn {
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    color: #fff;
    font-family: $pop;
    font-weight: 400;
    line-height: 30px;
}

.haqto_dbtn {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    font-family: $pop;
    font-weight: 500;
    line-height: 18px;
    border-radius: 25px;
    font-size: 16px;
    display: inline-block;
    padding: 14px 35px;
    transition: all 0.5s;
    &.btn_border {
        border: 1px solid $tcolor;
        color: $tcolor;
        &:hover {
            background: $tcolor;
            color: #fff;
        }
    }
    &.btn_solid {
        border: 1px solid transparent;
        color: $tcolor;
        &:hover {
            background: transparent;
            color: #fff;
            border-color: #fff
        }
    }
    &.btn_solid_color {
        border: 1px solid $tcolor;
        color: #fff;
        background: $tcolor;
        &:hover {
            background: transparent;
            color: $tcolor;
        }
    }
    &.btn_icon {
        display: inline-flex;
        align-items: center;
        i {
            margin-left: 12px;
            transition: all 0.5s;
        }
    }
}

.m_w_475 {
    max-width: 475px;
    width: 100%;
}

.p_r_45 {
    padding-right: 45px;
}

.p_l_45 {
    padding-left: 45px;
}

@media (min-width: 992px) {
    .pr_0 {
        padding-right: 0;
    }
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #f23891;
    position: absolute;
    &:before,
    &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 50%;
        background: #f23891;
        top: 0;
        left: 0;
    }
    &:before {
        transform: scale(2.5);
        opacity: 0.3;
    }
    &:after {
        transform: scale(4);
        opacity: 0.1;
    }
    .round {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: rgba(242, 56, 146, 0.2);
        animation: pulsate 3s infinite;
        transform: translate(-50%, -50%);
    }
}


.wFull {
    animation: wFull 1.5s 1 linear;
}
