/*============ haqto_finance_banner_area css ===========*/
.haqto_finance_banner_area {
  overflow: hidden; }

.haqto_finance_banner_content {
  max-width: 570px;
  margin-left: auto;
  margin-right: 0; }

/*============ haqto_finance_banner_area css ===========*/
