@media (max-width: 1550px) {
    .haqto_banner_img_content .banner_img .banner_img_macbook {
        max-width: 750px;
    }
    .haqto_banner.haqto_banner_three .haqto_banner_img_content .banner_img {
        margin-left: -185px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img {
        margin-left: -70px;
    }
    .haqto_mockup_img .mockup_inner .circle_1 {
        left: -40px;
    }
    .haqto_mockup_img .mockup_inner .circle_2 {
        left: -60px;
    }
    .haqto_how_it_tab_content_wrap .tab_custom_arrow.prevtab {
        left: 80px;
    }
    .haqto_how_it_tab_content_wrap .tab_custom_arrow.nexttab {
        right: 80px;
    }
    .haqto_finance_app_promo_area .haqto_app_right .app_content {
        max-width: 600px;
        margin-left: 0;
        margin-right: auto;
        padding-left: 115px;
    }
    .haqto_finance_app_promo_area .haqto_img{
        width: 895px;
    }
    .haqto_restaurent_action_img {
        margin-left: -70px;
    }
}


/*============== end @media (max-width: 1550px) =================*/

@media (max-width: 1366px) {
    .haqto_banner_img_content .banner_img .banner_img_macbook {
        max-width: 700px;
    }
    .haqto_call_to_action_img_content .call_img_1 {
        left: -380px;
    }
    .haqto_call_to_action_img_content .call_img_2 {
        left: -240px;
    }
    .haqto_call_to_action_img_content .call_img_3 {
        left: 265px;
    }
    .haqto_grafe_img_content {
        padding-left: 150px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img {
        margin-left: -100px;
    }
    .haqto_download_app_three_wrap .download_mockup_device img {
        max-width: 1100px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img .education_banner_img {
        max-width: 600px;
    }
    .macbook_img img {
        right: 47px;
    }
    .haqto_health_featured .h_featured_item{
        margin-left: 0;
        max-width: 100%;
    }
}

@media(max-width:1360px){
    .haqto_finance_app_promo_area .app_promo_mockup img{
        max-width: 80%;
    }
    .haqto_finance_app_promo_area .app_promo_mockup.one img{
        max-width: 70%;
    }
    .haqto_finance_app_promo_area .haqto_img {
        width: 550px;
    }
    .haqto_finance_app_promo_area .haqto_app_right .app_content{
        max-width: 100%;
        padding-left: 0;
        padding-right: 15px;
    }
    .haqto_finance_app_promo_area .app_promo_mockup.one {
        right: -275px;
    }
    .haqto_finance_app_promo_area .app_promo_mockup.two {
        left: -270px;
    }
    .haqto_finance_app_promo_area .app_promo_mockup.four {
        left: 97px;
        bottom: 84px;
    }
    .haqto_finance_app_promo_area .app_promo_mockup.three {
        right: -247px;
    }
    .haqto_finance_app_promo_area .app_promo_mockup.six {
        left: -5px;
        bottom: 30px;
    }
    .haqto_finance_app_promo_area .app_promo_mockup.five {
        left: -68px;
        bottom: 0px;
    }
    .haqto_health_about_slider .slick-arrow.slick-prev{
        left: 0;
    }
    .haqto_health_about_slider .slick-arrow.slick-next{
        right: 0;
    }
    .haqto_health_about_slider{
        padding-left: 60px;
        padding-right: 60px;
    }
    .haqto_food_app_promo_area .haqto_app_right .app_content{
        padding-left: 75px;
    }
    .haqto_food_app_promo_area .haqto_app_right{
        padding: 80px 0px;
    }
    .haqto_food_app_promo_area .haqto_img .app_promo_mockup.two {
        left: -170px;
        top: -55px;
    }
    .haqto_food_app_promo_area .haqto_img .app_promo_mockup.three {
        right: -218px;
        bottom: -48px;
    }
    .haqto_food_app_promo_area .haqto_img .app_promo_mockup.six {
        left: -198px;
        bottom: -41px;
    }
    .haqto_food_app_promo_area .haqto_img .app_promo_mockup.five {
        left: -66px;
        bottom: -36px;
    }
    .haqto_food_app_promo_area .haqto_img .app_promo_mockup.four {
        left: 60px;
        bottom: 0px;
    }
    .haqto_restaurent_action_img img{
        width: 150px;
    }
    .haqto_restaurent_action_img img + img{
        width: 450px;
    }
    .haqto_restaurent_action_img{
        margin-left: 0;
    }
}

/*============== end @media (max-width: 1366px) =================*/

@media (max-width:1199px){
    .haqto_finance_banner_content{
        padding-left: 15px;
        max-width: 100%;
    }
    .haqto_finance_features_item{
        padding-left: 20px;
        padding-right: 20px;
    }
    .haqto_footer_wrap.pt_400{
        padding-top: 450px;   
    }
    .haqto_health_about_slider .slider_details{
        padding-left: 20px;
        padding-right: 20px;
    }
    .haqto_health_about_slider .slider_details .sd_img img{
        box-shadow: 0px 10px 20px 0px rgba(39, 60, 99, 0.16);
    }
    .haqto_fitness_img_content .fitness_mockup_img{
        right: 200px;
    }
    .haqto_fitness_content .sec_title_2 br{
        display: none;
    }
    .haqto_health_banner .haqto_banner_content .banner_title{
        font-size: 56px;
        line-height: 65px;
    }
    .haqto_health_banner_img{
        padding-top: 215px;
    }
    .haqto_health_banner .haqto_banner_content {
        padding: 210px 0 130px;
    }
    .haqto_h_service_wrap .pl_100{
        padding-left: 63px;
    }
    .haqto_h_service_wrap {
        padding: 55px 0 100px;
    }
    .haqto_h_service_item {
        margin-bottom: 100px;
    }
    .haqto_food_banner_area{
        padding-top: 150px;
    }
    .haqto_food_banner_content{
        padding-top: 0;
        margin-bottom: 30px;
        
    }
    .haqto_food_banner_area .justify-content-end{
        justify-content: center !important;
    }
    .haqto_food_about_img {
        max-width: 575px;
        margin-bottom: 50px;
    }
    .haqto_food_about_item_two .haqto_food_about_content{
        padding-right: 0;
        padding-top: 50px;
    }
    .haqto_food_about_item_two{
        padding-bottom: 20px;
    }
    .haqto_food_app_promo_area .haqto_img .app_promo_mockup.one {
        right: -346px;
        top: 0px;
    }
    .haqto_food_app_promo_area .haqto_img .app_promo_mockup.two {
        left: -85px;
        top: -55px;
    }
    .haqto_food_app_promo_area .haqto_img .app_promo_mockup.three {
        right: -218px;
        bottom: 0px;
    }
    .haqto_food_app_promo_area .haqto_img .app_promo_mockup.four {
        left: 71px;
        bottom: 52px;
    }
    .haqto_food_app_promo_area .haqto_img .app_promo_mockup.five {
        left: -66px;
        bottom: 0px;
    }
    .haqto_food_app_promo_area .haqto_img .app_promo_mockup.six{
        display: none;
    }
    .haqto_finance_footer .pl_100{
        padding-left: 0;
    }
    .desh_img img{
        max-width: 100%;
    }
    .desh_img .round{
        width: 480px;
        height: 480px;
        margin-top: -240px;
        margin-left: -240px;
    }
    .haqto_restaurant_feature_item {
        padding: 0px;
    }
    .haqto_restaurant_software_area .row{
        margin-left: -15px;
        margin-right: -15px;
    }
    .haqto_restaurent_action_img img {
        width: 115px;
    }
    .haqto_restaurent_action_img img + img {
        width: 360px;
    }
    .rest_action_dbtn{
        padding: 5px 10px 9px;
    }
    .coupon_form .coupon_w {
        max-width: 377px;
    }
    .haqto_features_img img{
        max-width: 100%;
    }
    .flex-row-reverse .haqto_restaurent_content {
        padding-right: 0px;
    }
}

@media (max-width: 1024px) { 
    .full_width_1024 {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .haqto_banner_one .haqto_banner_img_content .banner_img {
        margin-left: 0;
    }
    .haqto_banner_one .haqto_banner_img_content .banner_img .img_4 img {
        max-width: 80px;
    }
    .haqto_banner_one .haqto_banner_img_content .banner_img .img_5 img {
        max-width: 210px;
    }
    .haqto_banner.haqto_banner_three .shape_1 {
        right: -400px;
    }
    .haqto_banner.haqto_banner_three .shape_2 {
        right: -400px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(1) {
        left: 100px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(2) {
        left: 220px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(3) {
        left: 280px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(4) {
        left: 430px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(5) {
        left: 525px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(6) {
        left: 685px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(7) {
        left: 840px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(8) {
        left: 50px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(9) {
        left: 430px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(10) {
        left: 660px;
        top: 165px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(11) {
        top: 110px;
        left: 790px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(12) {
        top: 120px;
        left: 90%;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(13) {
        left: 30px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(14) {
        bottom: 90px;
        left: 160px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(15) {
        left: 270px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(16) {
        bottom: -10px;
        left: 440px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(17) {
        bottom: 35px;
        left: 620px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(18) {
        bottom: -35px;
        left: 740px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(19) {
        bottom: 75px;
        left: 815px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(20) {
        right: 30px;
    }
    .haqto_support_img .img_inner {
        margin-left: 0;
    }
    .haqto_support_img .img_inner img {
        margin-left: -50px;
    }
    .haqto_support_img .img_inner .shape_2 .shape_2_inner {
        right: 20px;
    }
    .haqto_support_content {
        padding-top: 0;
        padding-right: 40px;
    }
    .haqto_service_img_content.img_left .service_img_1 {
        margin-right: -120px;
    }
    .haqto_service_img_content.img_left .service_img_2 {
        left: -25px;
    }
    .haqto_our_service_wrap .shape_2 {
        left: -740px;
    }
    .haqto_our_service_wrap .shape_1 {
        right: -570px;
    }
    .haqto_service_img_content.img_right .service_img_1 {
        margin-left: -70px;
    }
    .haqto_service_img_content.img_right .service_img_2 {
        right: -20px;
        top: 0;
    }
    .haqto_banner.haqto_banner_one {
        padding: 150px 0 100px;
    }
    .haqto_banner_content .banner_title {
        font-size: 48px;
        line-height: 70px;
        margin-bottom: 10px;
    }
    .haqto_banner.haqto_banner_one .haqto_banner_content {
        padding-top: 0;
    }
    .haqto_banner_img_content {
        padding-top: 55px;
    }
    .haqto_how_it_tab_content_wrap .tab_custom_arrow.prevtab {
        left: 15px;
    }
    .haqto_how_it_tab_content_wrap .tab_custom_arrow.nexttab {
        right: 15px;
    }
    .haqto_service_img_content.img_left .service_img_2 {
        top: 0;
    }
    .haqto_mockup_content {
        padding: 0 35px;
    }
    .haqto_call_to_action_content .call_title {
        font-size: 40px;
    }
    .haqto_feature_wrap {
        padding: 55px 0;
    }
    .haqto_how_it_works_wrap {
        padding: 50px 0 55px;
    }
    .haqto_how_it_works_wrap .sec_title {
        margin-bottom: 35px;
    }
    .sec_title {
        font-size: 36px;
        line-height: 44px;
    }
    .haqto_our_service_wrap {
        padding: 80px 0 50px;
    }
    .haqto_service_item.haqto_service_img_right {
        margin-bottom: 80px;
    }
    .haqto_support_wrap {
        padding: 110px 0 0;
    }
    .haqto_download_app_wrap {
        padding: 50px 0 0;
    }
    .haqto_download_app_content {
        padding-top: 80px;
    }
    .business_call_img_group {
        margin-left: -85px;
    }
    .haqto_footer_widget.pl_100 {
        padding-left: 0;
    }
    .haqto_review_slider .slick-arrow.slick-prev {
        left: 15px;
    }
    .haqto_review_slider .slick-arrow.slick-next {
        right: 15px;
    }
    .haqto_download_app_three_wrap .download_mockup_device img {
        max-width: 900px;
    }
    .haqto_download_app_three_wrap .download_mockup_device {
        margin-left: 0;
        margin-bottom: -115px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img {
        margin-left: -150px;
        margin-top: 0;
    }
    .haqto_banner.haqto_banner_three .haqto_banner_content .banner_title {
        color: #4d446b;
        line-height: 50px;
        font-size: 36px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_content {
        max-width: 470px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img .education_banner_img {
        max-width: 430px;
    }
    .haqto_feature_style_three .sec_title {
        margin-bottom: 15px;
    }
    .haqto_about_content.m_w_475 {
        max-width: 370px;
    }
    .haqto_pricing_plan_wrap {
        padding: 55px 0 70px;
    }
    .haqto_pricing_plan_wrap .sec_title {
        margin-bottom: 40px;
    }
    .haqto_download_app_three_wrap {
        padding-top: 0;
    }
    .haqto_download_app_three_wrap .haqto_download_app_content {
        padding-top: 40px;
    }
    .haqto_download_app_three_wrap .download_para {
        margin-bottom: 25px;
    }
    .haqto_download_app_three_wrap .haqto_btn_group {
        margin-bottom: 35px;
    }
    .haqto_f_mockup_sing_item.mockup_right .mockup_details {
        right: 0;
    }
    .haqto_f_mockup_sing_item .m_img .right_dot_line {
        right: 150px;
    }
    .haqto_f_mockup_sing_item.mockup_right .dot {
        right: 445px;
    }
    .haqto_call_to_action_three .haqto_call_to_action_img .call_to_action_three_img {
        margin-left: 100px;
    }
    .haqto_call_to_action_three .haqto_call_to_action_img .call_to_action_three_img .cloud_1 {
        left: -50px;
    }
    .haqto_call_to_action_three .haqto_call_to_action_img .call_to_action_three_img .dots {
        left: -75px;
    }
    .haqto_call_to_action_three .haqto_call_to_action_img .call_to_action_three_img .call_img_2 {
        bottom: -180px;
    }
    .haqto_f_mockup_sing_item .m_img .right_mockup_img {
        max-width: 300px;
    }
    .haqto_f_mockup_sing_item .m_img .Left_mockup_img {
        max-width: 300px;
    }
    .haqto_f_mockup_sing_item .m_img .left_shadow {
        display: none;
    }
    .haqto_feature_mockup_wrap .bg_shape {
        max-width: 600px;
        height: 75px;
    }
    .haqto_f_mockup_sing_item .m_img .left_dot_line {
        max-width: 200px;
    }
    .haqto_f_mockup_sing_item .m_img .right_dot_line {
        top: 80px;
    }
    .haqto_f_mockup_sing_item.mockup_right .dot {
        top: 320px;
    }
    .haqto_f_mockup_sing_item.mockup_right .mockup_details {
        top: 55px;
    }
    .haqto_f_mockup_sing_item .m_img .left_dot_line {
        top: 130px;
        right: 150px;
    }
    .haqto_f_mockup_sing_item.mockup_left .mockup_details {
        right: 315px;
    }
    .haqto_f_mockup_sing_item.mockup_left .dot {
        top: 125px;
        right: 160px;
    }
    .haqto_download_app_three_wrap {
        margin-bottom: 90px;
    }
    .haqto_faq_wrap {
        padding-bottom: 40px;
    }
    .haqto_call_to_action_four {
        padding: 55px 0 60px;
    }
    .haqto_footer_wrap {
        padding: 55px 0 15px;
    }
    .haqto_footer_widget {
        margin-bottom: 60px;
    }
    .haqto_download_app_three_wrap .download_mockup_device img {
        max-width: 100%;
    }
    .haqto_grafe_img_content {
        padding-left: 20px;
    }
    .haqto_grafe_img_content .img_inner .grafe_man_2 {
        right: -172px;
        bottom: 40px;
    }
    .haqto_grafe_img_content .img_inner .grafe_man_2 img {
        max-width: 140px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img .social_banner_img .social_banner_img_1 {
        margin-left: -60px;
    }
    .haqto_analytics_img_content .analytics_img_inner .analytics_icon_3 {
        left: -100px;
    }
    .haqto_analytics_img_content .analytics_img_inner .analytics_icon_1 {
        left: -105px;
    }
    .haqto_call_to_action_img_content .call_img_1 {
        left: -393px;
        max-width: 735px;
        top: -335px;
    }
    .haqto_call_to_action_img_content .call_img_2 {
        left: -240px;
        max-width: 740px;
    }
    .haqto_call_to_action_img_content .call_img_3 {
        left: 120px;
        max-width: 735px;
        bottom: -525px;
    }
    .p_r_45 {
        padding-right: 15px;
    }
    .p_l_45 {
        padding-left: 15px;
    }
    .haqto_blog_single_banner {
        padding: 95px 0 75px;
    }
    .haqto_inner_banner .haqto_banner_content .banner_title {
        font-size: 36px;
        line-height: 50px;
    }
    .blog_wrap {
        padding: 60px 0;
    }
    .blog_single_item {
        margin-bottom: 20px;
    }
    .haqto_author {
        margin-bottom: 50px;
    }
    .comment_reply {
        margin-bottom: 50px;
    }
    .blog_wrap.blog_single_wrap {
        padding-bottom: 40px;
    }
    .haqto_contact_form_group {
        padding: 30px;
    }
    .haqto_price_two .haqto_price_item {
        padding: 30px 15px;
    }
    .haqto_price_item {
        padding: 35px 50px 50px;
    }
    .haqto_restaurant_feature_item{
        padding: 0px;
    }
    .haqto_restaurant_software_area .row{
        margin-left: -15px;
        margin-right: -15px;
    }
    
}


/*============== end @media (max-width: 1024px) =================*/

@media (max-width: 992px) {
    .haqto_mockup_content {
        padding-right: 50px;
    }
}


/*============== end @media (max-width: 992px) =================*/

@media (max-width: 991px) {
    .haqto_header .header_nav .haqto_header_menu ul.navbar-nav {
        margin-bottom: 15px;
        display: block;
    }
    .haqto_header .header_nav .haqto_header_menu ul li.nav-item {
        margin-left: 0;
        margin-bottom: 5px;
    }
    .haqto_header .header_nav .haqto_header_menu .haqto_try_for_free {
        text-align: center;
        margin-left: 0;
        margin-bottom: 15px;
    }
    .haqto_header_menu {
        background: #fff;
        padding: 0px 15px;
    }
    .haqto_header .header_nav .haqto_header_menu ul li.nav-item a.nav-link.dropdown-toggle::after {
        right: 0;
    }
    .haqto_header .header_nav .haqto_header_menu ul li.nav-item .dropdown-menu {
        padding: 18px 40px 20px;
        margin: 0 0 22px;
        border-bottom: 1px solid #e1e5ec;
        border-radius: 0;
    }
    .haqto_header .header_nav .haqto_header_menu ul {
        padding: 20px 0 15px
    }
    .haqto_header .header_nav .haqto_header_menu ul li.nav-item a.nav-link {
        color: #2c234d;
    }
    .haqto_header .header_nav .haqto_header_menu .haqto_try_for_free {
        border-color: #5268f2;
        box-shadow: none;
        display: inline-block;
    }
    .haqto_header.fixedMenu .header_nav .haqto_header_menu .haqto_try_for_free {
        margin-bottom: 10px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img {
        margin-left: -80px;
    }
    .haqto_banner.haqto_banner_three .haqto_banner_content .banner_title {
        line-height: 40px;
        font-size: 30px;
    }
    .haqto_header.haqto_header_style_three .header_nav .haqto_hamburger .bar_icon .bar {
        background: #5268f2;
    }
    .haqto_header.haqto_header_style_three .header_nav .haqto_header_menu .haqto_try_for_free::after {
        background-image: linear-gradient(90deg, #fff 0%, #fff 100%), linear-gradient(90deg, #9a11da 0%, #f23891 100%);
    }
    .haqto_f_mockup_sing_item .m_img .right_dot_line {
        max-width: 210px;
        right: 88px;
    }
    .haqto_f_mockup_sing_item.mockup_right .mockup_details {
        right: -65px;
    }
    .haqto_f_mockup_sing_item.mockup_right .dot {
        top: 245px;
        right: 295px;
    }
    .haqto_f_mockup_sing_item.mockup_left .mockup_details {
        right: auto;
        left: -40px;
    }
    .haqto_call_to_action_three .haqto_call_to_action_content .sec_title {
        font-size: 28px;
        line-height: 36px;
    }
    .haqto_call_to_action_three .haqto_call_to_action_img .call_to_action_three_img {
        margin-left: 0;
    }
    .haqto_call_to_action_three .haqto_call_to_action_img .call_to_action_three_img .call_img_2 {
        bottom: -160px;
        left: -52px;
    }
    .haqto_feature_wrap {
        padding-bottom: 65px;
    }
    .haqto_call_to_action_three .haqto_call_to_action_img .call_to_action_three_img .cloud_2 {
        left: 240px;
        top: 0;
    }
    .haqto_call_to_action_three {
        padding: 130px 0 85px;
    }
    .haqto_about_three {
        padding-bottom: 65px;
        padding-top: 50px;
    }
    .haqto_about_dot img {
        display: none;
    }
    .haqto_about_content .haqto_abs_num {
        display: none;
    }
    .haqto_social_about_wrap .pl_100 {
        padding-left: 15px;
    }
    .haqto_about_three .sec_title {
        margin-bottom: 60px;
    }
    .haqto_about_content_item_1 {
        margin-bottom: 60px;
    }
    .haqto_price_item {
        margin-bottom: 50px;
    }
    .haqto_pricing_plan_wrap {
        padding-bottom: 30px;
    }
    .haqto_feedback_wrap {
        padding: 55px 0;
    }
    .haqto_call_to_action_content .call_title {
        font-size: 30px;
    }
    .haqto_call_to_action_content .call_para {
        font-size: 16px;
    }
    .haqto_header.haqto_menu_center .header_nav .logo {
        position: static;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_content {
        max-width: 100%;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_content {
        padding-top: 60px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_content .banner_title {
        font-size: 30px;
        line-height: 40px;
    }
    .haqto_banner_img_content {
        padding-top: 55px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img {
        margin-left: 0;
        margin-top: 0;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img .social_banner_img {
        margin-top: 0;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img .social_banner_img .social_banner_img_1 {
        margin-left: -20px;
        max-width: 440px;
        margin-bottom: -230px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img .social_banner_img .soci_banner_img.img_2 {
        bottom: -48px;
        left: -60px;
        max-width: 180px;
    }
    .haqto_banner_img_content .banner_img .social_banner_img .soci_banner_img.img_3 {
        bottom: 140px;
        right: -15px;
        max-width: 80px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img .social_banner_img .soci_banner_img.img_4 {
        top: 0;
        left: 75px;
        max-width: 70px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img .social_banner_img .soci_banner_img.img_3 {
        bottom: 130px;
        right: -25px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img .social_banner_img .wev_1 {
        bottom: 40px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img .social_banner_img .wev_3 {
        bottom: 230px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img .social_banner_img .wev_4 {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .haqto_grafe_img_content {
        padding-left: 0;
        display: flex;
        justify-content: center;
    }
    .haqto_social_about_content {
        padding-top: 0;
        padding-bottom: 50px;
    }
    .haqto_header.fixedMenu,
    .haqto_header.haqto_menu_center.fixedMenu {
        padding: 5px 0;
    }
    .haqto_header.haqto_menu_center {
        padding: 15px 0;
    }
    .haqto_watching_wrap {
        padding: 110px 0 60px;
    }
    .haqto_analytics_img_content.pl_100 {
        padding-left: 0;
        padding-right: 30px;
    }
    .sec_title2 {
        font-size: 30px;
        line-height: 40px;
    }
    .haqto_analytics_img_content .analytics_img_inner .analytics_icon_2 {
        right: -50px;
    }
    .haqto_call_to_action_two_wrap .haqto_call_to_action_content .haqto_btn_group .btn_solid {
        margin-bottom: 20px;
    }
    .haqto_call_to_action_two_wrap .haqto_call_to_action_content .haqto_btn_group .btn_solid+.btn_solid {
        margin-left: 0;
    }
    .haqto_header.social_header .header_nav .haqto_header_menu .haqto_btn_right {
        position: static;
        display: block;
    }
    .haqto_header.haqto_header_inner_menu .header_nav .haqto_header_menu ul li.nav-item a.nav-link {
        color: #4d446b;
    }
    .haqto_header.haqto_header_inner_menu .header_nav .haqto_header_menu .haqto_try_for_free {
        color: #5268f2;
        border-color: #5268f2;
    }
    .pagination_content {
        margin-bottom: 40px;
    }
    .haqto_price_two .haqto_price_item {
        margin-bottom: 30px;
    }
    .haqto_price_two {
        padding-top: 70px;
        margin-bottom: 0;
        padding-bottom: 30px;
    }
    .haqto_price_language {
        margin-bottom: 40px;
        padding-bottom: 40px;
    }
    .haqto_price_lan_title {
        max-width: 100%;
    }
    .haqto_select_language {
        margin-bottom: 40px;
    }
    .haqto_banner_one .haqto_banner_img_content .banner_img img {
        max-width: 100%;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(1) {
        left: 30px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(2) {
        top: 0;
        left: 170px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(8) {
        top: 45%;
        left: 25px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(13) {
        left: 30px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(3) {
        top: 100px;
        left: 135px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(4) {
        left: 290px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(5) {
        top: 130px;
        left: 280px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(9) {
        top: 125px;
        left: 435px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(6) {
        top: -30px;
        left: 620px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(7) {
        left: 455px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(10) {
        left: 545px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(17) {
        left: 605px;
        bottom: 75px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(18) {
        bottom: -30px;
        left: 390px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(12) {
        top: 50px;
        left: 78%;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(19) {
        bottom: 0;
        left: 515px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(20) {
        bottom: 50px;
        right: 195px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(11) {
        top: 90px;
        left: 610px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(16) {
        bottom: 95px;
        left: 370px;
    }
    .haqto_mobile_mockup .mockup_2 {
        display: none;
    }
    .title {
        font-size: 24px;
        line-height: 30px;
    }
    .haqto_mockup_content {
        padding: 0;
    }
    .haqto_service_img_content.img_right .service_img_1 {
        margin-left: 0;
    }
    .haqto_service_img_content.img_right .service_img_2,
    .haqto_service_img_content.img_left .service_img_2 {
        display: none;
    }
    .haqto_service_img_content.img_left .service_img_1 {
        margin-right: 0;
    }
    .haqto_call_to_action_content .call_title {
        font-size: 30px;
        line-height: 40px;
    }
    .haqto_support_img {
        padding-top: 60px;
        text-align: center;
    }
    .haqto_support_img .img_inner .shape_2 .shape_2_inner {
        right: 0;
    }
    .haqto_mockup_img .mockup_inner .download_2 {
        display: none;
    }
    .haqto_download_app_content .haqto_btn_group .haqto_dbtn.btn_solid_color {
        padding: 11px 12px;
        margin-right: 10px;
    }
    .haqto_download_app_content .haqto_btn_group .haqto_dbtn {
        font-size: 15px;
    }
    .haqto_download_app_content .haqto_btn_group .haqto_dbtn.btn_solid_color .iconify {
        font-size: 15px;
        margin-right: 6px;
    }
    .haqto_download_app_content .haqto_btn_group .haqto_dbtn.btn_border .iconify {
        font-size: 26px;
        margin-right: 8px;
    }
    .haqto_download_app_content .haqto_btn_group .haqto_dbtn.btn_border {
        padding: 7px 20px 7px 10px;
    }
    .haqto_mockup_img .mockup_inner {
        padding-left: 50px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img .education_banner_img {
        max-width: 400px;
    }
    .haqto_f_mockup_sing_item .m_img .Left_mockup_img {
        max-width: 250px;
    }
    .haqto_f_mockup_sing_item .m_img .right_mockup_img {
        max-width: 250px;
    }
    .haqto_f_mockup_sing_item.mockup_left .mockup_details {
        left: 0;
    }
    .haqto_f_mockup_sing_item .m_img .left_dot_line {
        top: 155px;
        right: 140px;
        max-width: 170px;
    }
    .haqto_f_mockup_sing_item.mockup_left .dot {
        top: 145px;
        right: 145px;
    }
    .haqto_f_mockup_sing_item.mockup_left {
        padding-top: 45px;
    }
    .haqto_feature_mockup_wrap .bg_shape {
        max-width: 460px;
        height: 60px;
        top: 200px;
    }
    .haqto_f_mockup_sing_item.mockup_right .mockup_details {
        right: 0;
    }
    .haqto_f_mockup_sing_item.mockup_left .mockup_details {
        bottom: 0;
    }
    .haqto_download_app_three_wrap .download_mockup_device img {
        max-width: 550px;
    }
    .haqto_download_app_three_wrap .download_mockup_device {
        margin-bottom: -80px;
    }
    .w_items_wrap {
        margin: 0 -15px 20px;
    }
    .w_items {
        padding: 0 15px;
    }
    .w_items {
        padding: 0 15px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img .social_banner_img .social_banner_img_1 {
        margin-left: 0;
        max-width: 100%;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img .social_banner_img .soci_banner_img.img_2 {
        bottom: -110px;
        max-width: 125px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img .social_banner_img .soci_banner_img.img_4 {
        left: 45px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img .social_banner_img .soci_banner_img.img_3 {
        bottom: 40px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img .social_banner_img .wev_1 {
        bottom: -35px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img .social_banner_img .wev_3 {
        bottom: 150px;
    }
    .haqto_download_two_img_content .img_inner .download_two_shape {
        right: -15px;
    }
    .haqto_analytics_img_content.pl_100 {
        padding-left: 75px
    }
    .haqto_social_feature .sec_title2 {
        margin-bottom: 45px;
    }
    .haqto_social_feature .haqto_feature_item {
        margin-bottom: 50px;
    }
    .haqto_watching_wrap {
        padding: 70px 0 60px;
    }
    .haqto_grafe_img_content .img_inner .grafe_man_1 {
        bottom: -15px;
        left: -188px;
    }
    .haqto_grafe_img_content .img_inner .grafe_man_1 img {
        max-width: 155px;
    }
    .haqto_analytics_wrap {
        padding: 70px 0 60px;
    }
    .haqto_analytics_img_content .analytics_img_inner .analytics_shape {
        bottom: 40px;
    }
    .haqto_download_app_two_wrap {
        padding-bottom: 65px;
    }
    .haqto_call_to_action_img_content .call_img_1 {
        left: -410px;
        max-width: 575px;
        top: -270px;
    }
    .haqto_call_to_action_img_content .call_img_2 {
        left: -350px;
        max-width: 690px;
        top: 120px;
    }
    .haqto_call_to_action_img_content .call_img_3 {
        left: 0;
        max-width: 655px;
        bottom: -370px;
    }
    .haqto_contact_form_content .title {
        font-size: 36px;
        line-height: 50px;
    }
    .haqto_contactUs_wrap {
        padding-top: 60px;
    }
    .haqto_contact_item {
        margin-bottom: 50px;
    }
    .haqto_contact_form_group {
        margin-top: -150px;
    }
    .haqto_contact_form_wrap {
        padding-bottom: 30px;
    }
    .haqto_how_it_tab_content_wrap .tab_custom_arrow.prevtab,
    .haqto_how_it_tab_content_wrap .tab_custom_arrow.nexttab {
        display: none;
    }
    .haqto_banner.haqto_banner_two {
        padding-bottom: 80px;
    }
    .haqto_finance_banner_area{
        padding-bottom: 200px;
    }
    .haqto_finance_banner_content{
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        margin-bottom: 50px;
    }
    .haqto_finance_banner_content p{
        max-width: 570px;
        margin-left: auto;
        margin-right: auto;
    }
    .haqto_finance_banner_area .d-flex{
        justify-content: center;
    }
    .haqto_finance_features_area .justify-content-end{
        justify-content: center !important;
    }
    .features_mockup{
        margin-bottom: 50px;
    }
    .haqto_finance_features_area {
        padding-bottom: 40px;
    }
    .promo_img img{
        max-width: 100%;
    }
    .haqto_finance_app_promo_area{
        display: block;
    }
    .haqto_finance_app_promo_area .haqto_app_left, .haqto_finance_app_promo_area .haqto_app_right{
        width: 100%;
    }
    .haqto_finance_app_promo_area .haqto_app_left{
        display: none;
    }
    .haqto_finance_app_promo_area .haqto_app_right{
        padding: 100px 15px;
    }
    .haqto_finance_app_promo_area .haqto_app_right .app_content{
        padding-right: 0;
    }
    .feedback_slider .item{
        padding-left: 8px;
        padding-right: 8px;
    }
    .haqto_health_banner .haqto_banner_content .banner_title{
        font-size: 49px;
        line-height: 60px;
    }
    .haqto_health_banner_img .img_watch{
        right: 120px;
    }
    .haqto_health_about_slider .slider_details{
        margin-top: -65px;
        padding-left: 20px;
        padding-right: 10px;
    }
    .haqto_health_about_slider .slider_details .sd_img img{
        width: 300px;
    }
    .haqto_health_about_slider{
        padding-left: 0;
        padding-right: 0;
    }
    .haqto_health_about_slider .slick-arrow.slick-prev,.haqto_health_about_slider .slick-arrow.slick-next{
        top: 5px;
        transform: translateY(0);
        border-color: #fff;
        left: 5px;
    }
    .haqto_health_about_slider .slick-arrow.slick-prev:before,.haqto_health_about_slider .slick-arrow.slick-next:before{
        color: #fff;
    }
    .haqto_health_about_slider .slick-arrow.slick-prev:hover,.haqto_health_about_slider .slick-arrow.slick-next:hover{
        background: #fff;
    }
    .haqto_health_about_slider .slick-arrow.slick-prev:hover:before,.haqto_health_about_slider .slick-arrow.slick-next:hover:before{
        color: #6bc33c;
    }
    .haqto_health_about_slider .slick-arrow.slick-next{
        left: 65px;
        right: auto;
    }
    .haqto_health_about_slider .slider_details .sd_text{
        margin-left: 20px;
    }
    .haqto_fitness_img_content .fitness_mockup_img{
        right: 44px;
    }
    .haqto_fitness_content .sec_sub_title_2,.haqto_fitness_content .sec_title_2{
        font-size: 31px;
        line-height: 38px;
    }
    .haqto_h_service_wrap .pl_100 {
        padding-left: 0;
    }
    .haqto_health_call_to_img .img_1 img,.haqto_health_call_to_img .img_2 img{
        max-width: 100%;
    }
    .haqto_health_call_to_contant .haqto_btn_group .haqto_dbtn .btn_inner .text{
        font-size: 15px;
    }
    .haqto_health_call_to_contant .haqto_btn_group .haqto_dbtn{
        margin-right: 5px;
        padding: 9px 20px 13px;
    }
    .haqto_health_call_to_contant .haqto_btn_group .haqto_dbtn + .haqto_dbtn{
        margin-right: 0;
    }
    .haqto_health_call_to_action_wrap{
        padding-top: 80px;
        padding-bottom: 50px;
        height: auto;
    }
    .discover_info .item:nth-child(1) img{
        width: 200px;
    }
    .discover_info .item + .item {
        margin-left: -43px;
    }
    .haqto_health_banner_img{
        margin-bottom: -50px;
    }
    .haqto_testimonial_info .slick-slide .testimonial_item{
        padding: 30px 20px;
    }
    .haqto_contact_items{
        padding: 50px 20px;
    }
    .haqto_food_about_img.img_left .about_round.one{
        left: 0;
    }
    .haqto_food_banner_area .macbook_img img{
        width: 300px;
        margin-left: 0;
    }
    .haqto_food_banner_area .macbook_img .round{
        width: 400px;
        height: 400px;
        left: -50px;
    }
    .top_img{
        display: none;
    }
    .haqto_restaurant_banner_area{
        height: auto;
        padding: 150px 0px 100px;
    }
    .haqto_restaurant_banner_area .justify-content-end{
        justify-content: center !important;
    }
    .desh_img{
        margin-top: 45px;
    }
    .desh_img .round{
        width: 550px;
        height: 550px;
        margin-top: -275px;
        margin-left: -275px;
    }
    .haqto_restaurent_action_content{
        margin-top: 50px;
    }
    .haqto_restaurent_action_img img{
        width: 150px;
    }
    .haqto_restaurent_action_img img + img{
        width: 480px;
    }
    .coupon_form .coupon_w {
        max-width: 250px;
    }
    .coupon_form .form-group .restaurant_btn{
        min-width: auto;
    }
    .haqto_restaurent_features_item .haqto_features_img{
        margin-bottom: 50px;
    }
    .restaurent_partners_item{
        padding-left: 8px;
        padding-right: 8px;
    }
    .restaurent_partners_item img{
        max-width: 100%;
    }
}


/*============== end @media (max-width: 991px) =================*/

@media (max-width: 768px) {
    .haqto_banner.haqto_banner_three .shape_1 {
        right: -550px;
    }
    .haqto_banner.haqto_banner_three .shape_2 {
        right: -550px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img {
        margin-left: -110px;
    }
    .haqto_banner.haqto_banner_two {
        padding-bottom: 0px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img .social_banner_img .soci_banner_img.img_2 {
        bottom: -60px;
    }
}


/*============== end @media (max-width: 768px) =================*/

@media (max-width: 767px) {
    .haqto_cleint_logo_content .client_logo_list li:nth-child(1) {
        left: 30px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(2) {
        left: 120px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(3) {
        left: 95px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(4) {
        left: 205px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(5) {
        left: 205px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(6) {
        left: 425px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(7) {
        left: 325px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(8) {
        left: 25px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(9) {
        top: 110px;
        left: 365px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(10) {
        left: 400px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(11) {
        left: 390px;
        top: 40px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(12) {
        left: 53%;
        top: 20%;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(13) {
        left: 30px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(14) {
        left: 90px;
        bottom: 90px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(15) {
        left: 215px;
        bottom: 0;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(16) {
        left: 280px;
        bottom: 140px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(17) {
        left: 300px;
        bottom: 65px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(18) {
        left: 345px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(19) {
        left: 400px;
        bottom: 65px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(20) {
        right: 280px;
        bottom: 60px;
    }
    .haqto_banner.haqto_banner_one {
        padding: 115px 0 100px;
    }
    .haqto_banner_content .banner_title {
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 20px;
    }
    .haqto_banner_content .banner_para {
        margin-bottom: 20px;
    }
    .haqto_banner_content .email_box {
        margin-bottom: 25px;
    }
    .haqto_banner_img_content {
        padding-top: 20px;
        display: flex;
        justify-content: center;
    }
    .sec_title {
        font-size: 30px;
        line-height: 36px;
    }
    .haqto_feature_wrap .sec_title {
        margin-bottom: 50px;
    }
    .haqto_feature_item {
        margin-bottom: 40px;
    }
    .haqto_feature_wrap {
        padding-bottom: 50px;
    }
    .haqto_support_wrap {
        padding-top: 50px;
    }
    .haqto_support_content {
        padding-right: 0;
    }
    .haqto_support_img .img_inner .shape_2 {
        display: none;
    }
    .haqto_support_img .img_inner img {
        margin: 0;
    }
    .haqto_our_client_wrap {
        padding: 50px 0 90px;
    }
    .haqto_mobile_mockup {
        padding-left: 0;
        text-align: center;
        margin-bottom: 30px;
    }
    .haqto_mobile_mockup img {
        display: inline-block;
    }
    .business_call_img_group {
        margin-left: 0;
    }
    .haqto_call_to_action_img {
        display: flex;
        justify-content: center;
    }
    .haqto_service_content {
        padding-top: 0;
        max-width: 100%;
    }
    .haqto_service_img_content {
        text-align: center;
    }
    .col_reverse {
        flex-direction: column-reverse;
    }
    .haqto_service_item.haqto_service_img_right {
        margin-bottom: 0;
    }
    .haqto_service_img_content.img_left {
        text-align: center;
    }
    .haqto_download_app_content .haqto_btn_group {
        justify-content: center;
    }
    .haqto_service_item.haqto_service_img_right {
        flex-direction: column-reverse;
    }
    .haqto_footer_widget {
        margin-bottom: 50px;
    }
    .haqto_download_app_content {
        padding-top: 0;
        margin-bottom: 50px;
    }
    .haqto_copy_right .copy_right_text {
        text-align: center;
    }
    .haqto_footer_social .social_item {
        justify-content: center;
        margin-bottom: 20px;
    }
    .haqto_footer_wrap {
        padding: 50px 0 20px;
    }
    .haqto_mockup_img .mockup_inner {
        padding-left: 0;
        text-align: center;
    }
    .haqto_banner_img_content .banner_img .banner_img_iphoneX {
        display: none;
    }
    .haqto_call_to_action_wrap {
        padding: 45px 0;
    }
    .haqto_download_app_three_wrap .download_mockup_device img {
        max-width: 400px;
    }
    .haqto_download_app_three_wrap .download_mockup_device {
        margin-bottom: -80px;
    }
    .haqto_banner.haqto_banner_three .shape_1,
    .haqto_banner.haqto_banner_three .shape_2 {
        display: none;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img {
        margin: 130px 0 0 0;
    }
    .haqto_feature_wrap .sec_title br {
        display: none;
    }
    .haqto_feature_mockup_wrap .bg_shape {
        display: none;
    }
    .haqto_f_mockup_sing_item.mockup_left {
        padding-top: 0;
        margin-right: 0;
    }
    .haqto_f_mockup_sing_item.mockup_left .mockup_details {
        left: 80px;
    }
    .haqto_f_mockup_sing_item.mockup_right {
        margin-left: 0;
        margin-top: 80px;
    }
    .haqto_f_mockup_sing_item .m_img .right_dot_line {
        max-width: 230px;
        right: 125px;
    }
    .haqto_f_mockup_sing_item.mockup_right .dot {
        top: 270px;
        right: 355px;
    }
    .haqto_call_to_action_three .haqto_call_to_action_img .call_to_action_three_img .call_img_2 {
        bottom: -180px;
        left: -65px;
    }
    .haqto_about_content.m_w_475 {
        max-width: 100%;
    }
    .haqto_about_content_item_1,
    .haqto_about_content_item_3 {
        flex-direction: column-reverse;
    }
    .haqto_about_img_wrap img {
        margin-bottom: 30px;
    }
    .slider_inner {
        padding: 15px 15px 25px;
    }
    .haqto_download_app_three_wrap .haqto_btn_group .haqto_dbtn.btn_google_play {
        margin-left: 0;
    }
    .haqto_download_app_three_wrap .haqto_btn_group .haqto_dbtn.btn_google_play {
        padding: 11px 20px;
    }
    .haqto_download_app_three_wrap .haqto_btn_group .haqto_dbtn.btn_google_play .icon {
        font-size: 16px;
    }
    .haqto_download_app_three_wrap .haqto_btn_group .haqto_dbtn.btn_apple {
        padding: 8px 25px;
    }
    .haqto_download_app_three_wrap .haqto_btn_group .haqto_dbtn.btn_apple .icon {
        font-size: 24px;
    }
    .haqto_download_app_three_wrap .haqto_btn_group .haqto_dbtn.btn_windows {
        padding: 9px 20px;
    }
    .haqto_download_app_three_wrap .haqto_btn_group .haqto_dbtn.btn_windows .icon {
        font-size: 16px;
    }
    .sec_title br {
        display: none;
    }
    .haqto_download_app_three_wrap {
        margin-bottom: 0;
    }
    .haqto_faq_wrap .sec_title {
        margin-bottom: 30px;
    }
    .haqto_faq_item {
        padding: 10px 20px;
    }
    .haqto_faq_item .haqto_faq_para {
        padding-top: 10px;
    }
    .haqto_call_to_action_four .shape_1,
    .haqto_call_to_action_four .shape_2 {
        display: none;
    }
    .haqto_call_btn_group {
        text-align: left !important;
        padding-top: 30px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_content {
        max-width: 100%;
    }
    .haqto_call_to_action_three .haqto_call_to_action_img .call_to_action_three_img {
        margin-bottom: 270px;
    }
    .haqto_grafe_img_content .img_inner .grafe_man_1 {
        left: -173px;
    }
    .haqto_grafe_img_content .img_inner .grafe_man_1 img {
        max-width: 140px;
    }
    .haqto_analytics_img_content .analytics_img_inner {
        margin-bottom: 60px;
    }
    .haqto_download_two_content {
        max-width: 100%;
        margin-bottom: 40px;
    }
    .haqto_analytics_wrap {
        padding-bottom: 0;
    }
    .haqto_call_to_action_img_content .call_img_1 {
        left: -380px;
        max-width: 535px;
        top: -135px;
    }
    .haqto_call_to_action_img_content .call_img_2 {
        left: -285px;
        max-width: 580px;
        top: 230px;
    }
    .haqto_call_to_action_img_content .call_img_3 {
        left: 0;
        max-width: 580px;
        bottom: -370px;
    }
    .md_none {
        display: none;
    }
    .haqto_grafe_img_content .img_inner .grafe_img {
        max-width: 300px;
    }
    .haqto_grafe_img_content .img_inner .grafe_man_1 {
        left: -163px;
    }
    .haqto_grafe_img_content .img_inner .grafe_man_1 img {
        max-width: 140px;
    }
    .haqto_grafe_img_content .img_inner .grafe_man_2 {
        right: -143px;
    }
    .haqto_grafe_img_content .img_inner .grafe_man_2 img {
        max-width: 120px;
    }
    .haqto_grafe_img_content .img_inner .grafe_item {
        left: -25px;
    }
    .haqto_grafe_img_content .img_inner .grafe_item .grafe_item_img {
        max-width: 350px;
    }
    .haqto_inner_banner {
        padding: 70px 0 65px;
    }
    .blog_single_item .blog_post .post_content .post_title {
        font-size: 26px;
        line-height: 36px;
    }
    .code_post .blog_post .post_content {
        padding: 30px;
    }
    .haqto_inner_banner {
        padding: 60px 0 45px;
    }
    .haqto_inner_banner.haqto_blog_single_banner .haqto_banner_content .banner_title {
        font-size: 26px;
        line-height: 36px;
    }
    .haqto_contactUs_wrap {
        padding-bottom: 0;
    }
    .haqto_contact_form_content {
        max-width: 100%;
    }
    .haqto_contact_form_content .title {
        font-size: 30px;
        line-height: 44px;
        margin-bottom: 35px;
    }
    .haqto_contact_form_wrap {
        padding-top: 40px;
    }
    .haqto_contact_form_group {
        margin-top: 40px;
    }
    .haqto_select_language .select {
        margin: 0 15px;
    }
    .haqto_price_two .container {
        max-width: 100%;
    }
    .haqto_pricing_plan_wrap .container {
        max-width: 100%;
    }
    .haqto_price_lan_title {
        margin-bottom: 15px;
        text-align: center;
    }
    .haqto_price_language {
        text-align: center;
    }
    .portfolio_filter {
        margin: 50px 0;
    }
    .portfolio_filter .work_portfolio_item {
        padding: 5px 15px;
        margin: 0 3px;
    }
    .haqto_price_item .p_list li {
        text-align: center;
    }
    .haqto_price_item.popular {
        background-size: contain;
    }
    .finance_action_inner{
        padding-left: 15px;
        padding-right: 15px;
    }
    .haqto_features_promo_content {
        margin-top: 45px;
    }
    .haqto_features_promo_area{
        padding-bottom: 100px;
    }
    .haqto_health_banner_img{
        padding-top: 0;
    }
    .haqto_health_banner .haqto_banner_content {
        padding: 147px 0 0px;
    }
    .haqto_health_featured {
        padding: 132px 0 50px;
    }
    .haqto_health_about_slider .slider_details{
        display: block;
    }
    .haqto_health_about_slider .slider_details .sd_text{
        padding-top: 35px;
        margin-left: 0;
    }
    .haqto_fitness_content{
        padding-top: 0;
        max-width: 100%;
        margin-bottom: 0px;
    }
    .haqto_h_service_wrap .pl_100{
        padding-left: 15px;
        padding-top: 0px;
    }
    .haqto_h_service_item_content{
        padding-top: 50px;
    }
    .haqto_health_call_to_action_wrap{
        padding-bottom: 80px;
    }
    .haqto_health_call_to_contant{
        padding-top: 0;
    }
    .haqto_fitness_content{
        padding-bottom: 60px;
    }
    .haqto_h_service_wrap {
        padding: 30px 0 70px;
    }
    .haqto_h_service_item {
        margin-bottom: 60px;
    }
    .haqto_clients_inner .round_circle {
        width: 500px;
        height: 500px;
    }
    .haqto_clients_logo .one{
        width: 100px;
    }
    .haqto_clients_inner .haqto_clients_logo{
        height: 296px;
    }
    .haqto_clients_inner .haqto_clients_logo .eight {
        right: -6px;
    }
    .haqto_clients_inner .haqto_clients_logo .two {
        left: -6px;
    }
    .haqto_clients_inner .haqto_clients_logo .three {
        left: 18px;
        top: 125px;
    }
    .haqto_clients_inner .haqto_clients_logo .seven{
        right: 18px;
        top: 125px;
    }
    .haqto_clients_inner .haqto_clients_logo .six {
        right: 89px;
        bottom: -20px;
    }
    .haqto_clients_inner .haqto_clients_logo .four {
        left: 89px;
        bottom: -20px;
    }
    .haqto_fitness_wrap{
        padding: 100px 0px;
    }
    .haqto_food_about_img.img_left .about_round.one{
        width: 400px;
        height: 400px;
        margin-top: -200px;
    }
    .haqto_food_about_img img{
        width: 250px;
    }
    .haqto_food_about_img .about_round.one{
        width: 300px;
        height: 300px;
        margin-top: -150px;
        left: 40px;
    }
    .haqto_food_about_img .about_round.two{
        width: 150px;
        height: 150px;
    }
    .haqto_food_about_content h2 {
        font-size: 32px;
        line-height: 42px;
    }
    .haqto_food_about_img .f_app_img_2 img{
        width: 180px;
    }
    .haqto_food_about_img .f_app_img_2{
        left: 12px;
    }
    .haqto_food_about_img .f_app_img_1 img{
        width: 230px;
    }
    .haqto_restaurent_action_img img{
        width: 115px;
    }
    .haqto_restaurent_action_img img + img{
        width: 370px;
    }
    .haqto_restaurant_banner_content h2{
        font-size: 40px;
    }
    .coupon_form .coupon_w,.coupon_form .coupon_w2{
        max-width: 100%;
    }
    .coupon_form{
        justify-content: center;
    }
    .haqto_restaurant_software_area{
        padding-bottom: 40px;
    }
    .haqto_feature_item .feature_img{
        justify-content: center;
    }
}


/*============== end @media (max-width: 767px) =================*/

@media (max-width: 680px) {
    .haqto_banner_content .banner_title {
        font-size: 30px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(1) {
        left: 30px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(2) {
        left: 130px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(3) {
        left: 50px;
        top: 80px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(4) {
        left: 205px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(5) {
        left: 140px;
        top: 120px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(6) {
        left: 305px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(7) {
        left: 410px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(8) {
        left: 25px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(9) {
        top: 110px;
        left: 365px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(10) {
        left: 455px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(11) {
        left: 455px;
        top: 50px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(12) {
        left: 60%;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(13) {
        left: 30px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(14) {
        left: 140px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(15) {
        left: 295px;
        bottom: 0;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(16) {
        left: 245px;
        bottom: 175px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(17) {
        left: 325px;
        bottom: 125px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(18) {
        left: 430px;
        bottom: 0;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(19) {
        left: 395px;
        bottom: 65px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(20) {
        right: 215px;
    }
    .discover_info .item:nth-child(1) img {
        width: 155px;
    }
    .discover_info .item:nth-child(2) img {
        width: 175px;
    }
    .discover_info .item:nth-child(3) img {
        width: 195px;
    }
    .discover_info .item:nth-child(4) img {
        width: 210px;
    }
    .discover_info .item:nth-child(5) img {
        width: 220px;
    }
    .discover_info .item + .item {
        margin-left: -32px;
    }
    .haqto_health_banner_img .img_mobile img{
        width: 250px;
    }
    .haqto_health_banner_img .img_watch img{
        width: 150px;
    }
    .haqto_health_banner .haqto_banner_content .banner_para{
        padding-right: 0;
    }
    .haqto_health_about_slider .slider_details .sd_img img{
        max-width: 100%;
    }
    .haqto_health_about_slider .slider_details{
        margin-top: -17px;
        padding-left: 10px;
    }
    .haqto_health_banner .haqto_banner_content {
        padding: 110px 0 0px;
    }
    .haqto_health_call_to_contant .sec_title_2{
        font-size: 32px;
    }
    .haqto_health_call_to_contant .sec_sub_title_2{
        font-size: 32px;
    }
    .food_service_item {
        padding: 15px 0px;
    }
    .food_round_shap.five,.food_title br{
        display: none;
    }
    .haqto_food_app_promo_area .haqto_app_right .app_content{
        padding-left: 0;
    }
    .food_title,.haqto_food_app_promo_area .haqto_app_right .app_content h2,.haqto_restaurent_action_content h2{
        font-size: 32px;
        line-height: 38px;
    }
    .haqto_food_about_img .about_round.one{
        left: 0;
    }
    .haqto_food_about_area {
        padding-top: 0;
    }
    .haqto_restaurent_content h2{
        font-size: 26px;
        line-height: 35px;
    }
    .rest_action_dbtn{
        margin-left: 5px;
    }
    .haqto_restaurent_features_area{
        padding-top: 230px;
    }
}

@media (max-width:576px){
    .haqto_restaurent_action_img img,.haqto_restaurent_action_img{
        display: block;
        text-align: center;
    }
    .haqto_restaurent_action_img img,.haqto_restaurent_action_img img + img{
        margin: 0 auto;
    }
    .haqto_restaurent_action_img img + img{
        margin-top: 15px;
    }
    .restaurant_faq_inner .tab-content .card .card-header button{
        padding-left: 10px;
    }
    .restaurant_faq_inner .tab-content .card .card-header button i{
        right: 15px;
    }
    .restaurant_faq_inner .tab-content .card .card-body{
        padding-left: 12px;   
    }
    .restaurant_faq_inner .nav-tabs .nav-item + .nav-item{
        margin-left: 5px;
    }
}

/*============== end @media (max-width: 680px) =================*/

@media (max-width:480px) {
    .haqto_header {
        padding: 15px 0;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(1) {
        left: 30px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(2) {
        left: 111px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(3) {
        left: 45px;
        top: 65px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(4) {
        left: 205px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(5) {
        left: 195px;
        top: 115px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(7) {
        left: 188px;
        top: -25px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(8) {
        left: 300px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(9) {
        top: 70px;
        left: 290px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(10) {
        left: 25px;
        top: 150px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(11) {
        left: 235px;
        top: 195px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(12) {
        left: 35%;
        top: 90px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(13) {
        left: 22px;
        bottom: 70px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(14) {
        left: 100px;
        bottom: 135px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(15) {
        left: 160px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(16) {
        left: 185px;
        bottom: 110px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(17) {
        left: 110px;
        bottom: 50px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(18) {
        left: 255px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(19) {
        left: 290px;
        bottom: 75px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(20) {
        right: 265px;
        bottom: 0;
    }
    .haqto_mobile_mockup_slider .haqto_mobile_mockup_slider_item {
        padding-top: 10px;
    }
    .haqto_our_service_wrap {
        padding: 40px 0 30px;
    }
    .business_call_img_group {
        margin-left: 0;
    }
    .haqto_call_to_action_content .call_title {
        font-size: 28px;
    }
    .haqto_client_content .haqto_btn_group .haqto_dbtn.btn_solid {
        margin-bottom: 30px;
    }
    .haqto_client_content .haqto_btn_group .haqto_dbtn.btn_icon {
        margin-left: 0;
    }
    .haqto_f_mockup_sing_item.mockup_left .mockup_details,
    .haqto_f_mockup_sing_item .m_img .left_dot_line,
    .haqto_f_mockup_sing_item.mockup_right .mockup_details,
    .haqto_f_mockup_sing_item .m_img .right_dot_line {
        display: none;
    }
    .haqto_f_mockup_sing_item.mockup_left,
    .haqto_f_mockup_sing_item.mockup_right {
        display: flex;
        justify-content: center;
    }
    .haqto_f_mockup_sing_item.mockup_right .dot {
        right: 125px;
    }
    .haqto_download_app_three_wrap .download_mockup_device img {
        max-width: 250px;
    }
/*
    .sec_title {
        font-size: 24px;
        line-height: 30px;
    }
*/
    .haqto_download_app_three_wrap .haqto_btn_group {
        display: block;
    }
    .haqto_download_app_three_wrap .haqto_btn_group .haqto_dbtn.haqto_dbtn {
        margin-left: 0;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .haqto_faq_item .haqto_faq_title {
        font-size: 18px;
    }
    .haqto_banner.haqto_banner_two .haqto_banner_img_content .banner_img .education_banner_img {
        max-width: 100%;
    }
    .haqto_banner_one .haqto_banner_img_content .banner_img .img_5 img {
        max-width: 150px;
    }
    .haqto_banner.haqto_banner_three .haqto_banner_img_content .banner_img .img_4 {
        top: -65px;
        left: 100px;
    }
    .haqto_banner_one .haqto_banner_img_content .banner_img .img_4 img {
        max-width: 60px;
    }
    .haqto_grafe_img_content .img_inner .grafe_img {
        max-width: 200px;
    }
    .haqto_grafe_img_content .img_inner .grafe_man_1 {
        left: -99px;
        bottom: 0;
    }
    .haqto_grafe_img_content .img_inner .grafe_man_1 img {
        max-width: 95px;
    }
    .haqto_grafe_img_content .img_inner .grafe_man_2 {
        right: -80px;
    }
    .haqto_grafe_img_content .img_inner .grafe_man_2 img {
        max-width: 80px;
    }
    .haqto_grafe_img_content .img_inner .grafe_item {
        left: -5px;
    }
    .haqto_grafe_img_content .img_inner .grafe_item .grafe_item_img {
        max-width: 210px;
    }
    .haqto_analytics_img_content.pl_100 {
        padding-left: 70px;
    }
    .haqto_analytics_img_content .analytics_img_inner .analytics_member_1 {
        right: -35px;
        max-width: 50px;
    }
    .haqto_analytics_img_content .analytics_img_inner .analytics_member_2 {
        left: -75px;
        max-width: 90px;
    }
    .haqto_analytics_img_content .analytics_img_inner .analytics_icon_1 {
        left: -80px;
        max-width: 40px;
        bottom: 270px;
    }
    .haqto_analytics_img_content .analytics_img_inner .analytics_icon_2 {
        right: -35px;
    }
    .haqto_analytics_img_content .analytics_img_inner .analytics_icon_3 {
        left: -75px;
        max-width: 55px;
    }
    .sec_title2 {
        font-size: 26px;
        line-height: 36px;
    }
    .haqto_call_to_action_two_wrap {
        min-height: auto;
        padding-bottom: 470px;
        padding-top: 30px;
    }
    .haqto_call_to_action_img_content .call_img_1 {
        left: -235px;
        max-width: 420px;
        top: 260px;
    }
    .haqto_call_to_action_img_content .call_img_2 {
        left: -190px;
        max-width: 490px;
        top: 545px;
    }
    .haqto_call_to_action_img_content .call_img_3 {
        left: 55px;
        max-width: 470px;
        bottom: -375px;
    }
    .haqto_author {
        padding: 30px;
    }
    .blog_single_content .comment_reply_form {
        padding: 30px;
    }
    .comment-list li .media {
        display: block;
    }
    .comment-list li .media .media-left {
        margin: 0 0 20px;
    }
    .comment-list li .media .media-body .comment-list {
        padding-left: 30px;
    }
    .blog_single_content .blog_single_item blockquote {
        padding: 30px;
    }
    .tags_group {
        display: block;
    }
    .tags_group a {
        display: inline-block;
        margin-bottom: 10px;
    }
    .blog_single_content .blog_single_item {
        padding-bottom: 0;
    }
    .haqto_author .media {
        display: block;
    }
    .haqto_author .media-left {
        margin-bottom: 20px;
    }
    .haqto_inner_banner .haqto_banner_content .banner_title {
        font-size: 30px;
        line-height: 40px;
    }
    .haqto_contact_item {
        max-width: 100%;
    }
    .haqto_contact_form_wrap {
        padding-bottom: 0;
    }
    .apz_price_tab {
        padding: 10px;
        border-radius: 5px;
    }
    .apz_price_tab .nav-item {
        width: 100%;
    }
    .apz_price_tab .nav-item .nav-link {
        text-align: center;
        width: 100%;
    }
    .apz_price_tab .nav-item .nav-link.active {
        border-radius: 5px;
        background: #5268f2;
    }
    .haqto_select_language span {
        display: block;
        margin-bottom: 15px;
    }
    .haqto_select_language .select select {
        margin-bottom: 15px;
    }
    .portfolio_filter {
        display: block;
    }
    .portfolio_filter .work_portfolio_item {
        margin: 0 5px 5px 0;
    }
    .haqto_portfolio_area {
        padding-bottom: 10px;
    }
    .finance_action_inner .d-flex{
        display: block !important;
    }
    .finance_action_inner .f_solid_btn{
        display: block;
        margin-right: 0;
        margin-bottom: 15px;
    }
    .haqto_finance_banner_content h2{
        font-size: 34px;
        line-height: 50px;
    }
    .haqto_finance_banner_area .d-flex{
        display: block !important;
    }
    .haqto_finance_banner_content .video_icon{
        margin-left: 0;
        margin-top: 15px;
    }
    .finance_blog_item .post_content{
        padding-left: 15px;
        padding-right: 15px;
    }
    .haqto_finance_blog_area{
        padding-bottom: 75px;
    }
    .haqto_features_promo_content .f_title br{
        display: none;
    }
    .haqto_health_banner .haqto_banner_content .banner_title {
        font-size: 36px;
        line-height: 45px;
    }
    .haqto_fitness_img_content .fitness_mockup_img{
        right: 0;
    }
    .haqto_fitness_img_content .fitness_mockup_img img{
        max-width: 100%;
    }
    .haqto_health_call_to_contant .haqto_btn_group{
        display: block;
    }
    .haqto_health_call_to_contant .haqto_btn_group .haqto_dbtn + .haqto_dbtn{
        margin-top: 10px;
    }
    .haqto_clients_inner .c_logo{
        width: 70px;
    }
    .haqto_clients_inner .haqto_clients_logo .six {
        right: 17px;
    }
    .haqto_clients_inner .haqto_clients_logo .four{
        left: 17px;
    }
    .discover_info .item:nth-child(1) img {
        width: 102px;
    }
    .discover_info .item:nth-child(2) img {
        width: 122px;
    }
    .discover_info .item:nth-child(3) img {
        width: 140px;
    }
    .discover_info .item:nth-child(4) img {
        width: 162px;
    }
    .discover_info .item:nth-child(5) img {
        width: 182px;
    }
    .food_action_content .d-flex{
        display: block !important;
    }
    .food_action_content .food_btn{
        margin-bottom: 10px;
    }
    .food_action_content .food_btn + .food_btn{
        margin-left: 0;
    }
    .haqto_contacts_area {
        padding: 30px 0px 85px;
    }
    .desh_img .round{
        width: 400px;
        height: 400px;
        margin-top: -200px;
        margin-left: -200px;
    }
}


/*============== end @media (max-width: 480px) =================*/

@media (max-width: 375px) {
    .haqto_cleint_logo_content .client_logo_list li:nth-child(6) {
        left: 260px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(9) {
        left: 265px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(8) {
        left: 260px;
        top: 38%;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(11) {
        left: 270px;
    }
    .haqto_cleint_logo_content .client_logo_list li:nth-child(19) {
        left: 240px;
        bottom: 55px;
    }
    .haqto_call_to_action_three .haqto_call_to_action_img .call_to_action_three_img .cloud_1 {
        left: 195px;
    }
    .haqto_call_to_action_three .haqto_call_to_action_img .call_to_action_three_img .call_img_2 {
        bottom: -120px;
        left: -38px;
    }
    .haqto_call_to_action_three .haqto_call_to_action_img .call_to_action_three_img .pen img {
        max-width: 190px;
    }
    .haqto_call_to_action_three .haqto_call_to_action_img .call_to_action_three_img .pen {
        left: -20px;
    }
    .haqto_call_to_action_three .haqto_call_to_action_img .call_to_action_three_img .cloud_2,
    .haqto_call_to_action_three .haqto_call_to_action_img .call_to_action_three_img .dots {
        display: none;
    }
    .business_call_img_group .gear_icon img {
        max-width: 100px;
    }
    .business_call_img_group .chart {
        bottom: 65px;
        max-width: 50px;
    }
    .desh_img .round{
        width: 300px;
        height: 300px;
        margin-top: -150px;
        margin-left: -150px;
    }
    .restaurant_faq_inner .nav-tabs{
        display: block;
    }
    .restaurant_faq_inner .nav-tabs .nav-item + .nav-item{
        margin-left: 0;
    }
    .restaurant_faq_inner .nav-tabs .nav-item .nav-link{
        text-align: center;
    }
    .restaurant_faq_inner .nav-tabs .nav-item{
        margin-bottom: 8px;
    }
    .haqto_restaurant_banner_content h2{
        font-size: 35px;
    }
    .rest_action_dbtn{
        margin-left: 0px;
        margin-top: 10px;
    }
    .haqto_restaurent_action_content .haqto_btn_group{
        display: block;
    }
    .haqto_restaurent_action_img img{
        width: auto;
        max-width: 100%;
    }
}


/*============== end @media (max-width: 375px) =================*/