.profile-img{
    /* width: 90px;
    height: 90px;
    border: 2px solid #ff5d8f;
    border-radius: 50%;
    overflow: hidden; */
    float: left;
    margin-right: 25px;
  
  }
  .custom-container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0;
    float: none;
}
  .profile-avatar{
    object-fit: cover;
    object-position: center right;
    width: 50px;
    height: 50px;
    border: 2px solid #8c8c8c;
    border-radius: 50%;
  }
  .profile-img img{
    object-fit: cover;
    object-position: center right;
    width: 100px;
    height: 100px;
    border: 2px solid #ff5d8f;
    border-radius: 50%;
    }
    .notification-content{
margin-top: 15px;
float: left;
    }

    .view-detail .view-all{
        float: left;
    }
    .view-detail .view-all a  {
        color: #ff516a;
    }
    .view-detail .timing{
        float: right;
        color: #afafaf;
    }
.notification-content > label{
    width: 300px;
}
.hr-line{
    border-top: 2px solid #cccccc78;
    padding-top: 12px;
    margin-top: 8px;
}
.profile-sub-menu{
    align-items: unset !important;
}
.haqto_header .header_nav .haqto_header_menu .profile-sub-menu li.nav-item a.nav-link::before {
    height: 0px !important;
}
.profile-sub-menu li{
    margin-left: 0px !important;
}

.profile-section{
    height: auto;
    /* background: #ff5069; */
    background-color: #7f53ac;
    background-image: linear-gradient(340deg, #7f53ac 0%, #647dee 100%);
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    float: left;
    width: 210px;
    padding: 10px 8px;
}


.profile-content-section{
    width: calc(100% - 225px);
    height: 100vh;
    background: #fff;
    float: right;
    border: 1px solid #ff598b73;
    box-shadow: 0px 0px 4px 2px #ff5f7847;
    border-radius: 5px;
}
.profile-content-body{

}
.profile-content-body .card-title{
    padding: 16px 16px;
    float: left;
}
.profile-content-body .card-title label{
    font-size: 20px;
    margin: 0;
    font-weight: 500;
    color: #444444;
}
.profile-header{
    display: inline-block;
    width: 100%;
}

/* progress bar */
.progress {
    padding: 0;
    width: 100px;
    height: 15px;
    overflow: hidden;
    background: #e5e5e5;
    border-radius: 50px;
    float: right;
    margin: 26px;
  }
  
  .bar {
      position:relative;
    float:left;
    min-width:1%;
    height:100%;
    background:#00A03A;
  }
  
  .percent {
      position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin:0;
    font-family:tahoma,arial,helvetica;
    font-size:12px;
    color:white;
  }



.detail-slider{
    margin: 10px 38px;
    position: relative;
    padding: 0px 25px;
}
.detail-slider .slide{
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 14px 0px #0000002e;
}
.detail-slider .carousel-item{
    height: 100%;
    padding: 45px 24px;
}
.left-arrow{
    position: absolute;
    left: -19px;
    top: 45%;
}
.right-arrow{
    position: absolute;
    right: -19px;
    top: 45%;
}
.slide-body{
    display: flex;
    height: 100%;
}
.discount-content label{
    color: #fff;
    margin: 0;
    font-size: 22px;
}
.discount-content p{
    color: #fff;
}
.slide-body .slide-content{
    font-size: 18px;
    padding-left: 16px;
}
.slide-btn, .slide-btn:hover{
    background: #6779e7;
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
}
.upgradenow-btn,.upgradenow-btn:hover{
    background: white;
    color: #460a52;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}
.main-profile-img{
    text-align: center;
    position: relative;
   
}
.main-profile-img img{
    object-fit: cover;
    object-position: center right;
    width: 140px;
    height: 140px;
    border: 5px solid #484848;
    box-shadow: 0px 0px 0px 8px #ffffff87;
    border-radius: 50%;
    margin-top: 30px;
    background-color: #484848;
}
.add-photo{
    position: absolute;
    width: 100%;
    top: 17%;
    visibility: hidden;
   
}
.add-photo label{
    width: 140px;
    height: 140px;
    background: #545151a6;
    line-height: 140px;
    border-radius: 50%;
   
}
.add-photo a{
    /* background: #ff6193; */
    padding: 36px 12px;
    color: #fff;
    transition: all 0s !important;
}

.main-profile-img:hover .add-photo{
visibility: visible;

}
.account-name{
    width: 100%;
    text-align: center;
    margin-top: 12px;
    font-size: 20px;
    color: #fff;
}
.packs{
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #fff;
}

.upgrade-btn,.upgrade-btn:hover{
    background: #ff5e90;
    color: #fff;
    font-size: 12px;
    margin-top: 8px;
}
.content-profile-menu{
    margin-top: 25px;
    border-top: 1px solid #ffffff5c;
    padding-top: 14px;
}
.content-profile-menu li{
    
}
.content-profile-menu li a{
    padding: 4px 4px;
    font-size: 13px;
    color: #fff;
    margin: 8px 10px;
    display: flex;
}
.content-profile-menu li a:hover{
color: #56264a;
}
.content-profile-menu li a i{
    font-size: 16px;
    margin: 1px 10px;
}
.fixed{
    position: fixed;
	top: 80px;
}
.absolute{
    position: absolute;
	/* top: auto; */
}

.update-body{
    background: #fff;
    border: 1px solid #ff598b73;
    box-shadow: 0px 0px 4px 2px #ff5f7847;
    border-radius: 5px;
    padding: 18px;
    margin-bottom: 20px;
}
.update-body > label{
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-bottom: 24px;
    font-weight: 600;
    color: #676767;
}
.latest-update{
    display: flex;
    
}
.latest-update .partner-img img{
    object-fit: cover;
    object-position: center right;
    width: 70px;
    height: 70px;
    border: 2px solid #bbbbbb;
    border-radius: 14%;
}

.latest-update .detail-option{
    padding-left: 18px;
    font-size: 15px;
}
.update-detail .view-all,.update-detail .timing{
    font-size: 12px;
}
.viewed-profile .partner-img img{
    width: 90px;
    height: 90px;
}
.viewed-profile {
    margin-bottom: 24px;
}
.latest-update .view-detail .view-all a{
    font-weight: 600;
}



/* search page */
.payment-body{
    display: flex;
}
.payment-section {
    padding: 10px 30px;
    background: #c1c1c1;
    border-radius: 8px;
}
.payment-section .payment {
    margin-right: 30px;
}
.payment img{
    width: 35px;
}
.payment label{
    margin: 0px 10px;
    cursor: pointer;
}
.payment a:hover{
    color: #000;
}
.advantage{
    font-size: 22px;
    font-weight: 600;
    color: #980016;
}
.payment-btn, .payment-btn:hover{
    background: #ff5b8d;
    color: #fff;
    padding: 5px 30px;
}
.search-section{
    background: #fff;
    margin-top: 40px;
    padding: 25px 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 4px #ff5b8d;
}
.search-id-part{
    background: #fff;
    margin-top: 40px;
    padding: 5px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 4px #ff5b8d;
}




/* all-matches.html */
.match-title{
    float: left;
    font-size: 24px;
    font-weight: 500;
    color: #444;
}
.edit-preferences{
    float: right;
    font-size: 18px;
    line-height: 36px;
}
.match-title-body{
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
}
.view-btn > a, .view-btn > a:hover{
    background: #afafaf;
    color: #fff;
    border-radius: 50px;
    font-size: 14px;
    margin: 2px 5px;
}
.view-btn > .active-btn,.view-btn > .active-btn:hover{
    background: #ff6193;
    color: #fff;
    
}
.view-btn{
  float: left;
}
.gird-list-btn{
float: right;
}
.view-partner-body{
    clear: both;
}
.filter-result .card{
    margin-bottom: 12px;
}
.filter-result .card{
    margin-bottom: 12px;
}
.filter-result .card-header{
    background-color: rgb(239, 239, 239) !important;
}
.partner-status{
    padding: 0;
    list-style-type: none;
    display: flex;
}
.partner-status li{
    margin-right: 16px;
    padding: 0px 10px 0px 0px;
    font-size: 14px;
    margin-bottom: 10px;
}
.gird-responsive .partner-status{
    display: block !important;
}
.gird-responsive .partner-status li{
border: none !important;
}
.gird-responsive .partner-detail-body{
display: none;
}
.gird-responsive .interest-btn-body .btn{
width: 100%;
}

.hr-right{
    border-right: 2px solid #757575;
}
.offline{
    color: #909090;
}
.online{
    color: #28a745
}
.verified{
    color: #28a745
}
.interest-btn-body .btn{
    width: 49%;
    margin-bottom: 10px;
    padding: 12px 4px;
}
.interest-btn-body {
   margin-top: 30px;
}
/* grid and list view */
.view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}
.thumbnail
{
    margin-bottom: 30px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
    border: 0;
}
.item.list-group-item .img-event {
    float: left;
    width: 30%;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
    display: inline-block;
}
.item.list-group-item .caption
{
    float: left;
    width: 70%;
    margin: 0;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item:after
{
    clear: both;
}







.haqto_header .header_nav .haqto_header_menu ul li.nav-item a.nav-link.dropdown-toggle::after {
    content: "3";
    opacity: 0 !important;
}

.profile-row .name-row{ font-size: 20px;}
.profile-row .name-row span{font-size: 16px;margin-left: 10px;color: #808080; }
.profile-row .account-row{ color: #808080;}
.profile-row .account-row span{border-left: 2px solid #ff546d;padding-left: 6px;color: #ff6294; }


@media (min-width: 992px){
.haqto_header .header_nav .haqto_header_menu ul li.nav-item .dropdown-menu {
    transform: translate(-330px, 10px) !important;
}
.haqto_header .header_nav .haqto_header_menu ul li.nav-item:hover .dropdown-menu {
   
    transform: translate(-330px, 0px) !important;
}

.haqto_header .header_nav .haqto_header_menu ul li.nav-item .matches-dropdown {
    transform: translate(0px, 10px) !important;
}
.haqto_header .header_nav .haqto_header_menu ul li.nav-item:hover .matches-dropdown {
   
    transform: translate(0px, 0px) !important;
}


.navbar-expand-lg .profile-sub-menu {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}
}


















/* form pages */

.select-box .selection {
    margin-bottom: 8px;
}

.select-box .selection label {
    display: inline-block;
    width: auto;
    background-color: #ffffff;
    border-radius: 0px;
    color: #2b2b2b;
    padding: 6px 20px;
    cursor: pointer;
    font-size: 14px;
    margin: 0px 20px 4px 0px;
    border: 1px solid #ff5c8e;
}

.select-box .selection label:hover {
    background-color: #ffe1eb;
    color: #b30435;
}

.select-box .selection input[type=checkbox],.select-box .selection input[type=radio] {
  display: none;
}

.select-box .selection input[type=checkbox]:checked ~ label,.select-box .selection input[type=radio]:checked ~ label {
  background-color: #b30435;
  color: #fff;
}
.select-box{
    display: flex;
}
.form-row{
    margin: 30px 0px;
}
.form-row .form-control, .form-row .form-control:focus {
    border: none !important;
    border-bottom: 1px solid #ccc !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    width: calc(100% - 20%);
}
.form-row label{
    font-size: 18px;
    color: #949494;
}
.profile-match{
    font-size: 20px;
}
.profile-match .matching{
    font-size: 30px;
    color: #ff5183;
}
.main-title{
    text-align: center;
    font-size: 30px;
    color: #983140;
}
.select-2{
    width: 39% !important;
    float: left;
}
.mandatory{
    color: #ff5183;
}


.divider
{
	position: relative;
	margin: 60px 0px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(255, 92, 142), transparent);
}
.div-dot:after
{
    content: "\f004";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	position: absolute;
	z-index: 1;
	top: -9px;
	left: calc(50% - 9px);
	width: 18px;
	height: 18px;
	/* background-color: goldenrod;
	border: 1px solid rgb(48,49,51);
	border-radius: 50%; */
	box-shadow: inset 0 0 0 5px white, 0 0 0 8px white;
    color: #ff5c8e;
}

/*Checkboxes styles*/
.boxes input[type="checkbox"] {
  display: none;
}
.boxes {
 
}
.boxes input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  width: 170px;
  margin-bottom: 20px;
  font: 14px/20px "Open Sans", Arial, sans-serif;
  color: #7d7d7d;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.boxes input[type="checkbox"] + label:last-child {
  margin-bottom: 0;
}

.boxes input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #c50042;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  -webkit-transition: all 0.12s, border-color 0.08s;
  transition: all 0.12s, border-color 0.08s;
}

.boxes input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
#yes-dosham{
    display: none;
    width: 100%;
    background: #ffe1eb;
    padding: 8px 14px;
}


.complete-btn button{
        background: #ff6395;
    color: #fff !important;
    padding: 8px 16px;
    margin: 6px 10px;
    }
    .later-btn{
        background: #929292 !important;
    }

    .education-list, .occupation-list{
        height: 300px;
        overflow:auto;
        border: 1px solid #fb6a80;
    padding: 15px 8px;
    }


    /* tree */
    .tree {
        margin: 0;
    width: 100%;
    list-style-type: none;
    padding: 0px;
}

.tree ul {
  /* display: none; */
  margin: 4px auto;
  margin-left: 6px;
  border-left: 1px dashed #dfdfdf;
}


.tree li {
  padding: 0px 18px;
  cursor: pointer;
  vertical-align: middle;
  background: #fff;
}

.tree li:first-child {
  border-radius: 3px 3px 0 0;
}

.tree li:last-child {
  border-radius: 0 0 3px 3px;
}

.tree .active,
.active li {
  background: #fff;
}

.tree label {
  cursor: pointer;
}

.tree input[type=checkbox] {
  margin: -2px 6px 0 0px;
}

.has > label {
  color: #000;
}

.tree .total {
  color: #e13300;
}
.tree .boxes input[type="checkbox"] + label{
    width: 100% !important;
} 
.tree .main-degree{
    font-size: 18px !important;
    color: #000 !important;
}
.sub-degrees{
  margin-bottom:30px !important;
}
.word-search{
    position: relative;
}
.word-search button,.word-search button:hover{
    position: absolute;
    right: 0;
    background: #ff546d;
    padding: 6px 40px;
    color: #fff;
}



/* payment.html */
.grid-wrapper {
    width: 900px;
    margin: 15px auto;
    max-width: 100%;
    padding: 0 10px;
  }
  
  .noMargin {
    margin: 0 !important;
  }
  
  .noMarginT {
    margin-top: 0 !important;
  }
  
  .noMarginR {
    margin-right: 0 !important;
  }
  
  .noMarginB {
    margin-bottom: 0 !important;
  }
  
  .noMarginL {
    margin-left: 0 !important;
  }
  
  .noMarginLR {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  
  .noMarginTB {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  
  .title {
    font-size: 21px;
    color: #000000;
    font-weight: bold;
    margin: 0 0 15px 0;
  }
  
  .txt {
    width: 300px;
    max-width: 100%;
    font-size: 14px;
    padding: 11px 20px;
    border: 1px solid #eceef0;
    outline: none;
    height: 50px;
    background: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
  }
  .txt::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #989c9e;
  }
  .txt::-moz-placeholder {
    /* Firefox 19+ */
    color: #989c9e;
  }
  .txt:-ms-input-placeholder {
    /* IE 10+ */
    color: #989c9e;
  }
  .txt:-moz-placeholder {
    /* Firefox 18- */
    color: #989c9e;
  }
  .txt.large {
    width: 450px;
  }
  .txt.xLarge {
    width: 660px;
  }
  .txt.required {
    border-color: #ffe7e7;
    background: #fffafa;
  }
  .txt.style2 {
    background: transparent;
    border: none;
    border-bottom: 2px solid #c6c6c6;
    height: 35px;
    padding: 10px 10px;
  }
  .txt.style2.required {
    border-color: #ee1c24;
  }
  .txt.style2.required::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ee1c24;
  }
  .txt.style2.required::-moz-placeholder {
    /* Firefox 19+ */
    color: #ee1c24;
  }
  .txt.style2.required:-ms-input-placeholder {
    /* IE 10+ */
    color: #ee1c24;
  }
  .txt.style2.required:-moz-placeholder {
    /* Firefox 18- */
    color: #ee1c24;
  }
  
  .txtarea {
    height: 100px;
  }
  .txtarea.heightMedium {
    height: 140px;
  }
  
  .chckBox {
    font-weight: 500 !important;
  }
  .chckBox input {
    float: left;
    margin: 3px 5px 0 0;
    width: 14px;
  }
  
  .rqMessage {
    float: left;
    width: 100%;
    font-size: 12px;
    margin: 5px 0 10px 0;
    color: #ff4949;
  }
  
  .inputRow {
    float: left;
    width: 100%;
    margin: 0 0 10px 0;
  }
  .inputRow label {
    font-weight: 600;
    display: block;
    font-size: 15px;
    margin: 0 0 5px 0;
  }
  
  .formStyle3 .formTitle {
    color: #000;
    margin: 0 0 20px 0;
    font-size: 18px;
    font-weight: bold;
  }
  .formStyle3 .inputGroup {
    padding: 0;
    margin: 0 0 10px 0;
  }
  .formStyle3 .inputGroup label {
    font-weight: 600;
    font-size: inherit;
  }
  .formStyle3 .inputGroup .radioBtn {
    margin: 10px 0;
  }
  .formStyle3 .inputGroup .chckBox {
    margin: 6px 0;
    font-weight: 500;
  }
  .formStyle3 .inputGroup .chckBox input {
    margin-top: 2px;
  }
  .formStyle3 .inputRow {
    margin: 0 0 20px 0;
  }
  .formStyle3 .inputRow label {
    display: block;
    margin: 0 0 10px 0;
    vertical-align: top;
    font-weight: 600;
    font-size: inherit;
  }
  .formStyle3 .inputRow .txt {
    width: 100%;
  }
  .formStyle3 .inputRow .txt.uyeTel {
    width: 13%;
    float: left;
  }
  .formStyle3 .inputRow .txt.uyeTel2 {
    width: 83%;
    margin-left: 13%;
    display: inherit;
    position: relative;
    left: 23px;
  }
  .formStyle3 .inputRow .chckBox {
    margin: 5px 0;
    font-weight: 500;
  }
  .formStyle3 .inputs {
    width: 100%;
    display: inline-block;
  }
  .formStyle3 .inputs.innerText {
    text-align: center;
  }
  .formStyle3 .inputs.innerText .txt {
    width: 43%;
    float: left;
  }
  .formStyle3 .inputs.innerText .txt:nth-last-child(1) {
    float: right;
  }
  .formStyle3 .inputs.innerText .text {
    display: inline-block;
    margin: 12px 0 0 0;
  }
  .formStyle3 .inputs.oneCol .txt {
    width: 100%;
    margin: 0 0 10px 0;
  }
  .formStyle3 .inputs.twoCol .wrapper {
    display: inline-block;
    width: 48%;
  }
  .formStyle3 .inputs.twoCol .wrapper:nth-last-child(1) {
    float: right;
  }
  .formStyle3 .inputs.treeCol .wrapper {
    display: inline-block;
    width: 31%;
  }
  .formStyle3 .inputs.treeCol .wrapper:nth-child(1) {
    margin: 0 3% 0 0;
  }
  .formStyle3 .inputs.treeCol .wrapper:nth-last-child(1) {
    float: right;
  }
  .formStyle3 .inputs.fourCol .wrapper {
    display: inline-block;
    width: 22%;
  }
  .formStyle3 .inputs.fourCol .wrapper:nth-child(1) {
    margin: 0 3% 0 0;
  }
  .formStyle3 .inputs.fourCol .wrapper:nth-child(2) {
    margin: 0 3% 0 0;
  }
  .formStyle3 .inputs.fourCol .wrapper:nth-last-child(1) {
    float: right;
  }
  .formStyle3 .input {
    width: 100%;
  }
  
  .cartProto {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
  }
  .cartProto .cartProtoInner {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    width: 350px;
    height: 220px;
    max-width: 100%;
    margin: 0 auto;
  }
  .cartProto .cart {
    width: 350px;
    height: 220px;
    max-width: 100%;
    margin: 0 auto;
    border: 1px solid #c3c3c3;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    padding: 0;
    background: #e0e0e0;
    position: relative;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  .cartProto .cart.front {
    z-index: 2;
  }
  .cartProto .cart.front .content {
    width: 80%;
    position: absolute;
    left: 10%;
    bottom: 40px;
  }
  .cartProto .cart.front .shiny {
    width: 50px;
    height: 35px;
    border-radius: 5px;
    background: #ccc;
    position: relative;
  }
  .cartProto .cart.front .shiny:before {
    content: " ";
    display: block;
    width: 70%;
    height: 60%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #d9d9d9;
    position: absolute;
    top: 20%;
  }
  .cartProto .cart.front .cvc {
    float: right;
    position: relative;
    bottom: 5px;
  }
  .cartProto .cart.front .cardNumber {
    font-size: 19px;
    clear: both;
    margin-bottom: 15px;
  }
  .cartProto .cart.front .fullName {
    text-transform: uppercase;
    font-size: 15px;
    max-height: 45px;
    position: absolute;
    bottom: 0;
    width: 65%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: horizontal;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .cartProto .cart.front .cardExpiry {
    letter-spacing: 0em;
    position: relative;
    float: right;
    width: 25%;
    font-size: 13px;
  }
  .cartProto .cart.front .cardExpiry > .inner {
    padding-top: 3px;
  }
  .cartProto .cart.front .cardExpiry:before {
    content: attr(data-before);
    margin-bottom: 2px;
    text-transform: uppercase;
    font-size: 7px;
    white-space: pre;
    display: block;
    opacity: 0.5;
    padding: 0 0 0 6px;
  }
  .cartProto .cart.front .cardExpiry:after {
    position: absolute;
    content: attr(data-after);
    text-align: right;
    right: 100%;
    margin-right: 5px;
    margin-top: 2px;
    bottom: 5px;
    font-size: 7px;
    display: block;
    opacity: 0.5;
    width: 18px;
    line-height: 1;
  }
  .cartProto .cart.back {
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    z-index: 2;
  }
  .cartProto .cart.back .cardBar {
    background-color: #444;
    width: 100%;
    height: 20%;
    position: absolute;
    top: 10%;
  }
  .cartProto .cart.back .cvc {
    position: absolute;
    top: 40%;
    left: 85%;
    -webkit-transition-delay: 600ms;
    -moz-transition-delay: 600ms;
    transition-delay: 600ms;
    font-size: 14px;
  }
  .cartProto .cart.back .shiny {
    width: 50px;
    height: 35px;
    border-radius: 5px;
    background: #ccc;
    position: relative;
    position: absolute;
    top: 66%;
    left: 2%;
  }
  .cartProto .cart.back .shiny:before {
    content: " ";
    display: block;
    width: 70%;
    height: 60%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #d9d9d9;
    position: absolute;
    top: 20%;
  }
  .cartProto .cart.back .shiny:after {
    content: "This card has been issued by Jesse Pollak and is licensed for anyone to use anywhere for free.AIt comes with no warranty.A For support issues, please visit: github.com/jessepollak/card.";
    position: absolute;
    left: 120%;
    top: 5%;
    color: white;
    font-size: 7px;
    width: 230px;
    opacity: 0.5;
  }
  .cartProto .cart.back:after {
    content: " ";
    display: block;
    background-color: #fff;
    width: 80%;
    height: 16%;
    position: absolute;
    top: 40%;
    left: 2%;
  }
  .cartProto .cart span.inner {
    padding: 0 5px;
    border: 1px solid #e0e0e0;
    display: inline-block;
  }
  .cartProto .cart span.inner.active {
    border: 1px solid #f00;
  }
  .cartProto.hover .cartProtoInner {
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  .cartProto.hover .cart.back {
    z-index: 3;
  }
.proceed-btn, .proceed-btn:hover {
    background: #6f6bd2;
    padding: 8px 35px;
    color: #fff;
    margin: 0px 10px;
}  



/* profile-preview */
.user-img img{
  object-fit: cover;
    object-position: center right;
    width: 100%;
    height: 100%;
    border: 2px solid #8c8c8c;
}
.user-listout{

}
.user-listout .user-name{
  font-size: 28px;
  font-weight: 600;
}
.user-listout .user-id{

}
.user-listout .user-id span{
  border-left: 2px solid #716d6d;
  padding: 0px 10px;
}
.other-details{

}
.other-details ul{
  padding: 15px;
    list-style: none;
    padding-left: 0;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    margin-top: 30px;
    margin-bottom: 10px;
}
.other-details ul li{
  color: #000;
    font-size: 14px;
    letter-spacing: .7px;
    margin-bottom: 10px;
    width: calc(100% - 20px);
    display: -webkit-inline-box!important;
    display: inline-flex!important;
}
.other-details ul li::before {
  content: "\2022";
  color: #ff4e80;
    font-weight: 700;
    font-size: 36px;
    padding-right: 10px;
    line-height: 20px;
}
.about-user{
  margin-top: 60px;
  box-shadow: 0px 0px 8px 1px #ccc;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
}
.user-content {
  background: #fff;
  box-shadow: 0px 0px 8px 1px #ccc;
    padding: 20px;
    border-radius: 5px;
}
.about-user .about-user-title{
  font-size: 25px;
  position: relative;
  margin-bottom: 24px;
  color: #716f6f;
}

.about-user .about-content{
  
}
.about-user-title::before{
  content: '';
  height: 5px;
    width: 39px;
    background: #ffbed0;
    position: absolute;
    bottom: -5px;
    border-radius: 20px;
}
.about-user-head-title{
  border-bottom: 1px solid #ccc;
    width: 100%;
    font-size: 24px;
    padding: 10px 0px;
    font-weight: 500;
    color: #ff4e80;
    margin-bottom: 15px;
}
.label-margin{
  margin: 35px 0px 18px 0px;
}



/* myprofile */
.edit-details{
  margin-top: 44px;
}

.edit-details label{
  font-size: 25px;
}
.textarea-content{
  height: 140px !important;
    width: 100% !important;
    margin-top: 0px;
    margin-bottom: 0px;
    overflow: auto;
}
.detail-head{
  display: inline-block;
    width: 100%;
}